<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogEmpKpiForm"
      fullscreen
      transition="dialog-bottom-transition"
    >
      <v-toolbar
        dark
        color="green"
        style=" position: fixed;top: 0%;overflow-y: scroll;z-index:1"
      >
        <v-btn icon dark @click="dialogEmpKpiForm = false">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title>รายละเอียดของพนักงาน</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card>
        <EmployeeInfo></EmployeeInfo>
        <EmployeeIndicator></EmployeeIndicator>
        <EmployeeBoard></EmployeeBoard>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState } from 'vuex';
import EmployeeInfo from '../kpi/dialog_kpi/EmployeeInfo';
import EmployeeIndicator from '../kpi/dialog_kpi/KpiIndicator';
import EmployeeBoard from '../kpi/board/EmployeeBoard';
export default {
  data() {
    return {
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false
    };
  },
  components: {
    EmployeeInfo,
    EmployeeIndicator,
    EmployeeBoard
  },
  computed: {
    ...mapState(['']),
    dialogEmpKpiForm: {
      get() {
        return this.$store.state.dialogEmpKpiForm;
      },
      set(value) {
        this.$store.commit('updateDialogEmpKpiForm', value);
      }
    }
  }
};
</script>
