<template>
  <div>
    <transition
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutLeft"
    >
      <Loading ref="loading" v-show="loading"></Loading>
    </transition>
    <v-container grid-list-xs v-show="!loading">
      <v-text-field
        outlined
        filled
        dense
        label="ค้นหารหัสพนักงาน"
        v-model="search"
        prepend-inner-icon="mdi-magnify"
      ></v-text-field>
      <template>
        <v-data-table
          :headers="headers"
          :items="searchEmployeeList"
          class="elevation-1"
        >
          <template v-slot:item.present="{ item }">
            <p
              @click="DownloadPresentFile(item)"
              v-if="item.present_file"
              class="mt-5 indigo--text"
            >
              {{ item.present_file }}
            </p>
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn
              @click="openFormKpi(item)"
              class="mb-2"
              tile
              outlined
              color="success"
            >
              <v-icon left>mdi-pencil</v-icon> ประเมินพนักงาน
            </v-btn>
          </template>
        </v-data-table>
        <v-footer height="50"></v-footer>
      </template>
    </v-container>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { eventBus } from '../../main.js';
import api from '../../service/index.js'
import Loading from '../../views/Loading';
export default {
  data() {
    return {
      headers: [
        {
          text: 'รหัสพนักงาน',
          align: 'left',
          value: 'employeeid'
        },
        {
          text: 'ชื่อ-นามสกุล',
          value: 'newName'
        },
        { text: 'ตำแหน่ง', value: 'position_detail' },
        { text: 'ฝ่ายงาน', value: 'org_name_detail' },
        { text: 'ปี/รอบ', value: 'newYearTerm' },
        { text: 'ไฟล์พรีเซ้นต์', value: 'present' },
        { text: 'ประเมินพนักงาน', value: 'action' }
      ],
      employeeLists: [],
      searchEmployeeList: [],
      employeeId: '',
      statusMobile: true,
      loading: false,
      search: ''
    };
  },
  computed: {
    ...mapState(['employeeInfo','employeeBoard']),
  },
  components: {
    Loading
  },
  watch: {
    search(value) {
      let searchEmployeeLists = this.employeeLists.filter(employee => {
        return employee.employeeid.toLowerCase().includes(value.toLowerCase());
      });
      this.searchEmployeeList = searchEmployeeLists;
    }
  },
  async created() {
    let employeeIdData = await api.getEmployeeIdBoard(
      this.$route.params.employeeId
    );
    this.employeeId = employeeIdData.data;
    eventBus.$on('getAllEmployeeListsKpi', this.getAllEmployeeListsKpi);
    eventBus.$emit('getAllEmployeeListsKpi');
    this.getAllPositions();
  },
  methods: {
    async getAllEmployeeListsKpi() {
      this.loading = true;
      let employeeListData = await api.getEmployeeBoard(this.employeeId, {
        onDownloadProgress: async progressEvent => {
          const totalLength = progressEvent.lengthComputable
            ? progressEvent.total
            : progressEvent.target.getResponseHeader('content-length') ||
              progressEvent.target.getResponseHeader(
                'x-decompressed-content-length'
              );
          if (totalLength !== null) {
            this.progressData = Math.round(
              (progressEvent.loaded * 100) / totalLength
            );
            this.$refs.loading.load(this.progressData);
            if (this.progressData == 100) {
              setTimeout(() => {
                this.loading = false;
              }, 1000);
            }
          }
        }
      });
      if (employeeListData.data === 'fail') {
        this.$router.push({ name: 'employee_not_found' });
      }
      this.statusMobile = false;
      let apiEmployeeLists = employeeListData.data.employeeLists;
      apiEmployeeLists.forEach(employee => {
        let newEmployee = { ...employee };
        let newNameEmployee = `${newEmployee.name} ${newEmployee.surname}`;
        var newTerm = '';
        if (newEmployee.term === 'middleYear') {
          newTerm = 'กลางปี';
        } else if (newEmployee.term === 'lateYear') {
          newTerm = 'ปลายปี';
        }
        employee.newName = newNameEmployee;
        employee.newYearTerm = `${employee.year}/${newTerm}`;
      });
      this.employeeLists = apiEmployeeLists;
      this.searchEmployeeList = this.employeeLists;
    },
    async getAllPositions() {
      let positionData = await api.getAllPositions();
      this.$store.commit('updatePositionLists', positionData.data);
    },
    openFormKpi(employee) {
      this.$store.commit('updateEmployeeInfo', employee);
      this.getEmployeeList();
      this.$store.commit('updatePortfolioLists', employee.projectKpi);
      this.$store.commit('updateViewMode', true);
      this.$store.commit('updateDialogEmpKpiForm', true);
    },
    async getEmployeeList () {
      let employeeIdData = await api.getEmployeeIdBoard(
        this.$route.params.employeeId
      );
      this.employeeId = employeeIdData.data;
      var source = {
        employeeid: this.employeeInfo.employeeid,
        term: this.employeeInfo.term,
        year: this.employeeInfo.year
      }
      let employeeData = await api.getEmployeeLists({ source: source });
      let result = employeeData.data.board
      let temp = {}
      for (var j = 0; j < result.length; j++) {
        if (result[j]['employeeid_board'] === this.employeeId) {
          if (result[j]['grade_board'] != null) {
            this.grade = result[j]['grade_board']
          }
          if (result[j]['comment'] != null) {
            this.comment = result[j]['comment']
          }
          if (result[j]['pass_board'] != null) {
            this.resultSummary = result[j]['pass_board']
          }
          temp = {grade: this.grade, comment: this.comment, resultSummary:this.resultSummary}
        }
      }
      this.$store.commit('updateEmployeeBoard', temp);
    },
    DownloadPresentFile(item) {
      let payload = {
        year: item.year,
        term: item.term,
        present_file: item.present_file
      };
      window.open(api.downloadFilePresent(payload), '_blank');
    }
  }
};
</script>
