<template>
  <div>
    <transition
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutLeft"
    >
      <Loading ref="loading" v-show="loading"></Loading>
    </transition>
    <v-container
      grid-list-xs
      v-show="!loading"
      style="position:absolute;top:10%"
    >
      <v-col class="d-flex" cols="12" sm="6">
        <v-text-field
          class="mr-3"
          outlined
          filled
          dense
          label="ค้นหารหัสพนักงาน"
          v-model="search"
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
        <v-btn color="orange darken-1" dark tile @click="reset">
          <v-icon left>mdi-backup-restore</v-icon> RESET
        </v-btn>
      </v-col>

      <v-col class="d-flex" cols="12" sm="6">
        <v-select
          v-model="year"
          :items="listYear"
          item-text="name"
          item-value="value"
          label="ปี"
          filled
          outlined
        ></v-select>

        <v-select
          v-model="term"
          :items="performanceTermLists"
          item-text="name"
          item-value="value"
          label="รอบ"
          filled
          outlined
        ></v-select>
      </v-col>

      <template>
        <v-data-table
          :headers="headers"
          :items="searchEmployeeList"
          class="elevation-1"
        >
          <template v-slot:item.validstatus="{ item }">
            <v-chip
              v-if="item.validstatus === 4"
              color="purple accent-2"
              outlined
              >รอการตรวจสอบจาก HR</v-chip
            >
            <v-chip v-if="item.validstatus === 3" color="primary" outlined
              >ได้รับการแก้ไข</v-chip
            >
            <v-chip
              v-else-if="item.validstatus === 2"
              color="green darken-1"
              outlined
              >ประเมินแล้ว</v-chip
            >
            <v-chip
              v-else-if="item.validstatus === 5"
              color="green darken-1"
              outlined
              >ประเมินแล้ว</v-chip
            >
            <v-chip
              v-else-if="item.validstatus === 1"
              color="amber darken-3"
              outlined
              >ยังไม่ประเมิน</v-chip
            >
          </template>
          <template v-slot:item.transfer="{ item }">
            <v-btn
              v-if="item.em_id_leader === employeeId"
              class="mb-2"
              tile
              outlined
              color="success"
              @click="openFormTransfer(item)"
            >
              <v-icon left>mdi-account-multiple</v-icon> โอนสิทธิ์พนักงาน
            </v-btn>
            <v-chip v-else color="indigo darken-4" outlined
              >โอนสิทธิ์ให้กับ {{ item.name_th }} {{ item.surname_th }}</v-chip
            >
          </template>
          <template v-slot:item.action="{ item }">
            <v-btn
              @click="openFormKpi(item)"
              class="mb-2"
              tile
              outlined
              color="success"
            >
              <v-icon left>mdi-pencil</v-icon> ประเมินพนักงาน
            </v-btn>
          </template>
        </v-data-table>
        <v-footer height="50"></v-footer>
      </template>
      <v-footer fixed bottom>
        <v-btn
          v-if="!statusMobile"
          :disabled="disabledCountKpiBtn"
          class="elevation-10"
          style="width:100%"
          color="green"
          :dark="!disabledCountKpiBtn"
          @click="confirmAllEmpKpi"
        >
          ยืนยันการประเมินทั้งหมด
        </v-btn>
        <v-spacer></v-spacer>
      </v-footer>
      <div class="text-center">
        <v-snackbar
          v-model="snackbar"
          top
          multi-line
          :timeout="0"
          :color="snackbarColor"
        >
          {{ snackbarText }}
          <v-btn color="white" text @click="closeSnackbar">
            Close
          </v-btn>
        </v-snackbar>
      </div>
    </v-container>
    <LoadingPage ref="loadingPage"></LoadingPage>
  </div>
</template>

<script>
import { eventBus } from '../../main.js';
import { mapState } from 'vuex';
import api from '../../service/index.js';
import Loading from '../../views/Loading';
import LoadingPage from '../../views/LoadingPage';
export default {
  data() {
    return {
      headers: [
        {
          text: 'รหัสพนักงาน',
          align: 'left',
          value: 'employeeid'
        },
        {
          text: 'ชื่อ-นามสกุล',
          value: 'newName'
        },
        { text: 'ตำแหน่ง', value: 'position_detail' },
        { text: 'ฝ่ายงาน', value: 'org_name_detail' },
        { text: 'ปี/รอบ', value: 'newYearTerm' },
        { text: 'สถานะ', value: 'validstatus' },
        { text: 'โอนสิทธิ์พนักงาน', value: 'transfer' },
        { text: 'ประเมินพนักงาน', value: 'action' }
      ],
      performanceTermLists: [
        { name: 'กลางปี', value: 'middleYear' },
        { name: 'ปลายปี', value: 'lateYear' }
      ],
      employeeLists: [],
      searchEmployeeList: [],
      employeeId: '',
      employeeStatus: false,
      statusMobile: true,
      loading: false,
      search: '',
      snackbarText: '',
      snackbarColor: 'red',
      term: '',
      year: '',
      disabledCountKpiBtn: true
    };
  },
  components: {
    Loading,
    LoadingPage
  },
  computed: {
    ...mapState(['snackbar']),
    listYear: function() {
      let list = [];
      var date = new Date();
      var max = date.getFullYear() + 2
      var till = 2019
      for (let y = max; y >= till; y--) {
        list.push({
          name: y + 543,
          value: `${y + 543}`
        });
      }
      return list;
    }
  },
  watch: {
    search(value) {
      this.searchEmployeeList = [...this.employeeLists];
      this.filterYear();
      this.filterTerm();
      let searchEmployeeLists = this.searchEmployeeList.filter(employee => {
        return employee.employeeid.toLowerCase().includes(value.toLowerCase());
      });
      this.searchEmployeeList = searchEmployeeLists;
    },
    year() {
      this.search = '';
      this.filterYear();
      this.filterTerm();
    },
    term() {
      this.search = '';
      this.filterYear();
      this.filterTerm();
    }
  },
  async created() {
    let employeeIdData = await api.getEmployeeIdAccessor(
      this.$route.params.employeeId
    );
    this.employeeStatus = employeeIdData.data.status;
    this.employeeId = employeeIdData.data.employeeid;
    this.$store.commit('updateEmployeeId', this.employeeId);
    eventBus.$on('getAllEmployeeListsKpi', this.getAllEmployeeListsKpi);
    eventBus.$emit('getAllEmployeeListsKpi');
    this.getAllPositions();
  },
  methods: {
    async getAllEmployeeListsKpi() {
      this.loading = true;
      let employeeListData = await api.getEmployeeKpi(this.employeeId, {
        onDownloadProgress: async progressEvent => {
          const totalLength = progressEvent.lengthComputable
            ? progressEvent.total
            : progressEvent.target.getResponseHeader('content-length') ||
              progressEvent.target.getResponseHeader(
                'x-decompressed-content-length'
              );
          if (totalLength !== null) {
            this.progressData = Math.round(
              (progressEvent.loaded * 100) / totalLength
            );
            this.$refs.loading.load(this.progressData);
            if (this.progressData == 100) {
              setTimeout(() => {
                this.loading = false;
                this.$store.commit('updateSnackbar', true);
              }, 1000);
            }
          }
        }
      });
      if (employeeListData.data === 'fail') {
        this.$router.push({ name: 'employee_not_found' });
      }
      this.statusMobile =
        employeeListData.data.status_onechat >= 2 ? true : false;
      let apiEmployeeLists = employeeListData.data.employeeLists;
      let countKpi = 0;
      let sumKpi = 0;
      apiEmployeeLists.forEach(employee => {
        let newEmployee = { ...employee };
        let newNameEmployee = `${newEmployee.name} ${newEmployee.surname}`;
        var newTerm = '';
        if (newEmployee.term === 'middleYear') {
          newTerm = 'กลางปี';
        } else if (newEmployee.term === 'lateYear') {
          newTerm = 'ปลายปี';
        }

        if (newEmployee.validstatus === 2) {
          countKpi++;
        }

        if (newEmployee.validstatus !== 5) {
          sumKpi++;
        }

        employee.newName = `${newNameEmployee} (${employee.NicknameTh})`;
        employee.newYearTerm = `${employee.year}/${newTerm}`;
      });
      if (countKpi === sumKpi) {
        this.disabledCountKpiBtn = false;
        this.snackbarColor = 'green';
      }
      this.snackbarText = `ประเมินพนักงานไปแล้ว ${countKpi}/${sumKpi}`;
      this.employeeLists = apiEmployeeLists;
      this.searchEmployeeList = this.employeeLists;
      this.defaultVariable();
    },
    async getAllPositions() {
      let positionData = await api.getAllPositions();
      this.$store.commit('updatePositionLists', positionData.data);
    },
    openFormKpi(employee) {
      this.$store.commit('updateSnackbar', false);
      if (employee.em_id_leader === this.employeeId) {
        this.$store.commit('updateViewMode', false);
      } else {
        this.$store.commit('updateViewMode', true);
      }

      if (this.employeeStatus === 'deactive') {
        this.$store.commit('updateViewMode', true);
      }

      this.$store.commit('updateEmployeeInfo', employee);
      this.$store.commit('updatePortfolioLists', employee.projectKpi);
      eventBus.$emit('sumGradePercent');
      this.$store.commit('updateDialogEmpKpiForm', true);
    },
    openFormTransfer(employee) {
      this.$store.commit('updateSnackbar', false);
      this.$store.commit('updateEmployeeInfo', employee);
      this.$store.commit('updateDialogTransferEmpKpi', true);
    },
    closeSnackbar() {
      this.$store.commit('updateSnackbar', false);
    },
    defaultVariable() {
      var date = new Date();
      this.year = `${date.getFullYear() + 543}`;
      this.term = date.getMonth() + 1 >= 8 ? 'lateYear' : 'middleYear';
    },
    reset() {
      this.search = '';
      this.year = '';
      this.term = '';
    },
    filterYear() {
      if (this.year !== '') {
        let searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.year === this.year;
        });
        this.searchEmployeeList = searchEmployeeLists;
      }
    },
    filterTerm() {
      if (this.term !== '') {
        let searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.term === this.term;
        });
        this.searchEmployeeList = searchEmployeeLists;
      }
    },
    confirmAllEmpKpi() {
      let func = { func: this.confirmAllEmployeeKpi };

      this.$refs.loadingPage.openDialog(
        'คุณต้องการยืนยันการประเมินทั้งหมดใช่หรือไม่',
        ``,
        'alert',
        func
      );
    },
    async confirmAllEmployeeKpi() {
      var date = new Date();
      let apiSource = {
        employeeid: this.employeeId,
        year: `${date.getFullYear() + 543}`,
        term: date.getMonth() + 1 >= 6 ? 'lateYear' : 'middleYear'
      };
      let apiResult = await api.confirmAllEmpKpi({ source: apiSource });
      let func = { func: this.getAllEmployeeListsKpi };
      if (apiResult.data === 'Success') {
        this.$refs.loadingPage.openDialog(
          'สำเร็จ',
          'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
          'success',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณาลองใหม่อีกครั้งภายหลัง หรือติดต่อ HR',
          'error'
        );
      }
    },
    empty() {}
  }
};
</script>
