<template>
  <v-container fluid>
    <v-card style="height:80vh" class="xs-auto">
      <!-- <v-card-subtitle class="pb-0">Number 10</v-card-subtitle> -->

          <h2 class="text" style="padding-top: 12%;">ผลการประเมินเกรด{{term}} {{year}}</h2>
          <h2 class="text">ของ {{name}} {{surname}}</h2>
          <h2 class="text">รหัสพนักงาน {{employeeId}}</h2>
          <h2 class="text" v-if="this.present_kpi === 'active'">ไดรับการประเมินเกรด: {{grade}}</h2>
          <h2 class="text" v-else-if="this.old_grade_GM != null">ไดรับการประเมินเกรด: {{old_grade_GM}}</h2>
          <h2 class="text" v-else>ไดรับการประเมินเกรด: {{old_grade}}</h2>
          <h2 class="text" v-if="this.pass_hr === 'ปรับตำแหน่ง'">ผลการปรับตำแหน่ง: ผ่าน {{position_change}}</h2>
          <h2 class="text" v-else-if="this.pass_hr === 'ไม่ปรับตำแหน่ง'">ผลการปรับตำแหน่ง: ไม่ปรับตำแหน่ง</h2>

          <!-- <v-list-item style="margin-top:50px">
            <v-list-item-content style="margin-top:65px;margin-left:15px;margin-bottom: 50px;">
              <v-list-item-title class="headline">ผลการประเมินเกรด{{term}} {{year}}</v-list-item-title>
              <v-list-item-title class="headline">ของ {{name}} {{surname}}</v-list-item-title>
              <v-list-item-title class="headline">รหัสพนักงาน {{employeeId}}</v-list-item-title>
              <v-list-item-title class="headline">ไดรับการประเมินเกรด: {{old_grade}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item> -->

      <v-col cols="12">
        <v-row align="center" justify="center">
          <v-form ref="form" v-if="statusConfirm === 0">
            <v-checkbox

              v-model="checked"
              :rules="checkedRules"
              :label="`ข้าพเจ้าได้อ่านและยินยอม`"
            ></v-checkbox>
          </v-form>
          <div v-else>
            <v-checkbox
              input-value="true"
              value
              disabled
              :label="`ข้าพเจ้าได้อ่านและยินยอม`"
            ></v-checkbox>
          </div>
        </v-row>
        <v-row align="center" justify="center">
          <v-btn
            v-if="statusConfirm === 0"
            color="green"
            dark
            @click="confirm"
            :loading="loading"
            rounded
            style="width:30%"
          >
            ยืนยัน
          </v-btn>
          <v-btn
            v-else
            color="green"
            rounded
            style="width:30%"
            disabled
          >
            ยืนยัน
          </v-btn>
        </v-row>
      </v-col>
    </v-card>
    <LoadingPage ref="loadingPage"></LoadingPage>
  </v-container>
</template>

<script>
import api from '../../service/index.js';
import LoadingPage from '../../views/LoadingPage';

export default {
  data() {
    return {
      checked: false,
      loading: false,
      checkedRules: [v => !!v || ''],
      employeeList: [],
      employeeId: '',
      name: '',
      surname: '',
      old_grade: '',
      grade: '',
      old_grade_GM: '',
      statusConfirm: '',
      year: '',
      term: '',
      present_kpi: '',
      pass_hr: '',
      position_change: ''
    };
  },
  components: {
    LoadingPage
  },
  async created() {
    let employeeData = await api.getEmployeeKpiOne(
      this.$route.params.employeeId,
      this.$route.params.year,
      this.$route.params.term
    );
    this.employeeId = employeeData.data.employeeid;
    this.name = employeeData.data.name;
    this.surname = employeeData.data.surname;
    this.old_grade = employeeData.data.old_grade;
    this.grade = employeeData.data.grade;
    this.old_grade_GM = employeeData.data.old_grade_GM;
    this.statusConfirm = employeeData.data.status_confirm;
    this.year = employeeData.data.year;
    this.term = (employeeData.data.term === 'lateYear')?'ปลายปี':'กลางปี';
    this.present_kpi = employeeData.data.present_kpi;
    this.pass_hr = employeeData.data.pass_hr;
    this.position_change = employeeData.data.position_detail;
    // console.log(this.old_grade_GM);
  },
  methods: {
    confirm() {
      if (this.$refs.form.validate()) {
        // this.loading = !this.loading;
        // console.log('validate');
        let apiSource = {
          employeeid: this.$route.params.employeeId,
          term: this.$route.params.term,
          year: this.$route.params.year
        };
        let apiResult = api.confirmGradeKpiOne({ source: apiSource });
        // console.log(apiResult);
        if (apiResult.data === 'Success') {
          this.$refs.loadingPage.openDialog(
            'สำเร็จ',
            'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
            'success'
          );
        } else {
          this.$refs.loadingPage.openDialog(
            'ไม่สำเร็จ',
            'กรุณาลองใหม่อีกครั้งภายหลัง หรือติดต่อ HR',
            'error'
          );
        }
      }
    }
  }
};
</script>
<style>
  .v-input--selection-controls.v-input .v-label {
    font-size: large;
  }
  .text {
    text-align: center;
  }
</style>
