<template>
  <div>
    <!-- <DialogEmpKpiForm></DialogEmpKpiForm> -->
    <KpiForm></KpiForm>
  </div>
</template>

<script>
import KpiForm from '../../components/kpiNew/KpiFinalGrade'

// import DialogEmpKpiForm from '../../components/kpiNew/KpiDialogWorks'
export default {
  components: {
    KpiForm
    // DialogEmpKpiForm
  }
}
</script>
