<template>
  <div>
    <DialogEmpKpiBoard></DialogEmpKpiBoard>
    <KpiBoardForm></KpiBoardForm>
  </div>
</template>

<script>
import KpiBoardForm from '../../components/kpi/KpiBoardForm';
import DialogEmpKpiBoard from '../../components/kpi/DialogEmpKpiBoard';

export default {
  components: {
    KpiBoardForm,
    DialogEmpKpiBoard
  }
};
</script>