<template>
  <div>
    <DialogEmpKpiForm></DialogEmpKpiForm>
    <DialogEmpKpiTransfer></DialogEmpKpiTransfer>
    <DialogEmpKpiMuliForm></DialogEmpKpiMuliForm>
    <KpiForm></KpiForm>
  </div>
</template>

<script>
import KpiForm from '../../components/kpiNew/KpiFormSecurity'
import DialogEmpKpiForm from '../../components/kpiNew/KpiDialog'
import DialogEmpKpiTransfer from '../../components/kpiNew/Kpitranfer'
import DialogEmpKpiMuliForm from '../../components/kpiNew/KpiMultipleEvaluate'
export default {
  components: {
    KpiForm,
    DialogEmpKpiForm,
    DialogEmpKpiTransfer,
    DialogEmpKpiMuliForm
  }
}
</script>
