<template>
  <div>
    <KpiForm></KpiForm>
  </div>
</template>

<script>
import KpiForm from '../../components/kpiNew/KpiFormSecurityApprove'
export default {
  components: {
    KpiForm
  }
}
</script>
