<template>
  <div>
    <DialogEmpKpiForm></DialogEmpKpiForm>
    <DialogEmpKpiTransfer></DialogEmpKpiTransfer>
    <KpiForm></KpiForm>
  </div>
</template>

<script>
import KpiForm from '@/components/kpi/KpiForm';
import DialogEmpKpiForm from '../../components/kpi/DialogEmpKpiForm';
import DialogEmpKpiTransfer from '../../components/transfer/DialogEmpTransfer';
export default {
  components: {
    KpiForm,
    DialogEmpKpiForm,
    DialogEmpKpiTransfer
  }
};
</script>
