<template>
  <div>
    <KpiUploadFileForm></KpiUploadFileForm>
    <DialogEmpKpiForm></DialogEmpKpiForm>
  </div>
</template>

<script>
import KpiUploadFileForm from '../../components/kpi/upload_present/KpiUploadFileForm';
import DialogEmpKpiForm from '../../components/kpi/DialogEmpKpiForm';

export default {
  components: {
    KpiUploadFileForm,
    DialogEmpKpiForm
  }
};
</script>
