<template>
  <div>
    <transition
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutLeft"
    >
      <Loading ref="loading" v-show="loading"></Loading>
    </transition>
    <v-container grid-list-xs v-show="!loading">
      <v-text-field
        outlined
        filled
        dense
        label="ค้นหารหัสพนักงาน"
        v-model="search"
        prepend-inner-icon="mdi-magnify"
      ></v-text-field>
      <template>
        <v-data-table
          :headers="headers"
          :items="searchEmployeeList"
          class="elevation-1"
        >
          <template v-slot:item.validstatus="{ item }">
            <v-chip
              v-if="!statusMobile"
              color="amber"
              :disabled="isReject(item)"
              dark
              @click="cancelEmpKpi(item)"
              >ตีกลับ</v-chip
            >
          </template>
          <template v-slot:item.transfer="{ item }">
            <v-chip
              v-if="!statusMobile && item.status_onechat === 0"
              color="light-green "
              dark
              @click="confirmOne(item)"
              >ยืนยัน</v-chip
            >
            <v-chip v-else color="white" style="color: green !important;"
              >ยืนยันแล้ว</v-chip
            >
          </template>
        </v-data-table>
        <v-footer height="50"></v-footer>
        <v-footer fixed bottom>
          <v-btn
            v-if="!loading && !statusMobile"
            class="elevation-10"
            style="width:100%"
            color="green"
            dark
            @click="confirmAll"
          >
            ยืนยันพนักงานที่เหลือทั้งหมด
          </v-btn>
          <v-spacer></v-spacer>
        </v-footer>
      </template>
      <LoadingPage ref="loadingPage"></LoadingPage>
    </v-container>
  </div>
</template>

<script>
import { eventBus } from '../../main.js';
import api from '../../service/index.js';
import LoadingPage from '../../views/LoadingPage';
import Loading from '../../views/Loading';

export default {
  data() {
    return {
      headers: [
        {
          text: 'รหัสพนักงาน',
          align: 'left',
          value: 'employeeid'
        },
        {
          text: 'ชื่อ-นามสกุล',
          value: 'newName'
        },
        { text: 'ตำแหน่ง', value: 'position_detail' },
        { text: 'ฝ่ายงาน', value: 'org_name_detail' },
        { text: 'ปี/รอบ', value: 'newYearTerm' },
        { text: 'ตีกลับ', value: 'validstatus' },
        { text: 'ยืนยัน', value: 'transfer' }
      ],
      employeeList: [],
      searchEmployeeList: [],
      employeeId: '',
      statusMobile: true,
      loading: true,
      search: '',
      employee: {}
    };
  },
  components: {
    LoadingPage,
    Loading
  },
  async created() {
    let employeeIdData = await api.getEmployeeIdAccessor(
      this.$route.params.employeeId
    );
    this.employeeId = employeeIdData.data.employeeid;
    eventBus.$on('getAllEmployeeLists', this.getAllEmployeeLists);
    eventBus.$emit('getAllEmployeeLists');
  },
  watch: {
    search(value) {
      let searchEmployeeLists = this.employeeList.filter(employee => {
        return employee.employeeid.toLowerCase().includes(value.toLowerCase());
      });
      this.searchEmployeeList = searchEmployeeLists;
    }
  },
  methods: {
    isReject(employee) {
      if (employee.validstatus === 4) {
        return true;
      } else if (employee.status_onechat === 1) {
        return true;
      } else return false;
    },
    cancelEmpKpi(employee) {
      var source = {
        employeeid: employee.employeeid,
        old_emid_leader: employee.em_id_leader,
        term: employee.term,
        year: employee.year,
        createby: employee.createby
      };
      this.$store.commit('updateEmployeeInfo', employee);
      this.$store.commit('updateSourceCancelEmpKpi', source);
      this.$store.commit('updateDialogCancelEmpKpi', true);
    },
    async getAllEmployeeLists() {
      this.loading = true;
      let employeeListData = await api.getEmployeeAccessor(this.employeeId, {
        onDownloadProgress: async progressEvent => {
          const totalLength = progressEvent.lengthComputable
            ? progressEvent.total
            : progressEvent.target.getResponseHeader('content-length') ||
              progressEvent.target.getResponseHeader(
                'x-decompressed-content-length'
              );
          if (totalLength !== null) {
            this.progressData = Math.round(
              (progressEvent.loaded * 100) / totalLength
            );
            this.$refs.loading.load(this.progressData);
            if (this.progressData == 100) {
              setTimeout(() => {
                this.$refs.loading.reset();
                this.loading = false;
              }, 1000);
            }
          }
        }
      });
      if (employeeListData.data === 'fail') {
        this.$router.push({ name: 'employee_not_found' });
      }
      this.statusMobile =
        employeeListData.data.status_onechat === 1 ? true : false;
      if (employeeListData.data.status_onechat === 1) {
        let newHeaders = [...this.headers];
        let newHead = newHeaders.filter(header => {
          if (header.value !== 'validstatus') {
            return header;
          }
        });
        this.headers = newHead;
      }
      let apiEmployeeLists = employeeListData.data.employeeLists;

      apiEmployeeLists.forEach(employee => {
        let newEmployee = { ...employee };
        let newNameEmployee = `${newEmployee.name} ${newEmployee.surname}`;
        var newTerm = '';
        if (newEmployee.term === 'middleYear') {
          newTerm = 'กลางปี';
        } else if (newEmployee.term === 'lateYear') {
          newTerm = 'ปลายปี';
        }
        employee.newName = `${newNameEmployee} (${employee.NicknameTh})`;
        employee.newYearTerm = `${employee.year}/${newTerm}`;
      });
      this.employeeList = apiEmployeeLists;
      this.searchEmployeeList = this.employeeList;
    },
    confirmAll() {
      let func = { func: this.comfirmAllEmployee };
      this.$refs.loadingPage.openDialog(
        'ต้องการยืนยันใช่หรือไม่',
        'ยืนยันพนักงานที่เหลือทั้งหมด',
        'alert',
        func
      );
    },
    async comfirmAllEmployee() {
      let apiSource = {
        employeeid: this.employeeId
      };
      let apiResult = await api.confirmAllKpi({ source: apiSource });
      let func = { func: this.getAllEmployeeLists };
      if (apiResult.data === 'Success') {
        this.$refs.loadingPage.openDialog(
          'สำเร็จ',
          'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
          'success',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณาลองใหม่อีกครั้งภายหลัง หรือติดต่อ HR',
          'error'
        );
      }
    },
    confirmOne(employee) {
      this.employee = employee;
      let func = { func: this.confirmOnePerson };
      this.$refs.loadingPage.openDialog(
        'ต้องการยืนยันใช่หรือไม่',
        'ยืนยันพนักงานคนนี้ใช่หรือไม่',
        'alert',
        func
      );
    },
    async confirmOnePerson() {
      let apiSource = {
        employeeid: this.employee.employeeid,
        term: this.employee.term,
        year: this.employee.year
      };
      let apiResult = await api.confirmTransferKpiOne({ source: apiSource });
      let func = { func: this.getAllEmployeeLists };
      if (apiResult.data === 'Success') {
        this.$refs.loadingPage.openDialog(
          'สำเร็จ',
          'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
          'success',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณาลองใหม่อีกครั้งภายหลัง หรือติดต่อ HR',
          'error'
        );
      }
    }
  }
};
</script>

<style>
.btnConfirmAll {
  margin: 15% 0%;
}
</style>
