<template>
  <div>
    <v-dialog v-model="dialogCancelEmpKpi" max-width="290">
      <v-form ref="formDialogCancel" lazy-validation>
        <v-card>
          <v-card-title>เหตุผลที่ตีกลับใบประเมิน</v-card-title>

          <v-card-text>
            <v-textarea
              outline
              label="เหตุผลการตีกลับ"
              v-model="comment_cancel"
              required
              :rules="commentCancelRules"
            ></v-textarea>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="cancelEmpKpi">
              ยกเลิก
            </v-btn>

            <v-btn color="green darken-1" text @click="confirmCancelEmpKpi">
              ยืนยัน
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <loadingPage ref="loadingPage"></loadingPage>
  </div>
</template>

<script>
import loadingPage from '../../views/LoadingPage';
import api from '../../service/index.js'
import { mapState } from 'vuex';
import { eventBus } from '../../main.js';

export default {
  data() {
    return {
      comment_cancel: '',
      commentCancelRules: [v => !!v || 'กรุณากรอกเหตุผลในการตีกลับ']
    };
  },
  components: {
    loadingPage
  },
  computed: {
    ...mapState(['sourceCancelEmpKpi', 'employeeInfo']),
    dialogCancelEmpKpi: {
      get() {
        return this.$store.state.dialogCancelEmpKpi;
      },
      set(value) {
        this.$refs.formDialogCancel.reset();
        this.$store.commit('updateDialogCancelEmpKpi', value);
      }
    }
  },
  methods: {
    cancelEmpKpi() {
      this.$refs.formDialogCancel.reset();
      this.$store.commit('updateDialogCancelEmpKpi', false);
    },
    async confirmCancelEmpKpi() {
      if (this.$refs.formDialogCancel.validate()) {
        let func = { func: this.rejectKpi };
        this.$refs.loadingPage.openDialog(
          'คุณต้องการตีกลับแบบประเมินหรือไม่',
          `ชื่อ-สกุลพนักงาน : ${this.employeeInfo.newName}`,
          'warning',
          func
        );
      } else {
        let func = { func: this.empty };
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณากรอกข้อมูลให้ครบถ้วน',
          'error',
          func
        );
      }
    },
    async rejectKpi() {
      let apiSource = {
        ...this.sourceCancelEmpKpi,
        comment_cancel: this.comment_cancel
      };
      let statusData = await api.cancelEmpKpi({ source: apiSource });
      this.$refs.formDialogCancel.reset();
      let func = { func: this.test };
      if (statusData.data === 'Success') {
        this.$refs.loadingPage.openDialog(
          'สำเร็จ',
          'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
          'success',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณาลองใหม่อีกครั้งภายหลัง หรือติดต่อ HR',
          'error'
        );
        this.$store.commit('updateDialogCancelEmpKpi', false);
      }
    },
    test() {
      eventBus.$emit('getAllEmployeeLists');
      this.$store.commit('updateDialogCancelEmpKpi', false);
    },
    empty() {}
  }
};
</script>
