<template>
  <div>
    <transition
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutLeft"
    >
      <Loading ref="loading" v-show="loading"></Loading>
    </transition>
    <v-container grid-list-xs v-show="!loading">
      <v-text-field
        outlined
        filled
        dense
        label="ค้นหารหัสพนักงาน"
        v-model="search"
        prepend-inner-icon="mdi-magnify"
      ></v-text-field>
      <v-expansion-panels focusable>
        <v-expansion-panel v-for="(item, i) in employeeListsSlice" :key="i">
          <v-expansion-panel-header
            >{{ item.employeeid }} {{ item.newName }}
            <template v-slot:actions>
              <v-icon v-if="item.present_file" color="teal">mdi-check</v-icon>
              <v-icon v-else color="warning">mdi-alert-circle</v-icon>
            </template></v-expansion-panel-header
          >
          <v-expansion-panel-content>
            <v-row no-gutters>
              <v-col cols="8">
                <p
                  @click="DownloadPresentFile(item)"
                  v-if="item.present_file"
                  class="mt-5 indigo--text"
                >
                  {{ item.present_file }}
                </p>
                <p v-else class="mt-5">
                  กรุณาอัพโหลดไฟล์สำหรับพรีเซ้น
                </p>
              </v-col>
              <v-col cols="1">
                <v-btn
                  class="mt-3"
                  text
                  icon
                  color="green"
                  @click="addPresent(i)"
                >
                  <v-icon class="pr-1">mdi-file-upload</v-icon>
                </v-btn>
                <input
                  :id="`fileUpload${i}`"
                  :ref="`fileUpload`"
                  type="file"
                  hidden
                  @change="filePresentChanged(item, i)"
                />
              </v-col>

              <v-divider vertical class="mt-3 mx-4"></v-divider>

              <v-col cols="1">
                <v-btn
                  class="mt-3"
                  text
                  icon
                  color="warning"
                  @click="openFormKpi(item)"
                >
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <div class="text-center">
        <v-footer bottom fixed>
          <v-pagination
            bottom
            fixed
            v-model="page"
            :length="numPage"
            :total-visible="pageLength"
          ></v-pagination>
          <v-spacer></v-spacer>
        </v-footer>
      </div>
    </v-container>
  </div>
</template>

<script>
import { eventBus } from '../../../main.js';

import api from '../../../service/index.js';
import Loading from '../../../views/Loading';
export default {
  data() {
    return {
      employeeLists: [],
      employeeListsCopy: [],
      employeeListsSlice: [],
      employeeId: '',
      pageLength: 10,
      page: 0,
      numPage: 1,
      empPresentFile: '',
      search: '',
      onProgress: 0,
      loading: false
    };
  },
  components: { Loading },
  async created() {
    let employeeIdData = await api.getEmployeeIdAccessor(
      this.$route.params.employeeId
    );
    this.employeeId = employeeIdData.data.employeeid;
    this.getAllEmployeeLists();

    // eventBus.$on('getAllEmployeeListsKpi', this.getAllEmployeeListsKpi);
    // eventBus.$emit('getAllEmployeeListsKpi');
    // this.getAllPositions();
  },
  watch: {
    employeeLists(newValue) {
      this.numPage = parseInt(newValue.length / this.pageLength) + 1;
      this.page = 1;
    },
    page(newValue) {
      this.employeeListsSlice = this.employeeLists.slice(
        (newValue - 1) * this.pageLength,
        this.pageLength * newValue
      );
    },
    search(value) {
      let searchEmployeeLists = this.employeeListsCopy.filter(employee => {
        return employee.employeeid.toLowerCase().includes(value.toLowerCase());
      });

      this.employeeLists = searchEmployeeLists;
      this.numPage = parseInt(this.employeeLists / this.pageLength) + 1;
      this.page = 1;
      this.employeeListsSlice = this.employeeLists.slice(
        (this.page - 1) * this.pageLength,
        this.pageLength * this.page
      );
    }
  },
  methods: {
    async getAllEmployeeLists() {
      this.page = 0;
      this.loading = true;
      let employeeListData = await api.getEmployeePresent(this.employeeId, {
        onDownloadProgress: async progressEvent => {
          const totalLength = progressEvent.lengthComputable
            ? progressEvent.total
            : progressEvent.target.getResponseHeader('content-length') ||
              progressEvent.target.getResponseHeader(
                'x-decompressed-content-length'
              );
          if (totalLength !== null) {
            this.progressData = Math.round(
              (progressEvent.loaded * 100) / totalLength
            );
            this.$refs.loading.load(this.progressData);
            if (this.progressData == 100) {
              setTimeout(() => {
                this.loading = false;
              }, 1000);
            }
          }
        }
      });
      if (employeeListData.data === 'fail') {
        this.$router.push({ name: 'employee_not_found' });
      }
      this.statusMobile =
        employeeListData.data.status_onechat === 1 ? true : false;
      let apiEmployeeLists = employeeListData.data.employeeLists;
      apiEmployeeLists.forEach(employee => {
        let newEmployee = { ...employee };
        let newNameEmployee = `${newEmployee.name} ${newEmployee.surname}`;
        var newTerm = '';
        if (newEmployee.term === 'middleYear') {
          newTerm = 'กลางปี';
        } else if (newEmployee.term === 'lateYear') {
          newTerm = 'ปลายปี';
        }
        employee.newName = newNameEmployee;
        employee.newYearTerm = `${newTerm}/${employee.year} `;
      });
      this.employeeLists = apiEmployeeLists;
      this.employeeListsCopy = apiEmployeeLists;
    },
    DownloadPresentFile(item) {
      let payload = {
        year: item.year,
        term: item.term,
        present_file: item.present_file
      };
      window.open(api.downloadFilePresent(payload), '_blank');
    },
    addPresent(i) {
      document.getElementById(`fileUpload${i}`).click();
    },
    async filePresentChanged(employee, i) {
      let indexFile = this.$refs['fileUpload'].findIndex(upload => {
        return upload.id == `fileUpload${i}`;
      });
      let file = this.$refs['fileUpload'][indexFile].files[0];
      this.empPresentFile = await file;
      let formData = new FormData();
      formData.append('present', this.empPresentFile);
      formData.append('code', employee.employeeid);
      formData.append('year', employee.year);
      formData.append('term', employee.term);
      this.uploadFile(formData);
    },
    async uploadFile(formData) {
      this.loading = true;
      await api.uploadFilePresent(formData, {
        onUploadProgress: progressEvent => {
          const totalLength = progressEvent.lengthComputable
            ? progressEvent.total
            : progressEvent.target.getResponseHeader('content-length') ||
              progressEvent.target.getResponseHeader(
                'x-decompressed-content-length'
              );
          if (totalLength !== null) {
            this.progressData = Math.round(
              (progressEvent.loaded * 100) / totalLength
            );
            this.$refs.loading.load(this.progressData);
            if (this.progressData == 100) {
              setTimeout(() => {
                this.loading = false;
              }, 1000);
            }
          }
        }
      });
      this.getAllEmployeeLists();
    },
    openFormKpi(employee) {
      this.$store.commit('updateEmployeeInfo', employee);
      this.$store.commit('updatePortfolioLists', employee.projectKpi);
      this.$store.commit('updateViewMode', true);
      this.$store.commit('updateDialogEmpKpiForm', true);
      eventBus.$emit('sumGradePercent');
    }
  }
};
</script>
