<template>
  <div>
    <v-container grid-list-xs,sm,md,lg,xl v-show="dialogEmpKpiForm">
      <v-card outlined>
        <v-toolbar color="green" dark class="border-top-rad-7">
          <v-toolbar-title class="w-100 left header"
            >สรุปผลประเมิน KPI พนักงาน ( คณะกรรมการ )</v-toolbar-title
          >
        </v-toolbar>
        <v-form ref="form">
          <v-container>
            <v-select
              v-model="employeeBoard.grade"
              :items="gradeLists"
              :rules="gradeRules"
              label="เกรดที่ประเมิน"
              required
              outlined
            ></v-select>

            <v-select
              v-model="employeeBoard.resultSummary"
              :items="resultLists"
              :rules="resultSummaryRules"
              label="การปรับตำแหน่ง"
              required
              outlined
            ></v-select>

            <v-textarea
              v-model="employeeBoard.comment"
              label="ความคิดเห็นของผู้ประเมิน"
              :rules="commentRules"
              name="Comment"
              required
              outlined
            ></v-textarea>
          </v-container>
        </v-form>
      </v-card>
      <v-row>
        <v-col cols="12" justify="center" align="center">
          <v-btn
            color="green"
            dark
            style="width: 135px; height: 50px; border-radius: 10px;"
            @click="sendGradeForm"
            >บันทึกใบประเมิน</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
    <loadingPage ref="loadingPage"></loadingPage>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import api from '../../../service/index.js'
import loadingPage from '../../../views/LoadingPage';
import { eventBus } from '../../../main.js';
export default {
  data() {
    return {
      resultLists: [
        'ไม่ปรับตำแหน่ง',
        'เห็นควรให้ปรับตำแหน่ง',
        'ไม่เห็นควรให้ปรับตำแหน่ง'
      ],
      gradeLists: ['ไม่มีเกรด', 'A', 'B+', 'B', 'C+', 'C', 'D+', 'D'],
      gradeRules: [v => !!v || 'กรุณาเลือกเกรด'],
      commentRules: [v => !!v || 'กรุณากรอกความคิดเห็น'],
      resultSummaryRules: [v => !!v || 'กรุณาเลือกผลการปรับตำแหน่ง'],
      employeeId: '',
      grade: '',
      comment: '',
      resultSummary: ''
    };
  },
  computed: {
    ...mapState(['employeeInfo','employeeBoard']),
    dialogEmpKpiForm: {
      get() {
        if (this.$store.state.dialogEmpKpiForm == false) {
          if (typeof this.$refs.form !== 'undefined') {
            this.$refs.form.reset();
          }
        }

        return this.$store.state.dialogEmpKpiForm;
      }
    }
  },
  components: {
    loadingPage
  },
  methods: {
    sendGradeForm() {
      let func = { func: this.sendGrade };
      if (this.$refs.form.validate()) {
        this.$refs.loadingPage.openDialog(
          'คุณต้องการส่งแบบประเมินหรือไม่',
          `ชื่อ-สกุลพนักงาน : ${this.employeeInfo.newName}`,
          'alert',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณากรอกข้อมูลให้ครบถ้วน',
          'error'
        );
      }
    },
    async sendGrade() {
      let employeeIdData = await api.getEmployeeIdBoard(
        this.$route.params.employeeId
      );
      this.employeeId = employeeIdData.data;
      var source = {
        employeeid: this.employeeInfo.employeeid,
        employeeid_board: this.employeeId,
        grade_board: this.employeeBoard.grade,
        pass_board: this.employeeBoard.resultSummary,
        comment: this.employeeBoard.comment,
        createby: this.employeeId,
        term: this.employeeInfo.term,
        year: this.employeeInfo.year
      };
      var apiResult = null;
      apiResult = await api.updateGradeBoard({ source: source });
      let func = { func: this.test };

      if (apiResult.data === 'Success') {
        this.$refs.loadingPage.openDialog(
          'สำเร็จ',
          'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
          'success',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณาลองใหม่อีกครั้งภายหลัง',
          'error',
          func
        );
      }
    },
    test() {
      eventBus.$emit('getAllEmployeeListsKpi');
      this.$store.commit('updateDialogEmpKpiForm', false);
    }
  }
};
</script>
