<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogEmpKpiFormCommittee"
      fullscreen
      transition="dialog-bottom-transition"
    >
      <v-toolbar
        dark
        class="tool_Bar"
      >
        <v-btn icon dark @click="closeEmpKpiform">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title><b style="fontSize: 20px">รายละเอียดของพนักงาน</b></v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card>
        <EmployeeInfo></EmployeeInfo>
        <Chart></Chart>
        <WorkEmployee></WorkEmployee>
        <Committee></Committee>
        <ConcludeCommittee v-if="employeeInfo.adjustment_hr_grade !== '' && employeeInfo.adjustment_hr_status !== ''"></ConcludeCommittee>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import EmployeeInfo from '../../components/kpiNew/dialog_kpi/EmployeeInfoCommittee'
import Chart from '../../components/kpiNew/dialog_kpi/ChartCommittee'
import WorkEmployee from '../../components/kpiNew/dialog_kpi/WorkCommittee'
import Committee from '../../components/kpiNew/dialog_kpi/Committee'
import ConcludeCommittee from '../../components/kpiNew/dialog_kpi/ConcludeCommittee'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    dialog: false,
    notifications: false,
    sound: true,
    widgets: false
  }),
  created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
  },
  components: {
    EmployeeInfo,
    Chart,
    WorkEmployee,
    Committee,
    ConcludeCommittee
  },
  computed: {
    ...mapState(['snackbar', 'employeeInfo']),
    dialogEmpKpiFormCommittee: {
      get () {
        this.openResultDataCommittee()
        return this.$store.state.dialogEmpKpiFormCommittee
      },
      set (value) {
        this.$store.commit('updateDialogEmpKpiFormCommittee', value)
      }
    }
  },
  methods: {
    async closeEmpKpiform () {
      this.dialogEmpKpiFormCommittee = false
      await eventBus.$emit('refreshEmployeeCommittee')
    },
    async openResultDataCommittee () {
      await eventBus.$emit('openResultsDataEmployeeCommittee')
      await eventBus.$emit('openResultsChartCommittee')
      await eventBus.$emit('openResultsWorkCommittee')
      await eventBus.$emit('openResultsCommittee')
      await eventBus.$emit('chartConclude')


    }
  }
}
</script>
<style>
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
