<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogEmpKpiForm"
      fullscreen
      transition="dialog-bottom-transition"
    >
      <v-toolbar
        dark
        class="tool_Bar"
      >
        <v-btn icon dark @click="closeEmpKpiform">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title><b style="fontSize: 20px">รายละเอียดของพนักงาน</b></v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card>
        <EmployeeInfo></EmployeeInfo>
        <Chart></Chart>
        <EmployeeIndicator></EmployeeIndicator>
        <WorkEmployee></WorkEmployee>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import EmployeeInfo from '../../components/kpiNew/dialog_kpi/EmployeeInfo'
import EmployeeIndicator from '../../components/kpiNew/dialog_kpi/KpiIndicator'
import Chart from '../../components/kpiNew/dialog_kpi/Chart'
import WorkEmployee from '../../components/kpiNew/dialog_kpi/Work'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    dialog: false,
    notifications: false,
    sound: true,
    widgets: false
  }),
  created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
  },
  components: {
    EmployeeInfo,
    EmployeeIndicator,
    Chart,
    WorkEmployee
  },
  computed: {
    ...mapState(['snackbar']),
    dialogEmpKpiForm: {
      get () {
        this.openResultData()
        return this.$store.state.dialogEmpKpiForm
      },
      set (value) {
        this.$store.commit('updateDialogEmpKpiForm', value)
      }
    }
  },
  methods: {
    async closeEmpKpiform () {
      this.dialogEmpKpiForm = false
      this.$store.commit('updateSnackbar', true)
      await eventBus.$emit('refreshEmployee')
    },
    async openResultData () {
      await eventBus.$emit('openResultsDataEmployee')
      await eventBus.$emit('openResultsChart')
      await eventBus.$emit('openResultsData')
      await eventBus.$emit('openResultsWork')

    }
  }
}
</script>
<style>
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
