<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="200"
    >
      <template v-slot:activator="{on}">
        <transition
          enter-active-class="animated fadeInLeft"
          leave-active-class="animated fadeOutLeft"
        >
          <CloseKpi v-show="closeKpi"></CloseKpi>
        </transition>
        <v-container v-if="!closeKpi">
          <v-card>
            <v-app-bar
              class="tool_Bar"
              color="red"
              absolute
              height="100px"
            >
              <v-spacer></v-spacer>
              <v-avatar size="60">
                <!-- <img
                  :src="`${process.env.VUE_APP_URL_1}/api/login/getProfilePicture/${employee_id}`"
                /> -->
                <img
                  :src="`http://203.150.13.74:8080/api/login/getProfilePicture/${employee_id}`"
                />
              </v-avatar>
              <span class="pl-4" style="fontSize: 20px!important;fontWeight: bold;color: white;font-family: 'THSarabunNew' !important;">
                {{dataEmployee.first_name_th}} {{dataEmployee.last_name_th}}<br>
                <p style="fontSize: 14px" class="mb-0">{{company}}</p>
              </span>
              <v-spacer></v-spacer>
            </v-app-bar>
            <v-footer height="90"></v-footer>
            <v-row row wrap  class="pt-5 pl-2 pr-5 pb-8">
              <v-col cols="12">
                <v-text-field
                  @click:append="searchEmployeeFunction"
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="ค้นหา"
                  outlined
                  dense
                  filled
                  hide-details
                  color="#4ea612"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-data-table
              :headers="headersEvaluate"
              :items="evaluate"
              :search="search"
              hide-default-footer
              hide-default-header
            >
              <template v-slot:item.status_id="{ item }">
                <spen class="pr-2">{{item.newYearTerm}}</spen>
                <v-chip
                  v-if="
                    (item.evaluation.length === 1 && item.evaluation[0].status_id === 1) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 1) { return true } else { return false } }))
                  "
                  color="#FFC000"
                  label
                  class="px-5 text-chip"
                  ><b>รอการประเมิน</b></v-chip
                >
                <v-chip
                  v-else-if="
                    (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } }))
                  "
                  color="#24D29B"
                  label
                  class="px-7 text-chip"
                  ><b>ประเมินแล้ว</b></v-chip
                >
              </template>
              <template v-slot:item.action="{ item }">
                <v-col
                  class="px-0"
                  v-if="
                    (item.evaluation.length === 1 && item.evaluation[0].status_id === 1) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 1) { return true } else { return false } }))
                  "
                >
                  <v-btn
                    @click="evaluateEmployee(item)"
                    class="px-5"
                    rounded
                    block
                    outlined
                    color="#24D29B"
                  >
                    <v-icon left>mdi-pencil</v-icon><b> ประเมินผล</b>
                  </v-btn>
                </v-col>
                <v-col
                  class="px-0"
                  v-if="
                    (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } }))
                  "
                >
                  <v-btn
                    @click="openResults(item)"
                    class="px-5"
                    rounded
                    block
                    outlined
                    color="#26C52F"
                  >
                    <v-icon left>mdi-clipboard-text</v-icon> <b>ดูผลประเมิน</b>
                  </v-btn>
                </v-col>
                <v-col
                  class="px-0 pt-0"
                  v-if="
                    (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } }))
                  "
                >
                  <v-btn
                    @click="evaluateEmployee(item)"
                    class="px-5"
                    rounded
                    block
                    outlined
                    color="#FFC000"
                  >
                    <v-icon left>mdi-hammer-screwdriver</v-icon> <b>แก้ไขข้อมูล</b>
                  </v-btn>
                </v-col>
                <!-- <v-expansion-panels class="mb-5">
                  <v-expansion-panel>
                    <v-expansion-panel-header color="#218AC4" class="pl-6 pr-4">
                      <b style="color: white; fontSize: 18px !important;">Action</b>
                      <template v-slot:actions>
                        <v-icon color="white">$expand</v-icon>
                      </template>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-row row wrap align="center" justify="center">
                        <v-col
                          v-if="
                            (item.evaluation.length === 1 && item.evaluation[0].status_id === 1) ||
                            (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 1) { return true } else { return false } }))
                          "
                          cols="12"
                          class="pb-0 px-1"
                        >
                          <v-btn
                            @click="evaluateEmployee(item)"
                            class="px-5"
                            rounded
                            block
                            outlined
                            color="#24D29B"
                          >
                            <v-icon left>mdi-pencil</v-icon><b> ประเมินผล</b>
                          </v-btn>
                        </v-col>
                        <v-col
                          v-if="
                            (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) ||
                            (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } }))
                          "
                          cols="12"
                          class="pb-0 px-1"
                        >
                          <v-btn
                            @click="openResults(item)"
                            rounded
                            block
                            outlined
                            color="#24D29B"
                          >
                            <v-icon left>mdi-clipboard-text</v-icon> <b>ดูผลประเมิน</b>
                          </v-btn>
                        </v-col>
                        <v-col
                          v-if="
                            (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) ||
                            (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } }))
                          "
                          cols="12"
                          class="pb-0 px-1"
                        >
                          <v-btn
                            @click="evaluateEmployee(item)"
                            class="px-5"
                            rounded
                            block
                            outlined
                            color="#FFC000"
                          >
                            <v-icon left>mdi-hammer-screwdriver</v-icon> <b>แก้ไขข้อมูล</b>
                          </v-btn>
                        </v-col>
                        <v-col cols="12" class="pb-0 px-1">
                          <v-btn
                            :disabled="
                              (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) || (item.count_transfer >= 2) ||
                              (item.evaluation.length > 1 && item.evaluation[0].name_evaluation !== item.name_evaluation_default) ||
                              (item.evaluation.length > 1 && item.evaluation.find(el =>{ if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } }))
                            "
                            @click="transferEmployee(item)"
                            class="pr-6 pl-8"
                            rounded
                            block
                            outlined
                            color="#359FC4"
                          >
                            <v-icon left>mdi-account-arrow-right</v-icon> <b>โอนสิทธิ์</b>
                          </v-btn>
                        </v-col>
                        <v-col cols="12" class="pb-0 px-1">
                          <v-btn
                            :disabled="
                              (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) ||
                              (item.evaluation.length > 1 && item.evaluation.find(el =>{ if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } }))
                            "
                            @click="multipleEvaluate(item)"
                            class="pl-5 pr-3"
                            rounded
                            block
                            outlined
                            color="#D298E7"
                          >
                            <v-icon left>mdi-account-multiple-plus</v-icon> <b>ประเมินร่วม</b>
                          </v-btn>
                        </v-col>
                        <v-col cols="12" class="pb-0 px-1">
                          <v-btn
                            :disabled="item.tranfer === 1 || item.together === 1 || item.evaluation[0].status_id === 2"
                            @click="returnEmployee(item)"
                            class="px-9"
                            rounded
                            block
                            outlined
                            color="#E03F34"
                          >
                            <v-icon left>mdi-redo-variant</v-icon><b> ตีกลับ</b>
                          </v-btn>
                        </v-col>
                      </v-row>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels> -->
              </template>
            </v-data-table>
            <div class="underlineHeader"></div>
            <div class="text-center">
              <v-pagination
                v-model="page"
                :length="lengthPageEmployee"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                v-on="on"
                @input="getLengthEmployee()"
              ></v-pagination>
            </div>
            <v-footer height="35"></v-footer>
          </v-card>
        </v-container>
      </template>
      <v-card>
        <v-card-text class="centerdiv py-5">
          <v-progress-circular
            :size="80"
            :width="6"
            color="green"
            indeterminate
            class="py-5"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
import CloseKpi from '../../views/ErrorKpi'
export default {
  data: () => ({
    dialog: false,
    series: [30],
    seriesDonut: [1, 1, 1, 2, 2, 2, 3, 3],
    multiEmployee_Id: [],
    closeKpi: false,
    // employee_id: '',
    // พี่เต้ย
    // account_id: '6132706368',
    // พี่เก็ท
    // account_id: '12487478904',
    // พี่ศิลา
    // account_id: '100220402304',
    previous: '',
    countEmployee: '50',
    countEmployeeEvaluate: 15,
    countEmployeeNoEvaluate: 35,
    previous_evaluation: '',
    countKpi: 0,
    page: 1,
    pageTransfer: 1,
    pageTogether: 1,
    lengthPageEmployee: 0,
    lengthPageEmployeeTransfer: 0,
    lengthPageEmployeeTogether: 0,
    searchEmployeeList: [],
    employeeLists: [],
    sumKpi: 0,
    dataPage: '',
    validstatus: [],
    tabs: null,
    tabsChart: null,
    search: '',
    year: '',
    term: '',
    snackbar: true,
    confirmRights: [],
    evaluate: [],
    assessmentResults: [],
    snackbarText: '',
    disabledCountKpiBtn: true,
    snackbarColor: 'red',
    listYear: ['2559', '2560', '2561', '2562', '2563', '2564', '2565'],
    performanceTermLists: [
      { name: 'กลางปี', value: 'middleYear' },
      { name: 'ปลายปี', value: 'lateYear' }
    ],
    headersEvaluate: [
      // {
      //   text: 'รหัสพนักงาน',
      //   align: 'end',
      //   value: 'employee_id'
      // },
      // {
      //   text: 'ชื่อ-นามสกุล',
      //   value: 'newName'
      // },
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      // { text: '', value: 'status_id' },
      { text: 'Action', value: 'action' }
      // { text: '', value: 'transfer' },
      // { text: 'ตีกลับ', value: 'return' }
    ],
    headersRights: [
      // {
      //   text: 'รหัสพนักงาน',
      //   align: 'left',
      //   value: 'employee_id'
      // },
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      { text: 'จาก', value: 'previous' },
      // { text: 'สถานะ', value: 'status_id' },
      { text: '', value: 'action' }
    ],
    headersResults: [
      // {
      //   text: 'รหัสพนักงาน',
      //   align: 'left',
      //   value: 'employee_id'
      // },
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      { text: 'จาก', value: 'previous' },
      { text: '', value: 'action' }
    ],
    desserts: [],
    dessertsTransfer: [],
    dessertsTogether: [],
    dataEmployee: [],
    dataEmployeeTogether: [],
    company: ''
    // desserts: [
    //   {
    //     employeeid: 'OD1162007',
    //     newName: 'นายอาทิตย์ มาหย่อม (แบงค์)',
    //     position_detail: 'วิศวกรไฟฟ้า',
    //     org_name_detail: 'ฝ่ายพัฒนาผลิตภัณฑ์และบริการ',
    //     newYearTerm: '2562/ปลายปี',
    //     validstatus: 1,
    //     action: '4.0',
    //     transfer: 0,
    //     together: 0
    //   },
    //   {
    //     employeeid: 'OD1161003',
    //     newName: 'นายนฤพนธ์ ติดมา (หมู)',
    //     position_detail: 'วิศวกรเครื่องกล',
    //     org_name_detail: 'ไม่มีฝ่ายงาน',
    //     newYearTerm: '2562/กลางปี',
    //     validstatus: 2,
    //     action: '4.0',
    //     transfer: 0,
    //     together: 0
    //   },
    //   {
    //     employeeid: 'OD1161003',
    //     newName: 'นายนฤพนธ์ ติดมา (หมู)',
    //     position_detail: 'วิศวกรเครื่องกล',
    //     org_name_detail: 'ไม่มีฝ่ายงาน',
    //     newYearTerm: '2562/กลางปี',
    //     validstatus: 1,
    //     action: '4.0',
    //     transfer: 0,
    //     together: 0
    //   }
    // ]
  }),
  components: {
    CloseKpi
  },
  computed: {
    ...mapState(['snackbar', 'employeeTransfer']),
    chartOptionsDonut () {
      return {
        chart: {
          height: 350,
          type: 'donut'
        },
        labels: [' A', ' B+', ' B', ' C+', ' C', ' D+', ' D', ' E'],
        colors: ['#F47272', '#F0A971', '#F1E675', '#C4F076', '#86C286', '#97F2EA', '#8FB7F7', '#F7AEF7'],
        legend: {
          position: 'right',
          offsetX: -30
        },
        plotOptions: {
          pie: {
            donut: {
              size: '65%',
              background: 'transparent',
              labels: {
                show: true,
                fontSize: '36px',
                value: {
                  show: true,
                  fontSize: '34px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  fontWeight: 400,
                  color: undefined,
                  offsetY: 16,
                  formatter: function (val) {
                    return val
                  }
                },
                total: {
                  show: true,
                  showAlways: false,
                  label: '',
                  labeltest: this.countEmployee,
                  fontSize: '26px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  fontWeight: 900,
                  color: '#373d3f',
                  formatter: function (w) {
                    var sum = w.config.plotOptions.pie.donut.labels.total.labeltest
                    var count = w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                    }, 0)
                  return count + ' / ' + sum
                  }
                }
              }
            }
          }
        }
      }
    },
    chartOptions () {
      return {
        chart: {
          height: 390,
          type: 'radialBar'
        },
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 225,
            hollow: {
              margin: 0,
              size: '70%',
              background: '#fff',
              image: undefined,
              imageOffsetX: 0,
              imageOffsetY: 0,
              position: 'front'
            },
            dataLabels: {
              show: true,
              name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
              },
              value: {
                formatter: function(val) {
                  return parseInt(val) + '%';
                },
                color: '#111',
                fontSize: '36px',
                show: true,
              }
            }
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            type: 'vertical',
            shadeIntensity: 0.5,
            gradientToColors: ['#70EC98'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
          }
        },
        stroke: {
          lineCap: 'round'
        },
        labels: ['ประเมินแล้ว'],
        colors: ['#0575E6']
      }
    }
  },
  watch: {
    // search (value) {
    //   this.searchEmployeeList = [...this.employeeLists]
    //   this.filterYear()
    //   this.filterTerm()
    //   const searchEmployeeLists = this.searchEmployeeList.filter(employee => {
    //     return employee.employeeid.toLowerCase().includes(value.toLowerCase())
    //   })
    //   this.searchEmployeeList = searchEmployeeLists
    // }
  },
  async created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    // this.closeKpi = true

    this.dialog = true
    // this.validstatus

    eventBus.$on('refreshEmployee', this.addData)
    eventBus.$on('test', this.test)
    this.countEmployee = '50'

    this.token = this.$route.params.token_onechat


    // const resultData = await this.axios.get(`${process.env.VUE_APP_URL_1}/api/login/getDataLoginForMobile/` + this.account_id)

    this.account_id = this.$route.params.accountId
    const resultData = await this.axios.get('http://203.150.13.74:8080/api/login/getDataLoginForMobile/' + this.account_id)
    this.dataEmployee = resultData.data.data

    // console.log('this.dataEmployee', this.dataEmployee)
    this.previous = this.dataEmployee.first_name_th + ' (' + this.dataEmployee.nick_name_th + ')'
    if (this.dataEmployee.employee_detail.length > 1) {
      this.dataEmployee.employee_detail.forEach(el => {
        this.multiEmployee_Id.push(el)
      })

      this.employee_id = this.dataEmployee.employee_detail[0].employee_id
      this.company = this.dataEmployee.employee_detail[0].company
    } else {
      this.employee_id = this.dataEmployee.employee_detail[0].employee_id
      this.company = this.dataEmployee.employee_detail[0].company
    }
    this.addData()
  },
  methods: {
    async searchEmployeeFunction () {
      this.checkboxSearch = true
      this.evaluateSearch = []
      // var datarty = []
      var safe = this
      var post
      if (this.emplyee_IDChange === true) {
        post = {
          em_id_evaluation: this.mutiEmplyee_IDChange,
          employee_id: this.search
        }
      } else {
        post = {
          em_id_evaluation: this.employee_id,
          employee_id: this.search
        }
      }
      // console.log('22')
      await this.axios({
        method: 'post',
        // url: `${process.env.VUE_APP_URL_1}/api/evaluation/searchEmployee`,
        url: 'http://203.150.13.74:8080/api/evaluation/searchEmployee',
        data: post
      }).then(async function (response) {

        if (response.data !== 'Not found') {

          safe.previous_evaluation = response.data[0].evaluation.find(async employee => {
            if (employee.em_id_evaluation === safe.employee_id) {
              safe.previous_evaluation = employee.previous_evaluation
              return employee.previous_evaluation
            } else {
              return ''
            }
          })
          // ใส่ค่า newName newTerm newYearTerm และ previous_evaluation
          if (response.data[0].term === 'mid') {
            response.data[0].newTerm = 'กลางปี'
          } else {
            response.data[0].newTerm = 'ปลายปี'
          }
          if (response.data[0].nickname !== '') {
            response.data[0].newName = response.data[0].name + ' (' + response.data[0].nickname + ')'
          } else {
            response.data[0].newName = response.data[0].name
          }
          response.data[0].newYearTerm = response.data[0].year + '/' + response.data[0].newTerm
          response.data[0].previous_evaluation = safe.previous_evaluation
          safe.previous_evaluation = ''

          safe.evaluateSearch.push(response.data[0])
        }
      })

      this.lengthPageEmployee = 1

    },
    reset () {

      this.search = ''
      this.year = ''
      this.term = ''
    },
    closeSnackbar () {
      this.snackbar = false
    },

    async addData () {
      this.confirmRights = []
      this.evaluate = []
      this.assessmentResults = []
      var post = { em_id_evaluation: this.employee_id }

      // const dataLengthEmployee = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployee`, post)
      const dataLengthEmployee = await this.axios.post('http://203.150.13.74:8080/api/evaluation/getLengthEmployee', post)

      // const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeByPage/` + this.page, post)
      const EmployeeByPage = await this.axios.post('http://203.150.13.74:8080/api/evaluation/getEmployeeByPage/' + this.page, post)


      this.lengthPageEmployee = dataLengthEmployee.data.numberpage
      // ดึงข้อมูลหน้าประเมิน
      if (dataLengthEmployee.data !== 'Not found') {
        EmployeeByPage.data.forEach(el => {
          el.evaluation.forEach(employee => {
            if (employee.em_id_evaluation === this.employee_id) {
              this.previous_evaluation = employee.previous_evaluation
            } else {
              this.previous_evaluation = ''
            }
          })
          if (el.term === 'mid') {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + ' (' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
          el.previous_evaluation = this.previous_evaluation
          this.previous_evaluation = ''
        })
        this.desserts = await EmployeeByPage.data
        this.desserts.forEach(employee => {
          this.evaluate.push(employee)
        })

      }
      this.dialog = await false

    },
    tabChamge () {
      this.search = ''
      this.year = ''
      this.term = ''
      this.countKpi = 0
      this.confirmRights = []
      this.evaluate = []
      this.assessmentResults = []
      this.desserts.forEach(el => {
        this.evaluate.push(el)
      })
      this.dessertsTransfer.forEach(el => {
        this.confirmRights.push(el)
      })
      this.dessertsTogether.forEach(el => {
        this.assessmentResults.push(el)
      })
    },
    async transferEmployee (employee) {
      eventBus.$emit('resetpage')
      this.snackbar = false
      this.$store.commit('updateDialogTransferEmpKpi', true)
      this.$store.commit('updateEmployee', this.previous)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateIdTransfer', this.employee_id)
    },
    multipleEvaluate (employee) {
      this.snackbar = false
      this.$store.commit('updateDialogEmpKpiMulti', true)
      this.$store.commit('updateEmployee', this.previous)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateDataPageTogether', employee.evaluation)
      this.$store.commit('updateIdTransfer', this.employee_id)
    },
    async openResults (employee) {
      this.snackbar = false
      // console.log('++')
      this.$store.commit('updateDialogEmpKpiFormCommittee', true)
      await this.$store.commit('updateEmployeeInfo', employee)
    },
    async evaluateEmployee (employee) {
      Swal.fire({
        icon: 'question',
        text: 'ต้องการที่จะประเมินพนักงาน ?',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก'
      }).then(async (result) => {
        if (result.value) {
          // employee.evaluation.forEach(el => {
          //   el.status_id = 2
          // })
          // this.tabChamge()
          // var test = {
          //   employee_id: employee.employee_id,
          //   em_id_evaluation: employee.em_id_evaluation_default,
          //   year: employee.year,
          //   term: employee.term,
          //   account_id:this.account_id
          // }
          // var auth = {
          //   headers: { Authorization: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoxMjM0NX0sImlhdCI6MTU5MTc4Mzc4NX0.Rvag2gZ1x2TFSQ2CJ3rnKHGJzXAtnxEUwATPL3kn6Lc'}
          // }
          // var post = {
          //   employee_id: employee.employee_id,
          //   em_id_evaluation: employee.em_id_evaluation,
          //   year: employee.year,
          //   term: employee.term,
          //   account_id:this.account_id
          // }
          await this.axios({
            headers: { Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoxMjM0NX0sImlhdCI6MTU5MTc4Mzc4NX0.Rvag2gZ1x2TFSQ2CJ3rnKHGJzXAtnxEUwATPL3kn6Lc'},
            method: 'post',
            url: `${process.env.VUE_APP_URL_1}/api/evaluation/getEvalForBot`,
            data: {
              employee_id: employee.employee_id,
              em_id_evaluation: employee.em_id_evaluation_default,
              year: employee.year,
              term: employee.term,
              account_id:this.account_id
            }
          })
          // const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEvalForBot', auth, post)
        }
      })
      // await this.$store.commit('updateEmployee', this.desserts)
    },
    async getLengthEmployee () {
      this.dialog = true
      this.search = ''
      this.year = ''
      this.term = ''
      this.countKpi = 0
      this.evaluate = []
      var post = { em_id_evaluation: this.employee_id }
      const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeByPage/` + this.page, post)
      // const EmployeeByPage = await this.axios.post('http://localhost:3000/api/evaluation/getEmployeeByPage/' + this.page, post)
      this.desserts = EmployeeByPage.data
      EmployeeByPage.data.forEach(el => {
        if (el.term === 1) {
          el.newTerm = 'กลางปี'
        } else {
          el.newTerm = 'ปลายปี'
        }
        if (el.nickname !== '') {
          el.newName = el.name + '(' + el.nickname + ')'
        } else {
          el.newName = el.name
        }
        el.newYearTerm = el.year + '/' + el.newTerm
      })

      this.desserts.forEach(el => {
        this.evaluate.push(el)
        // if (el.tranfer === 1) {
        //   this.confirmRights.push(el)
        // }
        // if (el.together === 1) {
        //   this.assessmentResults.push(el)
        // }
        // if (el.status_id === 2) {
        //   this.countKpi++
        // }
        // if (el.tranfer !== 1 && el.status_id !== 4) {
        //   this.evaluate.push(el)
        // }
      })
      this.dialog = false
    },
    // async getLengthEmployeeTransfer () {
    //   this.dialog = true
    //   this.search = ''
    //   this.year = ''
    //   this.term = ''
    //   this.countKpi = 0
    //   this.confirmRights = []
    //   var post = { em_id_evaluation: this.employee_id }
    //   // const dataLengthEmployeeTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTransfer', post)
    //   // const EmployeeTransferByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/' + this.page, post)
    //   // this.lengthPageEmployeeTransfer = dataLengthEmployeeTransfer.data.numberpage
    //   const EmployeeByPageTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/' + this.pageTransfer, post)
    //   // const EmployeeByPageTransfer = await this.axios.post('http://localhost:3000/api/evaluation/getEmployeeTransferByPage/' + this.pageTransfer, post)
    //   this.dessertsTransfer = EmployeeByPageTransfer.data
    //   EmployeeByPageTransfer.data.forEach(el => {
    //     if (el.term === 1) {
    //       el.newTerm = 'กลางปี'
    //     } else {
    //       el.newTerm = 'ปลายปี'
    //     }
    //     if (el.nickname !== '') {
    //       el.newName = el.name + '(' + el.nickname + ')'
    //     } else {
    //       el.newName = el.name
    //     }
    //     el.newYearTerm = el.year + '/' + el.newTerm
    //   })
    //
    //   this.dessertsTransfer.forEach(el => {
    //     this.confirmRights.push(el)
    //     // if (el.tranfer === 1) {
    //     //   this.confirmRights.push(el)
    //     // }
    //     // if (el.together === 1) {
    //     //   this.assessmentResults.push(el)
    //     // }
    //     // if (el.status_id === 2) {
    //     //   this.countKpi++
    //     // }
    //     // if (el.tranfer !== 1 && el.status_id !== 4) {
    //     //   this.evaluate.push(el)
    //     // }
    //   })
    //   this.dialog = false
    // },
    // async getLengthEmployeeTogether () {
    //   this.dialog = true
    //   this.search = ''
    //   this.year = ''
    //   this.term = ''
    //   this.countKpi = 0
    //   this.assessmentResults = []
    //   var post = { em_id_evaluation: this.employee_id }
    //   const EmployeeByPageTogether = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTogether/' + this.pageTogether, post)
    //   // const EmployeeByPageTogether = await this.axios.post('http://localhost:3000/api/evaluation/getLengthEmployeeTogether/' + this.pageTogether, post)
    //   this.dessertsTogether = EmployeeByPageTogether.data
    //   EmployeeByPageTogether.data.forEach(el => {
    //     if (el.term === 1) {
    //       el.newTerm = 'กลางปี'
    //     } else {
    //       el.newTerm = 'ปลายปี'
    //     }
    //     if (el.nickname !== '') {
    //       el.newName = el.name + '(' + el.nickname + ')'
    //     } else {
    //       el.newName = el.name
    //     }
    //     el.newYearTerm = el.year + '/' + el.newTerm
    //   })
    //
    //   this.dessertsTogether.forEach(el => {
    //     this.assessmentResults.push(el)
    //   })
    //   this.dialog = false
    // },
    // async returnEmployee (employee) {
    //   const index = this.evaluate.indexOf(employee)
    //   Swal.fire({
    //     text: 'ต้องการตีกลับ ?',
    //     icon: 'question',
    //     showCancelButton: true,
    //     confirmButtonColor: '#3085d6',
    //     cancelButtonColor: '#d33',
    //     confirmButtonText: 'ยืนยัน',
    //     cancelButtonText: 'ยกเลิก'
    //   }).then((result) => {
    //     if (result.value) {
    //       employee.evaluation[0].validstatus = 4
    //       this.evaluate.splice(index, 1)
    //       Swal.fire({
    //         text: 'ตีกลับเรียบร้อย',
    //         icon: 'success'
    //       })
    //     }
    //     this.tabChamge()
    //   })
    //   await this.$store.commit('updateEmployee', this.desserts)
    // },
    filterYear () {
      if (this.year !== '') {
        const searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.year === this.year
        })
        this.searchEmployeeList = searchEmployeeLists
      }
    },
    // fromPrevious (employee) {
    //
    // },
    filterTerm () {
      if (this.term !== '') {
        const searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.term === this.term
        })
        this.searchEmployeeList = searchEmployeeLists
      }
    }
  }
}
</script>

<style lang="css" scoped>
.bgcolor{
  color: white;
  background-color: #4ea612 !important;
}
.btnPrimary {
  color: white;
  background-color: #4ea612 !important;
}
.bgsnackbarColor{
  color: white;
  background-image: linear-gradient(to right, #F42413, #F76B16, #F1AE37, #FAE4B1);
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
.centerdiv {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.text-chip {
  color: white!important;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.toolbar_Content {
    padding-top: 8px!important;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
/* .actionButton {
  margin-right: 260px;
  margin-left: 0px;
}
@media only screen and (max-width: 375px) {
  .actionButton {
    margin-right: 220px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 320px) {
  .actionButton {
    margin-right: 170px;
    margin-left: 0px;
  }
} */
</style>
