<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="200"
    >
      <template v-slot:activator="{on}">
        <transition
          enter-active-class="animated fadeInLeft"
          leave-active-class="animated fadeOutLeft"
        >
          <CloseKpi v-show="closeKpi"></CloseKpi>
        </transition>
        <v-container v-if="!closeKpi">
          <v-card>
            <v-app-bar
              class="tool_Bar"
              color="red"
              absolute
              height="100px"
            >
              <v-spacer></v-spacer>
              <v-avatar size="60">
                <!-- <img
                  :src="`${process.env.VUE_APP_URL_1}/api/login/getProfilePicture/${employee_id}`"
                /> -->
                <img
                  :src="`${http}/api/login/getProfilePicture/${employee_id}`"
                />
              </v-avatar>
              <span class="pl-4" style="fontSize: 20px!important;fontWeight: bold;color: white;font-family: 'THSarabunNew' !important;">
                {{dataEmployee.first_name_th}} {{dataEmployee.last_name_th}}<br>
                <p style="fontSize: 14px" class="mb-0">{{company}}</p>
              </span>
              <v-spacer></v-spacer>
            </v-app-bar>
            <v-footer height="90"></v-footer>
            <v-row row wrap  class="pt-5 pl-2 pr-5 pb-8">
              <v-col class="d-flex centerdiv" cols="12">
                <v-text-field
                  @click:append="searchEmployeeFunction"
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="ค้นหา"
                  outlined
                  dense
                  filled
                  hide-details
                  color="#4ea612"
                  class="pr-3"
                ></v-text-field>
                <v-btn class="py-4" color="#FFC000" style="fontSize: 6px!important;" small dark @click="addData">
                  <v-icon left>mdi-backup-restore</v-icon> Clear
                  <!-- Clear -->
                </v-btn>
              </v-col>
            </v-row>
            <v-data-table
              :headers="headersEvaluate"
              :items="evaluateSearch"
              hide-default-footer
              hide-default-header
            >
              <template v-slot:item.newName="{ item }">
                <p class="pt-2">{{item.employee_id}}
                {{item.newName}}</p>
              </template>
              <template v-slot:item.status_id="{ item }">
                <spen class="pr-2">{{item.newYearTerm}}</spen>
                <v-chip
                  v-if="
                    /* (item.evaluation.length === 1 && item.evaluation[0].status_id === 1) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 1) { return true } else { return false } })) */
                    item.is_committee === 0
                  "
                  color="#FFC000"
                  label
                  class="px-5 text-chip"
                  ><b>รอการประเมิน</b></v-chip
                >
                <v-chip
                  v-else-if="
                    item.is_committee === 1
                    /* (item.evaluation.length === 1 && item.evaluation[0].status_id === 2) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 2) { return true } else { return false } })) */
                  "
                  color="#24D29B"
                  label
                  class="px-7 text-chip"
                  ><b>ประเมินแล้ว</b></v-chip
                >
              </template>
              <template v-slot:item.action="{ item }">
                <v-col
                  class="px-0"
                  v-if="
                    item.is_committee === 0
                    /* (item.evaluation.length === 1 && item.evaluation[0].status_id === 1) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 1) { return true } else { return false } })) */
                  "
                >
                  <v-btn
                    @click="evaluateEmployee(item)"
                    class="px-5"
                    rounded
                    block
                    outlined
                    color="#24D29B"
                  >
                    <v-icon left>mdi-pencil</v-icon><b> ประเมินผล</b>
                  </v-btn>
                </v-col>
                <v-col
                  class="px-0"
                >
                  <v-btn
                    @click="openResults(item)"
                    class="px-5"
                    rounded
                    block
                    outlined
                    color="#26C52F"
                  >
                    <v-icon left>mdi-clipboard-text</v-icon> <b>ดูผลประเมิน</b>
                  </v-btn>
                </v-col>
                <v-col
                  class="px-0 pt-0"
                  v-if="
                    item.is_committee === 1
                    /* (item.evaluation.length === 1 && item.evaluation[0].status_id === 1) ||
                    (item.evaluation.length > 1 && item.evaluation.find(el => { if (el.em_id_evaluation === employee_id && el.status_id === 1) { return true } else { return false } })) */
                  "
                >
                  <v-btn
                    @click="evaluateEmployee(item)"
                    class="px-5"
                    rounded
                    block
                    outlined
                    color="#FFC000"
                    :disabled="item.is_committee === 1 && item.adjustment_hr_status !== ''"
                  >
                    <v-icon left>mdi-hammer-screwdriver</v-icon> <b>แก้ไขข้อมูล</b>
                  </v-btn>
                </v-col>
              </template>
            </v-data-table>
            <div class="underlineHeader"></div>
            <div class="text-center">
              <v-pagination
                v-model="page"
                :length="lengthPageEmployee"
                prev-icon="mdi-menu-left"
                next-icon="mdi-menu-right"
                v-on="on"
                @input="getLengthEmployee()"
              ></v-pagination>
            </div>
            <v-footer height="35"></v-footer>
          </v-card>
        </v-container>
      </template>
      <v-card>
        <v-card-text class="centerdiv py-5">
          <v-progress-circular
            :size="80"
            :width="6"
            color="green"
            indeterminate
            class="py-5"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
import CloseKpi from '../../views/ErrorKpi'
export default {
  data: () => ({
    dialog: false,
    series: [30],
    seriesDonut: [1, 1, 1, 2, 2, 2, 3, 3],
    multiEmployee_Id: [],
    closeKpi: false,
    // employee_id: '',
    // พี่เต้ย
    // account_id: '6132706368',
    // พี่เก็ท
    // account_id: '12487478904',
    // พี่ศิลา
    // account_id: '100220402304',
    previous: '',
    countEmployee: '50',
    valGread: 'Good',
    countEmployeeEvaluate: 15,
    countEmployeeNoEvaluate: 35,
    previous_evaluation: '',
    countKpi: 0,
    page: 1,
    pageTransfer: 1,
    pageTogether: 1,
    lengthPageEmployee: 0,
    lengthPageEmployeeTransfer: 0,
    lengthPageEmployeeTogether: 0,
    searchEmployeeList: [],
    employeeLists: [],
    sumKpi: 0,
    evaluate: [],
    dataPage: '',
    validstatus: [],
    tabs: null,
    tabsChart: null,
    search: '',
    year: '',
    evaluateSearch: [],
    term: '',
    snackbar: true,
    confirmRights: [],
    assessmentResults: [],
    snackbarText: '',
    disabledCountKpiBtn: true,
    snackbarColor: 'red',
    listYear: ['2559', '2560', '2561', '2562', '2563', '2564', '2565'],
    performanceTermLists: [
      { name: 'กลางปี', value: 'middleYear' },
      { name: 'ปลายปี', value: 'lateYear' }
    ],
    headersEvaluate: [
      // {
      //   text: 'รหัสพนักงาน',
      //   align: 'end',
      //   value: 'employee_id'
      // },
      // {
      //   text: 'ชื่อ-นามสกุล',
      //   value: 'newName'
      // },
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      // { text: '', value: 'status_id' },
      { text: 'Action', value: 'action' }
      // { text: '', value: 'transfer' },
      // { text: 'ตีกลับ', value: 'return' }
    ],
    headersRights: [
      // {
      //   text: 'รหัสพนักงาน',
      //   align: 'left',
      //   value: 'employee_id'
      // },
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      { text: 'จาก', value: 'previous' },
      // { text: 'สถานะ', value: 'status_id' },
      { text: '', value: 'action' }
    ],
    headersResults: [
      // {
      //   text: 'รหัสพนักงาน',
      //   align: 'left',
      //   value: 'employee_id'
      // },
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      { text: 'จาก', value: 'previous' },
      { text: '', value: 'action' }
    ],
    desserts: [],
    dessertsTransfer: [],
    dessertsTogether: [],
    dataEmployee: [],
    dataEmployeeTogether: [],
    company: ''
    // desserts: [
    //   {
    //     employeeid: 'OD1162007',
    //     newName: 'นายอาทิตย์ มาหย่อม (แบงค์)',
    //     position_detail: 'วิศวกรไฟฟ้า',
    //     org_name_detail: 'ฝ่ายพัฒนาผลิตภัณฑ์และบริการ',
    //     newYearTerm: '2562/ปลายปี',
    //     validstatus: 1,
    //     action: '4.0',
    //     transfer: 0,
    //     together: 0
    //   },
    //   {
    //     employeeid: 'OD1161003',
    //     newName: 'นายนฤพนธ์ ติดมา (หมู)',
    //     position_detail: 'วิศวกรเครื่องกล',
    //     org_name_detail: 'ไม่มีฝ่ายงาน',
    //     newYearTerm: '2562/กลางปี',
    //     validstatus: 2,
    //     action: '4.0',
    //     transfer: 0,
    //     together: 0
    //   },
    //   {
    //     employeeid: 'OD1161003',
    //     newName: 'นายนฤพนธ์ ติดมา (หมู)',
    //     position_detail: 'วิศวกรเครื่องกล',
    //     org_name_detail: 'ไม่มีฝ่ายงาน',
    //     newYearTerm: '2562/กลางปี',
    //     validstatus: 1,
    //     action: '4.0',
    //     transfer: 0,
    //     together: 0
    //   }
    // ]
  }),
  components: {
    CloseKpi
  },
  computed: {
    ...mapState(['snackbar', 'employeeTransfer'])
  },
  watch: {
    // search (value) {
    //   this.searchEmployeeList = [...this.employeeLists]
    //   this.filterYear()
    //   this.filterTerm()
    //   const searchEmployeeLists = this.searchEmployeeList.filter(employee => {
    //     return employee.employeeid.toLowerCase().includes(value.toLowerCase())
    //   })
    //   this.searchEmployeeList = searchEmployeeLists
    // }
  },
  async created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    // this.closeKpi = true

    this.dialog = true
    // this.validstatus
    this.http = process.env.VUE_APP_URL_1
    eventBus.$on('refreshEmployeeCommittee', this.addData)
    eventBus.$on('test', this.test)
    this.countEmployee = '50'

    this.token = this.$route.params.token_onechat

    await this.axios(
      {
        url: `${this.http}/api/login/getDataLoginForMobilev2/` + this.token,
        // url: 'http://203.150.13.74:8080/api/login/getDataLoginForMobilev2/' + this.token,
        method: 'get'
      })
      .then(response => {
        this.account_id = response.data.data.account_id
        this.dataEmployee = response.data.data
      })
      .catch(async error => {
        if (error) {
          Swal.fire({
            position: 'center',
            icon: 'error',
            title: 'session หมดอายุ กรุณาประเมินใหม่อีกครั้งค่ะ'
          })
        }
        this.dialog = await false
      })

    // const resultData = await this.axios.get(`${process.env.VUE_APP_URL_1}/api/login/getDataLoginForMobile/` + this.account_id)

    // const resultData = await this.axios.get(`${process.env.VUE_APP_URL_1}/api/login/getDataLoginForMobile/` + this.token)
    // this.account_id = resultData.data.data.account_id
    // this.dataEmployee = resultData.data.data

    // console.log('this.dataEmployee', this.dataEmployee)
    this.previous = this.dataEmployee.first_name_th + ' (' + this.dataEmployee.nick_name_th + ')'
    if (this.dataEmployee.employee_detail.length > 1) {
      this.dataEmployee.employee_detail.forEach(el => {
        this.multiEmployee_Id.push(el)
      })

      this.employee_id = this.dataEmployee.employee_detail[0].employee_id
      this.company = this.dataEmployee.employee_detail[0].company
    } else {
      this.employee_id = this.dataEmployee.employee_detail[0].employee_id
      this.company = this.dataEmployee.employee_detail[0].company
    }
    this.addData()
  },
  methods: {
    async searchEmployeeFunction () {
      this.checkboxSearch = true
      this.evaluateSearch = []
      // var datarty = []
      var safe = this
      var post
      if (this.emplyee_IDChange === true) {
        post = {
          em_id_evaluation: this.mutiEmplyee_IDChange,
          employee_id: this.search
        }
      } else {
        post = {
          employee_id_committee: this.employee_id,
          year: '2563',
          term: "mid",
          keyword: this.search
        }
      }
      // console.log('22')
      await this.axios({
        method: 'post',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/searchCommitteeList`,
        // url: 'http://203.150.13.74:8080/api/evaluation/searchCommitteeList',
        data: post
      }).then(async function (response) {

        if (response.data !== 'Not found') {
          safe.previous_evaluation = response.data[0].evaluation.find(async employee => {
            if (employee.em_id_evaluation === safe.employee_id) {
              safe.previous_evaluation = employee.previous_evaluation
              return employee.previous_evaluation
            } else {
              return ''
            }
          })
          // ใส่ค่า newName newTerm newYearTerm และ previous_evaluation
          if (response.data[0].term === 'mid') {
            response.data[0].newTerm = 'กลางปี'
          } else {
            response.data[0].newTerm = 'ปลายปี'
          }
          if (response.data[0].nickname !== '') {
            response.data[0].newName = response.data[0].name + ' (' + response.data[0].nickname + ')'
          } else {
            response.data[0].newName = response.data[0].name
          }
          response.data[0].newYearTerm = response.data[0].year + '/' + response.data[0].newTerm
          response.data[0].previous_evaluation = safe.previous_evaluation
          safe.previous_evaluation = ''

          safe.evaluateSearch.push(response.data[0])
        }

      })

      this.lengthPageEmployee = 1

    },
    reset () {

      this.search = ''
      this.year = ''
      this.term = ''
    },
    closeSnackbar () {
      this.snackbar = false
    },

    async addData () {
      this.search = ''
      this.confirmRights = []
      this.evaluateSearch = []
      this.assessmentResults = []
      var post = {
        // em_id_evaluation: this.employee_id
        employee_id_committee: this.employee_id,
        year: 2563,
        term: "mid"
      }

      const dataLengthEmployee = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthCommitteeList`, post)
      // const dataLengthEmployee = await this.axios.post('http://203.150.13.74:8080/api/evaluation/getLengthCommitteeList', post)

      const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getCommitteeListBypage/` + this.page, post)
      // const EmployeeByPage = await this.axios.post('http://203.150.13.74:8080/api/evaluation/getCommitteeListBypage/' + this.page, post)


      this.lengthPageEmployee = dataLengthEmployee.data.numberpage
      // ดึงข้อมูลหน้าประเมิน
      // if (dataLengthEmployee.length > 0) {
      if (dataLengthEmployee.data !== 'Not found Committee') {
        EmployeeByPage.data.forEach(el => {
          el.evaluation.forEach(employee => {
            if (employee.em_id_evaluation === this.employee_id) {
              this.previous_evaluation = employee.previous_evaluation
            } else {
              this.previous_evaluation = ''
            }
          })
          if (el.term === 'mid') {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + ' (' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
          el.previous_evaluation = this.previous_evaluation
          this.previous_evaluation = ''
        })
        this.desserts = await EmployeeByPage.data
        this.desserts.forEach(employee => {
          this.evaluateSearch.push(employee)
        })
        // console.log(this.evaluate)
      } else {
        await this.axios({
          headers:{
             'Authorization': 'Bearer A02e82be0c45d5c09b864ad0126082c2a166110f06d544457942809dcb8240cb88f8dd59f96484857b814dc8c22fbb56c'
          },
          method: 'post',
          url: `https://chat-api.one.th/message/api/v1/push_message`,
          data: {
           "to" :  this.account_id,
           "bot_id":"Bf575c15407015ca1888aa2209db033ab",
           "type":"text",
           "message": "ขออภัยค่ะ คุณไม่ได้รับสิทธิ์ในการเป็นกรรมการประเมินผลนะคะ ^^" ,
           "custom_notification": "มีข้อความใหม่"
           }
          // responseType: 'arraybuffer',
          })
          await this.axios({
             headers:{
                 'Authorization': 'Bearer A02e82be0c45d5c09b864ad0126082c2a166110f06d544457942809dcb8240cb88f8dd59f96484857b814dc8c22fbb56c'
             },
             method: 'post',
             url: `https://chat-api.one.th/message/api/v2/disable_webview`,
             data: {
               "user_id": this.account_id,
               "bot_id":"Bf575c15407015ca1888aa2209db033ab"
               }
           })
      }
      // } else {
      //   // this.dialog = await false
      //   Swal.fire({
      //     position: 'center',
      //     icon: 'error',
      //     title: 'ขออภัยค่ะ คุณไม่ได้รับสิทธิ์ในการเป็นกรรมการประเมินผลนะคะ ^^',
      //   })
      //
      // }

      this.dialog = await false

    },
    resetData () {
      this.search = ''
    },
    tabChamge () {
      this.search = ''
      this.year = ''
      this.term = ''
      this.countKpi = 0
      this.confirmRights = []
      this.evaluate = []
      this.assessmentResults = []
      this.desserts.forEach(el => {
        this.evaluate.push(el)
      })
      this.dessertsTransfer.forEach(el => {
        this.confirmRights.push(el)
      })
      this.dessertsTogether.forEach(el => {
        this.assessmentResults.push(el)
      })
    },
    async transferEmployee (employee) {
      eventBus.$emit('resetpage')
      this.snackbar = false
      this.$store.commit('updateDialogTransferEmpKpi', true)
      this.$store.commit('updateEmployee', this.previous)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateIdTransfer', this.employee_id)
    },
    multipleEvaluate (employee) {
      this.snackbar = false
      this.$store.commit('updateDialogEmpKpiMulti', true)
      this.$store.commit('updateEmployee', this.previous)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateDataPageTogether', employee.evaluation)
      this.$store.commit('updateIdTransfer', this.employee_id)
    },
    async openResults (employee) {
      var post = {
         employee_id: employee.employee_id
      }
      var dataEmployee = {
        account_id: this.account_id,
        employee_id: this.employee_id

      }
      const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getFormEvaluation`, post)
      // const data = await this.axios.post('http://203.150.13.74:8080/api/evaluation/getFormEvaluation', post)
      // console.log('employee = ', data.data)
      this.snackbar = false
      // console.log('datacommit', data.data)
      this.$store.commit('updateDialogEmpKpiFormCommittee', true)
      await this.$store.commit('updateEmployeeInfo', data.data)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateIdTransfer', dataEmployee)
    },
    async evaluateEmployee (employee) {
      // var test = {
      //   employee_id: employee.employee_id,
      //   employee_id_committee: this.employee_id,
      //   year: employee.year,
      //   term: employee.term,
      //   account_id:this.account_id
      // }
      // console.log('tets', test)
      Swal.fire({
        icon: 'question',
        text: 'ต้องการที่จะประเมินพนักงาน ?',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก'
      }).then(async (result) => {
        if (result.value) {
          // employee.evaluation.forEach(el => {
          //   el.status_id = 2
          // })
          // this.tabChamge()

          // var auth = {
          //   headers: { Authorization: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoxMjM0NX0sImlhdCI6MTU5MTc4Mzc4NX0.Rvag2gZ1x2TFSQ2CJ3rnKHGJzXAtnxEUwATPL3kn6Lc'}
          // }
          // var post = {
          //   employee_id: employee.employee_id,
          //   em_id_evaluation: employee.em_id_evaluation,
          //   year: employee.year,
          //   term: employee.term,
          //   account_id:this.account_id
          // }
          await this.axios({
            headers: { Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoxMjM0NX0sImlhdCI6MTU5MTc4Mzc4NX0.Rvag2gZ1x2TFSQ2CJ3rnKHGJzXAtnxEUwATPL3kn6Lc'},
            method: 'post',
            // url: 'http://203.150.13.74:8080/api/evaluation/getComForBot',
            url: `${process.env.VUE_APP_URL_1}/api/evaluation/getComForBot`,
            data: {
              employee_id: employee.employee_id,
              employee_id_committee: this.employee_id,
              year: employee.year,
              term: employee.term,
              account_id:this.account_id
            }
          })
          // const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEvalForBot', auth, post)
        }
      })
      // await this.$store.commit('updateEmployee', this.desserts)
    },
    async getLengthEmployee () {
      this.dialog = true
      this.search = ''
      this.year = ''
      this.term = ''
      this.countKpi = 0
      this.evaluateSearch = []
      var post = {
        // em_id_evaluation: this.employee_id
        employee_id_committee: this.employee_id,
        year: 2563,
        term: "mid"
      }
      const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getCommitteeListBypage/` + this.page, post)
      // const EmployeeByPage = await this.axios.post('http://203.150.13.74:8080/api/evaluation/getEmployeeByPage/' + this.page, post)
      this.desserts = EmployeeByPage.data
      EmployeeByPage.data.forEach(el => {
        if (el.term === 1) {
          el.newTerm = 'กลางปี'
        } else {
          el.newTerm = 'ปลายปี'
        }
        if (el.nickname !== '') {
          el.newName = el.name + '(' + el.nickname + ')'
        } else {
          el.newName = el.name
        }
        el.newYearTerm = el.year + '/' + el.newTerm
      })

      this.desserts.forEach(el => {
        this.evaluateSearch.push(el)
        // if (el.tranfer === 1) {
        //   this.confirmRights.push(el)
        // }
        // if (el.together === 1) {
        //   this.assessmentResults.push(el)
        // }
        // if (el.status_id === 2) {
        //   this.countKpi++
        // }
        // if (el.tranfer !== 1 && el.status_id !== 4) {
        //   this.evaluate.push(el)
        // }
      })
      this.dialog = false
    },
    // async getLengthEmployeeTransfer () {
    //   this.dialog = true
    //   this.search = ''
    //   this.year = ''
    //   this.term = ''
    //   this.countKpi = 0
    //   this.confirmRights = []
    //   var post = { em_id_evaluation: this.employee_id }
    //   // const dataLengthEmployeeTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTransfer', post)
    //   // const EmployeeTransferByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/' + this.page, post)
    //   // this.lengthPageEmployeeTransfer = dataLengthEmployeeTransfer.data.numberpage
    //   const EmployeeByPageTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/' + this.pageTransfer, post)
    //   // const EmployeeByPageTransfer = await this.axios.post('http://localhost:3000/api/evaluation/getEmployeeTransferByPage/' + this.pageTransfer, post)
    //   this.dessertsTransfer = EmployeeByPageTransfer.data
    //   EmployeeByPageTransfer.data.forEach(el => {
    //     if (el.term === 1) {
    //       el.newTerm = 'กลางปี'
    //     } else {
    //       el.newTerm = 'ปลายปี'
    //     }
    //     if (el.nickname !== '') {
    //       el.newName = el.name + '(' + el.nickname + ')'
    //     } else {
    //       el.newName = el.name
    //     }
    //     el.newYearTerm = el.year + '/' + el.newTerm
    //   })
    //
    //   this.dessertsTransfer.forEach(el => {
    //     this.confirmRights.push(el)
    //     // if (el.tranfer === 1) {
    //     //   this.confirmRights.push(el)
    //     // }
    //     // if (el.together === 1) {
    //     //   this.assessmentResults.push(el)
    //     // }
    //     // if (el.status_id === 2) {
    //     //   this.countKpi++
    //     // }
    //     // if (el.tranfer !== 1 && el.status_id !== 4) {
    //     //   this.evaluate.push(el)
    //     // }
    //   })
    //   this.dialog = false
    // },
    // async getLengthEmployeeTogether () {
    //   this.dialog = true
    //   this.search = ''
    //   this.year = ''
    //   this.term = ''
    //   this.countKpi = 0
    //   this.assessmentResults = []
    //   var post = { em_id_evaluation: this.employee_id }
    //   const EmployeeByPageTogether = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTogether/' + this.pageTogether, post)
    //   // const EmployeeByPageTogether = await this.axios.post('http://localhost:3000/api/evaluation/getLengthEmployeeTogether/' + this.pageTogether, post)
    //   this.dessertsTogether = EmployeeByPageTogether.data
    //   EmployeeByPageTogether.data.forEach(el => {
    //     if (el.term === 1) {
    //       el.newTerm = 'กลางปี'
    //     } else {
    //       el.newTerm = 'ปลายปี'
    //     }
    //     if (el.nickname !== '') {
    //       el.newName = el.name + '(' + el.nickname + ')'
    //     } else {
    //       el.newName = el.name
    //     }
    //     el.newYearTerm = el.year + '/' + el.newTerm
    //   })
    //
    //   this.dessertsTogether.forEach(el => {
    //     this.assessmentResults.push(el)
    //   })
    //   this.dialog = false
    // },
    // async returnEmployee (employee) {
    //   const index = this.evaluate.indexOf(employee)
    //   Swal.fire({
    //     text: 'ต้องการตีกลับ ?',
    //     icon: 'question',
    //     showCancelButton: true,
    //     confirmButtonColor: '#3085d6',
    //     cancelButtonColor: '#d33',
    //     confirmButtonText: 'ยืนยัน',
    //     cancelButtonText: 'ยกเลิก'
    //   }).then((result) => {
    //     if (result.value) {
    //       employee.evaluation[0].validstatus = 4
    //       this.evaluate.splice(index, 1)
    //       Swal.fire({
    //         text: 'ตีกลับเรียบร้อย',
    //         icon: 'success'
    //       })
    //     }
    //     this.tabChamge()
    //   })
    //   await this.$store.commit('updateEmployee', this.desserts)
    // },
    filterYear () {
      if (this.year !== '') {
        const searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.year === this.year
        })
        this.searchEmployeeList = searchEmployeeLists
      }
    },
    // fromPrevious (employee) {
    //
    // },
    filterTerm () {
      if (this.term !== '') {
        const searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.term === this.term
        })
        this.searchEmployeeList = searchEmployeeLists
      }
    }
  }
}
</script>

<style lang="css" scoped>
.bgcolor{
  color: white;
  background-color: #4ea612 !important;
}
.btnPrimary {
  color: white;
  background-color: #4ea612 !important;
}
.bgsnackbarColor{
  color: white;
  background-image: linear-gradient(to right, #F42413, #F76B16, #F1AE37, #FAE4B1);
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
.centerdiv {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.text-chip {
  color: white!important;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.toolbar_Content {
    padding-top: 8px!important;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}
.swal-overlay {
  background-color: rgba(43, 165, 137, 0.45);
}
/* .actionButton {
  margin-right: 260px;
  margin-left: 0px;
}
@media only screen and (max-width: 375px) {
  .actionButton {
    margin-right: 220px;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 320px) {
  .actionButton {
    margin-right: 170px;
    margin-left: 0px;
  }
} */
</style>
