<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="200"
    >
      <template v-slot:activator="{on}">
        <v-container>
          <v-card>
            <v-app-bar
              class="tool_Bar"
              color="red"
              absolute
              height="100px"

            >
              <v-spacer></v-spacer>
              <v-avatar size="60">
                <img
                  :src="`${http}/api/login/getProfilePicture/${employee_id}`"
                />
              </v-avatar>
              <span class="pl-2" style="fontSize: 18px!important;fontWeight: bold;color: white;">
                {{dataEmployee.first_name_th}} {{dataEmployee.last_name_th}}
                <v-menu v-if="multiEmployee_Id.length > 1" offset-y>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn fab x-small icon v-bind="attrs" v-on="on">
                      <v-icon size="25" color="white">mdi-menu-down</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item
                      v-for="(item, index) in multiEmployee_Id"
                      :key="index"
                      @click="changeEmployee_Id(item)"
                    >
                      <v-list-item-title>{{ item.company }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu><br>
                <p style="fontSize: 14px" class="mb-0">{{company}}</p>
              </span>
              <v-spacer></v-spacer>
              <template v-slot:extension>
                <v-tabs
                  v-model="tabs"
                  color="white"
                  background-color="transparent"
                  center-active
                  grow
                  centered
                  icons-and-text
                >
                  <v-tabs-slider></v-tabs-slider>
                  <v-tab class="px-2">
                    <p style="color: white; fontSize: 14px !important; font-family: 'Sarabun' !important; fontWeight: bold;">ผลงาน</p>
                    <v-icon color="white">mdi-briefcase-variant</v-icon>
                  </v-tab>
                </v-tabs>
              </template>
            </v-app-bar>
            <v-footer height="148"></v-footer>
            <v-tabs-items v-model="tabs">

              <!-- ผลงาน -->
              <v-tab-item>
                <v-container>
                  <v-card>
                    <v-toolbar
                      dark
                      class="mx-auto tool_Bar"
                      color="#218AC4"
                    >
                      <v-toolbar-title><b style="fontSize: 18px !important;">รายละเอียดของพนักงาน</b></v-toolbar-title>
                    </v-toolbar>
                    <template>
                      <v-card class="pt-8 pb-5">
                        <v-row>
                          <v-col
                            xs12
                            pb-4
                            text-lg-center
                            style="display: flex;align-items: center;justify-content: center;"
                          >
                            <div
                              class="elevation-7"
                              style="display: flex; align-items: center; justify-content: center;"
                            >
                              <img
                                :src="`${http}/api/login/getProfilePicture/${employee_id}`"
                                class="imageProfileSize"
                              />
                            </div>
                          </v-col>
                        </v-row>
                        <v-row>
                          <v-col class="text-left pb-0" cols="12">
                            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >รหัสพนักงาน</p>
                            <span v-if="dataWork.name !== ''" style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ dataWork.employee_id }}</span>
                            <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >-</span>
                          </v-col>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >ชื่อ-สกุล</p>
                            <span v-if="dataWork.name !== ''" style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ dataWork.name }}</span>
                            <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >-</span>
                          </v-col>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >ตำแหน่ง</p>
                            <span v-if="dataWork.position !== ''" style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ dataWork.position }}</span>
                            <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >-</span>
                          </v-col>
                          <v-col class="text-left pa-0 px-5" cols="12">
                            <center class="pb-3 pt-2"><hr width="90%" color="#DED7D7"></center>
                          </v-col>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >อายุงาน</p>
                            <span v-if="dataWork.work_year !== ''" style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ dataWork.work_year }} ปี {{ dataWork.work_month }} เดือน {{ dataWork.work_date }} วัน</span>
                            <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >-</span>
                          </v-col>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >ฝ่าย</p>
                            <spen v-if="dataWork.org_name !== ''"  style="fontSize: 16px;" class="pl-10 mb-3" >{{ dataWork.org_name }}</spen>
                            <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >-</span>
                          </v-col>
                        </v-row>
                      </v-card>
                    </template>
                  </v-card>
                </v-container>
                <v-container>
                  <v-card>
                    <v-toolbar
                      dark
                      class="mx-auto tool_Bar"
                      color="#218AC4"
                    >
                      <v-toolbar-title><b style="fontFamily: Roboto !important; fontSize: 20px !important;">Chart</b></v-toolbar-title>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                    <template>
                      <v-card class="pt-8 pb-5">
                        <v-row>
                          <v-col
                            xs12
                            pb-4
                            text-lg-center
                            style="display: flex;align-items: center;justify-content: center;"
                          >
                            <div>
                              <VueApexCharts type="radialBar" width="340" height="390" :options="chartEmployee" :series="seriesEmployee"></VueApexCharts>
                            </div>
                          </v-col>
                          <v-col
                            xs12
                            pb-4
                            text-lg-center
                            class="px-6"
                            style="display: flex;align-items: center;justify-content: center;"
                          >
                            <v-select
                              v-model="selectBox"

                              v-if="dataChartEmployee.length > 1"
                              :items="items"
                              dense
                              label="ผู้ประเมิน"
                              outlined
                              @change="changeSelectBox1"
                            ></v-select>
                            <v-text-field
                              v-else
                              v-model="chartID"
                              style="font-size: 18px !important;"
                              outlined
                              readonly
                              label="ผู้ประเมิน"
                            ></v-text-field>
                          </v-col>
                        </v-row>
                      </v-card>
                    </template>
                  </v-card>
                </v-container>
                <v-container>
                  <v-card>
                    <v-toolbar
                      dark
                      class="mx-auto tool_Bar"
                      color="#218AC4"
                    >
                      <v-toolbar-title><b style="fontFamily: Roboto !important; fontSize: 20px !important;">สรุปผลการประเมิน</b></v-toolbar-title>
                      <v-spacer></v-spacer>
                    </v-toolbar>
                    <template>
                      <v-card class=" pb-5">
                        <v-container>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 16px;" class="pt-3 mb-3 text-left">
                               รอบการประเมิน :
                               <b class="text" style="fontFamily: Roboto !important; fontSize: 18px !important; fontWeight: bold;">{{dataWork.newTerm}}</b>
                            </p>
                          </v-col>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 16px;" class="pt-3 mb-3 text-left">
                               เกรดที่ได้รับจากหัวหน้าพนักงาน :
                              <b class="text" style="fontFamily: Roboto !important; fontSize: 22px !important; fontWeight: bold;">{{dataWork.grade_avg}}</b>
                            </p>
                          </v-col>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 16px;" class="mb-3 text-left">
                               เกรดที่ได้รับการอนุมัติ :
                              <b v-if="dataWork.adjustment_hr_grade !== ''" class="text" style="fontFamily: Roboto !important; fontSize: 30px !important; fontWeight: bold;">{{dataWork.adjustment_hr_grade}}</b>
                              <b v-else class="text" style="fontFamily: Roboto !important; fontSize: 30px !important; fontWeight: bold;">{{dataWork.grade_avg}}</b>
                            </p>
                          </v-col>
                          <v-col class="text-left py-1" cols="12">
                            <p style="fontSize: 16px;" class="mb-3 text-left">
                               สถานะการปรับตำแหน่ง :
                              <b v-if="dataWork.adjustment_hr_status === '1'" class="text" style="fontFamily: Roboto !important; fontSize: 18px !important; fontWeight: bold;">ปรับตำแหน่ง</b>
                              <b v-else class="text" style="fontFamily: Roboto !important; fontSize: 18px !important; fontWeight: bold;">ไม่ปรับตำแหน่ง</b>
                            </p>
                          </v-col>
                        </v-container>
                      </v-card>
                    </template>
                  </v-card>
                </v-container>
              </v-tab-item>
            </v-tabs-items>
          </v-card>
          <v-footer height="50"></v-footer>
          <v-footer fixed bottom>
            <v-btn
              v-if="dataWork.confirm === 0"
              style="width:100%"
              color="success"
              @click="approve()"
            >
               ยืนยันเกรด
            </v-btn>
            <v-btn
              v-else
              style="width:100%"
              color="success"
              @click="approve()"
              disabled
            >
               ยืนยันเกรดเรียบร้อย
               <v-icon>mdi-check</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
          </v-footer>
        </v-container>
      </template>
      <v-card>
        <v-card-text class="centerdiv py-5">
          <v-progress-circular
            :size="80"
            :width="6"
            color="green"
            indeterminate
            class="py-5"
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Swal from 'sweetalert2'
import VueApexCharts from 'vue-apexcharts'
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    errorpage: false,
    errorpageCount: 0,
    dialog: false,
    cause: '',
    chartID: '',
    radios: '',
    series: [],
    seriesDonut: [],
    seriesEmployee: [100, 100, 100, 100],
    textTitle: ['ด้านที่ 1', 'ด้านที่ 2', 'ด้านที่ 3', 'ด้านที่ 4'],
    gradeEmployee: 'Grade',
    grade_percent: '',
    pointEmployee: [],
    multiEmployee_Id: [],
    multiCompany: [],
    emplyee_IDChange: false,
    mutiEmplyee_IDChange: '',
    previous: '',
    countEmployee: 0,
    countEmployeeEvaluate: 0,
    countEmployeeNoEvaluate: 0,
    previous_evaluation: '',
    previous_evaluationTransfer: '',
    previous_evaluationTogether: '',
    countKpi: 0,
    page: 1,
    pageTransfer: 1,
    http: '',
    pageTogether: 1,
    checkboxSearch: false,
    supper: true,
    closeKpi: false,
    selectBox: '',
    checkTab: false,
    lengthPageEmployee: 0,
    lengthPageEmployeeTransfer: 0,
    lengthPageEmployeeTogether: 0,
    searchEmployeeList: [],
    employeeLists: [],
    sumKpi: 0,
    dataPage: '',
    validstatus: [],
    tabs: null,
    offsetTop: 0,
    token: '',
    tabsChart: null,
    search: '',
    searchTransfer: '',
    searchTogether: '',
    year: '',
    term: '',
    snackbar: true,
    confirmRights: [],
    evaluateSearchData: [],
    evaluateSearch: [],
    assessmentResults: [],
    dataWork: '',
    snackbarText: '',
    disabledCountKpiBtn: true,
    snackbarColor: 'red',
    listYear: ['2559', '2560', '2561', '2562', '2563', '2564', '2565'],
    performanceTermLists: [
      { name: 'กลางปี', value: 'middleYear' },
      { name: 'ปลายปี', value: 'lateYear' }
    ],
    headersEvaluate: [
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      { text: 'จาก', value: 'previous' },
      { text: '', value: 'action' }
    ],
    headersRights: [
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      { text: 'ผู้รับสิทธิ์', value: 'previous' },
      { text: '', value: 'action' }
    ],
    headersResults: [
      {
        text: 'ชื่อ',
        value: 'newName'
      },
      { text: 'ตำแหน่ง', value: 'position' },
      { text: 'ฝ่ายงาน', value: 'org_name' },
      { text: 'รอบ/สถานะ', value: 'status_id' },
      { text: '', value: 'action' }
    ],
    desserts: [],
    dessertsTransfer: [],
    dessertsTogether: [],
    dataEmployee: [],
    dataChartEmployee: '',
    dataEmployeeTogether: [],
    company: '',
    itemDialog: [],
    editedItem: '',
    account_id: '',
    indecater: '',
    items: [],
    project: '',
    evaluation_project: [],
    dataWorkEmployee: '',
    itemsem_ID: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' },
      ],

  }),
  components: {
    VueApexCharts
  },
  computed: {
    ...mapState(['snackbar', 'employeeTransfer']),
    PageShow () {
      return this.showpage
    },
    chartOptionsDonut () {
      return {
        chart: {
          height: 350,
          type: 'donut'
        },
        labels: [' A', ' B+', ' B', ' C+', ' C', ' D+', ' D', ' E'],
        colors: ['#F47272', '#F0A971', '#F1E675', '#C4F076', '#86C286', '#97F2EA', '#8FB7F7', '#F7AEF7'],
        legend: {
          position: 'right',
          offsetX: -30
        },
        plotOptions: {
          pie: {
            donut: {
              size: '65%',
              background: 'transparent',
              labels: {
                show: true,
                fontSize: '36px',
                value: {
                  show: true,
                  fontSize: '34px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  fontWeight: 400,
                  color: undefined,
                  offsetY: 16,
                  formatter: function (val) {
                    return val
                  }
                },
                total: {
                  show: true,
                  showAlways: false,
                  label: '',
                  labeltest: this.countEmployee,
                  fontSize: '26px',
                  fontFamily: 'Helvetica, Arial, sans-serif',
                  fontWeight: 900,
                  color: '#373d3f',
                  formatter: function (w) {
                    var sum = w.config.plotOptions.pie.donut.labels.total.labeltest
                    var count = w.globals.seriesTotals.reduce((a, b) => {
                      return a + b
                    }, 0)
                  return count + ' / ' + sum
                  }
                }
              }
            }
          }
        }
      }
    },
    chartOptions () {
      return {
        chart: {
          height: 390,
          type: 'radialBar'
        },
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 225,
            hollow: {
              margin: 0,
              size: '70%',
              background: '#fff',
              image: undefined,
              imageOffsetX: 0,
              imageOffsetY: 0,
              position: 'front'
            },
            dataLabels: {
              show: true,
              name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
              },
              value: {
                formatter: function(val) {
                  return parseInt(val) + '%';
                },
                color: '#111',
                fontSize: '36px',
                show: true,
              }
            }
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            type: 'vertical',
            shadeIntensity: 0.5,
            gradientToColors: ['#70EC98'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
          }
        },
        stroke: {
          lineCap: 'round'
        },
        labels: ['ประเมินแล้ว'],
        colors: ['#0575E6']
      }
    },
    chartEmployee () {
      return {
        chart: {
          width: 350,
          type: 'radialBar'
        },
        labels: this.textTitle,
        colors: ['#048ffa', '#07E253', '#fdb019', '#fd4560'],
        legend: {
          floating: true,
          fontSize: '10px',
          position: 'left',
          offsetX: 0,
          offsetY: 5,
          show: true,
          formatter: function (seriesName) {
            return seriesName
          },
          labels: {
            useSeriesColors: true
          }
        },
        plotOptions: {
          radialBar: {
            offsetY: 0,
            offsetX: 0,
            startAngle: 0,
            endAngle: 270,
            hollow: {
              margin: 5,
              size: '30%',
              background: 'transparent',
              image: undefined
            },
            dataLabels: {
              show: true,
              total: {
                show: true,
                label: this.gradeEmployee,
                grade_percent: this.grade_percent,
                color: '',
                fontSize: '28px',
                fontFamily: undefined,
                fontWeight: 600,

                formatter: function (w) {
                  const sumTotal = w.config.plotOptions.radialBar.dataLabels.total.grade_percent + '%'
                  return sumTotal
                }
              }
            }
          }
        }
      }
    }
  },
  watch: {

  },
  async created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    if (this.closeKpi !== true) {
      this.http = process.env.VUE_APP_URL_1
      this.errorpageCount = 0
      this.dialog = true
      this.token = this.$route.params.token_onechat

      // token
      await this.axios(
        {
          url: `${this.http}/api/login/getDataLoginForMobilev2/` + this.token,
          method: 'get'
        })
        .then(response => {
          this.account_id = response.data.data.account_id
          this.dataEmployee = response.data.data
        })
        .catch(error => {
          if (error) {
            Swal.fire({
              position: 'center',
              icon: 'error',
              title: 'session หมดอายุ กรุณาเข้าใหม่อีกครั้งค่ะ'
            })
          }
        })

      // มุดไม่ใช้ token
      // const tokenID = await this.axios.get(`${process.env.VUE_APP_URL_1}/api/login/getDataLoginForMobile/` + this.token)
      // this.account_id = tokenID.data.data.account_id
      // this.dataEmployee = tokenID.data.data

      eventBus.$on('refreshEmployee', this.resetData)
      eventBus.$on('refreshEmployeeData', this.addData)
      this.countEmployee = '50'
      this.previous = this.dataEmployee.first_name_th + ' (' + this.dataEmployee.nick_name_th + ')'
      if (this.dataEmployee.employee_detail.length > 1) {
        var countNumEmployee_Id = 0
        this.employee_id = this.dataEmployee.employee_detail[0]
        this.multiEmployee_Id.push(this.dataEmployee.employee_detail[0])
        this.multiCompany.push(this.dataEmployee.employee_detail[0])

        for (var i = 1; i < this.dataEmployee.employee_detail.length; i++) {
          for (var j = 0; j < this.multiEmployee_Id.length; j++) {
            if (this.multiEmployee_Id[j].employee_id === this.dataEmployee.employee_detail[i].employee_id) {
              countNumEmployee_Id++
            }
          }
          if (countNumEmployee_Id === 0) {
            this.employee_id = this.dataEmployee.employee_detail[i]
            this.multiEmployee_Id.push(this.dataEmployee.employee_detail[i])
            this.multiCompany.push(this.dataEmployee.employee_detail[i])
          }
          countNumEmployee_Id = 0
        }
        this.employee_id = this.dataEmployee.employee_detail[this.dataEmployee.employee_detail.length-1].employee_id
        this.company = this.dataEmployee.employee_detail[this.dataEmployee.employee_detail.length-1].company
      } else {
        this.employee_id = this.dataEmployee.employee_detail[0].employee_id
        this.company = this.dataEmployee.employee_detail[0].company
      }
      this.chartAddData()
      this.addData()
    }
  },
  methods: {
    approve () {
      var dataApprove = {
        employee_id: this.employee_id,
        year: this.dataWorkEmployee.year,
        term: this.dataWorkEmployee.term
      }
      Swal.fire({
        title: 'คุณต้องการยืนยันเกรด ?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirm'
      }).then(async (result) => {
        if (result.isConfirmed) {
          await this.axios(
            {
              url: `${this.http}/api/evaluation/confirmGrade`,
              data: dataApprove,
              method: 'post'
            })
            .then(
              Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'ยืนยันเกรดสำเร็จ',
                showConfirmButton: false,
                timer: 1000
              })
            )
            this.chartAddData()
            this.addData()
        }
      })
    },
    onScroll (e) {
        this.offsetTop = e.target.scrollTop
    },
    async chartAddData () {
      var evaluation
      if (this.emplyee_IDChange === true) {
        evaluation = await {
          em_id_evaluation: this.mutiEmplyee_IDChange
        }
      } else {
        evaluation = await {
          em_id_evaluation: this.employee_id
        }
      }
      this.series = []
      const getMoniterEvaluation = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getMoniterEvaluation`, evaluation)
      this.countEmployee = await getMoniterEvaluation.data.finished + getMoniterEvaluation.data.not_finished
      this.countEmployeeEvaluate = await getMoniterEvaluation.data.finished
      this.countEmployeeNoEvaluate = await getMoniterEvaluation.data.not_finished
      var sumCountEmployee = (this.countEmployeeEvaluate * 100) / this.countEmployee
      this.seriesDonut = [
        getMoniterEvaluation.data.grade.A,
        getMoniterEvaluation.data.grade.B_plus,
        getMoniterEvaluation.data.grade.B,
        getMoniterEvaluation.data.grade.C_plus,
        getMoniterEvaluation.data.grade.C,
        getMoniterEvaluation.data.grade.D_plus,
        getMoniterEvaluation.data.grade.D,
        getMoniterEvaluation.data.grade.E,
      ]
      this.series.push(sumCountEmployee)
    },
    async changeEmployee_Id (employee) {
      this.dialog = true
      this.evaluateSearch = []
      this.errorpageCount = 0
      this.checkTab = false
      this.confirmRights = []
      this.dataEmployeeTogether = []
      this.page = 1
      this.pageTransfer = 1
      this.pageTogether = 1
      this.emplyee_IDChange = true
      this.employee_id = employee.employee_id
      this.mutiEmplyee_IDChange = employee.employee_id
      this.company = employee.company
      this.countEmployee = 0
      this.countEmployeeEvaluate = 0
      this.countEmployeeNoEvaluate = 0
      this.chartAddData()
      this.addData()
    },
    saveProject () {
      this.evaluation_project = {
        employee_id: this.dataWorkEmployee.employee_id,
        term: this.dataWorkEmployee.term,
        year: this.dataWorkEmployee.year,
        project: this.project
      }

      Swal.fire({
        title: 'บันทึกผลงาน',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirm'
      }).then(async (result) => {
        if (result.value) {
          await this.axios(
            {
              url: `${this.http}/api/evaluation/updateFormEvaluationProject`,
              data: this.evaluation_project,
              method: 'put'
            })
            .then(response => {
              if (response.data === `update project_evaluation employee_id ${this.dataWorkEmployee.employee_id} success`) {
                Swal.fire({
                  position: 'center',
                  icon: 'success',
                  title: 'บันทึกผลงานสำเร็จ',
                  showConfirmButton: false,
                  timer: 1500
                })
              }
            })
          this.resetData()
        }
      })
    },
    async openResultsChart () {
      if (this.dataChartEmployee.length > 1) {
        this.dataChartEmployee.forEach(el => {
          this.items.push(el.name_evaluation)
          this
        })

      } else {
        this.chartID = this.dataChartEmployee[0].name_evaluation
        if (this.dataChartEmployee[0].status_id === 1) {
          this.seriesEmployee = [0, 0, 0, 0]
          this.textTitle = ['ด้านที่ 1', 'ด้านที่ 2', 'ด้านที่ 3', 'ด้านที่ 4']
          this.gradeEmployee = 'Grade'
          this.grade_percent = '0'
        } else {


          this.grade_percent = this.dataChartEmployee[0].grade_percent
          this.gradeEmployee = this.dataChartEmployee[0].grade
          this.pointEmployee = this.dataChartEmployee[0].point
          if (this.pointEmployee[0].score === null) {
            this.pointEmployee[0].score = await 0
          }
          if (this.pointEmployee[1].score === null) {
            this.pointEmployee[1].score = await 0
          }
          if (this.pointEmployee[2].score === null) {
            this.pointEmployee[2].score = await 0
          }
          if (this.pointEmployee[3].score === null) {
            this.pointEmployee[3].score = await 0
          }
          this.textTitle = [
            'ด้านที่ 1 (' + this.pointEmployee[0].score + '/' + this.pointEmployee[0].fullscore + ')',
            'ด้านที่ 2 (' + this.pointEmployee[1].score + '/' + this.pointEmployee[1].fullscore + ')',
            'ด้านที่ 3 (' + this.pointEmployee[2].score + '/' + this.pointEmployee[2].fullscore + ')',
            'ด้านที่ 4 (' + this.pointEmployee[3].score + '/' + this.pointEmployee[3].fullscore + ')'
          ]
          var point_1 = ((this.pointEmployee[0].score*100)/this.pointEmployee[0].fullscore).toFixed(2)
          var point_2 = ((this.pointEmployee[1].score*100)/this.pointEmployee[1].fullscore).toFixed(2)
          var point_3 = ((this.pointEmployee[2].score*100)/this.pointEmployee[2].fullscore).toFixed(2)
          var point_4 = ((this.pointEmployee[3].score*100)/this.pointEmployee[3].fullscore).toFixed(2)
          this.seriesEmployee = [
            point_1,
            point_2,
            point_3,
            point_4
          ]
        }
      }
    },
    async changeSelectBox1 () {
      this.seriesEmployee = await []
      this.textTitle = await []
      this.dataChartEmployee.forEach(async el => {
        if (el.name_evaluation === this.selectBox) {
          if (el.status_id === 1) {
            this.gradeEmployee = ''
            this.seriesEmployee = [0, 0, 0, 0,]
            this.textTitle = ['ด้านที่ 1', 'ด้านที่ 2', 'ด้านที่ 3', 'ด้านที่ 4']
            this.grade_percent = '0'
          } else {
            for (var i = 0; i < el.point.length; i++) {
              if (el.point[i].score === null) {
                el.point[i].score = await 0
              }

              this.textTitle.push('ด้านที่ ' + el.point[i].part + '(' + el.point[i].score + '/' + el.point[i].fullscore + ')')
              this.seriesEmployee.push(((el.point[i].score*100)/el.point[i].fullscore).toFixed(2))
            }
            this.gradeEmployee = await el.grade
            this.grade_percent = el.grade_percent
          }
        }
      })
    },
    async searchTogetherFunction () {
      this.checkboxSearch = true
      this.assessmentResults = []
      var post
      if (this.emplyee_IDChange === true) {
        post = {
          em_id_evaluation: this.mutiEmplyee_IDChange,
          employee_id: this.searchTogether
        }
      } else {
        post = {
          em_id_evaluation: this.employee_id,
          employee_id: this.searchTogether
        }
      }
      const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/searchEmployeeTogether`, post)
      this.previous_evaluation = data.data[0].evaluation.find(async employee => {
        if (employee.em_id_evaluation === this.employee_id) {
          this.previous_evaluation = employee.previous_evaluation
          return employee.previous_evaluation
        } else {
          return ''
        }
      })
      // ใส่ค่า newName newTerm newYearTerm และ previous_evaluation
      if (data.data[0].term === 'mid') {
        data.data[0].newTerm = 'กลางปี'
      } else {
        data.data[0].newTerm = 'ปลายปี'
      }
      if (data.data[0].nickname !== '') {
        data.data[0].newName = data.data[0].name + ' (' + data.data[0].nickname + ')'
      } else {
        data.data[0].newName = data.data[0].name
      }
      data.data[0].newYearTerm = data.data[0].year + '/' + data.data[0].newTerm
      data.data[0].previous_evaluation = this.previous_evaluation
      this.previous_evaluation = ''

      this.assessmentResults.push(data.data[0])
      this.lengthPageEmployeeTogether = 1
    },
    async searchTransferFunction () {
      this.checkboxSearch = true
      this.confirmRights = []
      var post
      if (this.emplyee_IDChange === true) {
        post = {
          em_id_evaluation: this.mutiEmplyee_IDChange,
          employee_id: this.searchTransfer
        }
      } else {
        post = {
          em_id_evaluation: this.employee_id,
          employee_id: this.searchTransfer
        }
      }
      const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/searchEmployeeTransfer`, post)
      this.previous_evaluation = data.data[0].evaluation.find(async employee => {
        if (employee.em_id_evaluation === this.employee_id) {
          this.previous_evaluationTransfer = employee.previous_evaluation
          return employee.name_evaluation
        } else {
          return ''
        }
      })
      // ใส่ค่า newName newTerm newYearTerm และ previous_evaluation
      if (data.data[0].term === 'mid') {
        data.data[0].newTerm = 'กลางปี'
      } else {
        data.data[0].newTerm = 'ปลายปี'
      }
      if (data.data[0].nickname !== '') {
        data.data[0].newName = data.data[0].name + ' (' + data.data[0].nickname + ')'
      } else {
        data.data[0].newName = data.data[0].name
      }
      data.data[0].newYearTerm = data.data[0].year + '/' + data.data[0].newTerm
      data.data[0].previous_evaluationTransfer = this.previous_evaluationTransfer
      this.previous_evaluationTransfer = ''

      this.confirmRights.push(data.data[0])
      this.lengthPageEmployeeTransfer = 1
    },
    async searchEmployeeFunction () {
      this.checkboxSearch = true
      this.evaluateSearch = []
      var safe = this
      var post
      if (this.emplyee_IDChange === true) {
        post = {
          em_id_evaluation: this.mutiEmplyee_IDChange,
          employee_id: this.search
        }
      } else {
        post = {
          em_id_evaluation: this.employee_id,
          employee_id: this.search
        }
      }
      await this.axios({
        method: 'post',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/searchEmployee`,
        data: post
      }).then(async function (response) {

        if (response.data !== 'Not found') {

          safe.previous_evaluation = response.data[0].evaluation.find(async employee => {
            if (employee.em_id_evaluation === safe.employee_id) {
              safe.previous_evaluation = employee.previous_evaluation
              return employee.previous_evaluation
            } else {
              return ''
            }
          })
          // ใส่ค่า newName newTerm newYearTerm และ previous_evaluation
          if (response.data[0].term === 'mid') {
            response.data[0].newTerm = 'กลางปี'
          } else {
            response.data[0].newTerm = 'ปลายปี'
          }
          if (response.data[0].nickname !== '') {
            response.data[0].newName = response.data[0].name + ' (' + response.data[0].nickname + ')'
          } else {
            response.data[0].newName = response.data[0].name
          }
          response.data[0].newYearTerm = response.data[0].year + '/' + response.data[0].newTerm
          response.data[0].previous_evaluation = safe.previous_evaluation
          safe.previous_evaluation = ''

          safe.evaluateSearch.push(response.data[0])
        }
      })

      this.lengthPageEmployee = 1

    },
    reset () {
      this.search = ''
      this.year = ''
      this.term = ''
    },
    closeSnackbar () {
      this.snackbar = false
    },
    async resetData () {
      this.search = ''
      this.searchTransfer = ''
      this.searchTogether = ''
      this.confirmRights = []
      this.evaluateSearch = []
      this.assessmentResults = []
      this.dialog = true
      var post
      if (this.emplyee_IDChange === true) {
        post = { em_id_evaluation: this.mutiEmplyee_IDChange }
      } else {
        post = { em_id_evaluation: this.employee_id }
      }
      const dataLengthEmployee = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployee`, post)
      const dataLengthEmployeeTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTransfer`, post)
      const dataLengthEmployeeTogether = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTogether`, post)
      const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeByPage/` + this.page, post)
      const EmployeeTransferByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/` + this.pageTransfer, post)
      const EmployeeTogetherByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTogetherByPage/` + this.pageTogether, post)
      this.sumKpi = dataLengthEmployee.data.records
      this.lengthPageEmployee = dataLengthEmployee.data.numberpage
      this.lengthPageEmployeeTransfer = dataLengthEmployeeTransfer.data.numberpage
      this.lengthPageEmployeeTogether = dataLengthEmployeeTogether.data.numberpage

      // ดึงข้อมูลหน้าประเมิน
      if (dataLengthEmployee.data !== 'Not found') {
        EmployeeByPage.data.forEach(el => {
          el.evaluation.forEach(async employee => {
            if (employee.em_id_evaluation === this.employee_id) {
              this.previous_evaluation = employee.previous_evaluation
            } else {
              this.previous_evaluation = ''
            }
          })
          el.newName = el.nickname !== '' ? el.newName = el.name + ' (' + el.nickname + ')' : el.newName = el.name
          if (el.term === 'mid') {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + ' (' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
          el.previous_evaluation = this.previous_evaluation
          this.previous_evaluation = ''
        })
        this.desserts = await EmployeeByPage.data
        this.desserts.forEach(employee => {
          this.evaluateSearch.push(employee)
        })
      } else {
        this.errorpageCount++
      }
      // console.log('evaluate', this.evaluate)
      // ดึงข้อมูลหน้าโอนสิทธิ์
      if (dataLengthEmployeeTransfer.data !== 'Not found') {
        EmployeeTransferByPage.data.forEach(el => {
          this.previous_evaluationTransfer = el.evaluation.find(async employee => {
            if (employee.em_id_evaluation === this.employee_id) {
              // this.previous_evaluation = employee.previous_evaluation
              return employee.name_evaluation
            } else {
              return ''
            }
          })
          if (el.term === 'mid') {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + ' (' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
          el.previous_evaluationTransfer = this.previous_evaluationTransfer
          this.previous_evaluation = ''
        })

        this.dessertsTransfer = await EmployeeTransferByPage.data
        this.dessertsTransfer.forEach(el => {
          this.confirmRights.push(el)
        })
      } else {
        this.errorpageCount++
      }
      // console.log('confirmRights', this.confirmRights)
      // ดึงข้อมูลหน้าประเมินร่วม
      // console.log('this.dataLengthEmployeeTogether', this.dataLengthEmployeeTogether)
      if (dataLengthEmployeeTogether.data !== 'Not found') {
        EmployeeTogetherByPage.data.forEach(el => {
          if (el.term === 'mid') {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + ' (' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
        })

        this.dessertsTogether = await EmployeeTogetherByPage.data
        this.dessertsTogether.forEach(el => {
          el.evaluation.forEach(el => {
            if (el.em_id_evaluation === this.employee_id) {
              this.dataEmployeeTogether.push(el)
            }
          })
          this.assessmentResults.push(el)
        })
      } else {
        this.errorpageCount++
      }
      this.employee_IDC
      this.dialog = await false
    },
    async addData () {
      this.confirmRights = []
      this.evaluateSearch = []
      this.assessmentResults = []
      this.errorpageCount = 0
      var post
      var postCheck
      if (this.emplyee_IDChange === true) {
        post = { em_id_evaluation: this.mutiEmplyee_IDChange }
        postCheck = { employee_id: this.mutiEmplyee_IDChange }
      } else {
        post = { em_id_evaluation: this.employee_id }
        postCheck = { employee_id: this.employee_id }
      }
      const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getFormEvaluation`, postCheck)
      this.dataWorkEmployee = await data.data

      // เช็คว่าคนที่เข้ามาเป็น supper / lower
      if (data.data !== 'Not found employee') {

        //ข้อมูลของ chart หน้าผลงาน
        this.dataChartEmployee = data.data.evaluation.evaluation_from_result_tmp
        this.openResultsChart()
        //*****

        //ข้อมูลหน้าผลงาน
        if (data.data.term === 'mid') {
          data.data.newTerm = 'กลางปี / ' + data.data.year
        } else {
          data.data.newTerm = 'ปลายปี / ' + data.data.year
        }
        if (data.data.nickname !== '') {
          data.data.newName = data.data.name + ' (' + data.data.nickname + ')'
        } else {
          data.data.newName = data.data.name
        }
        this.dataWork = data.data
        this.indecater = data.data.indecater_evaluation.indecater
        this.project = data.data.project_evaluation.project
        //*****

        const dataLengthEmployee = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployee`, post)
        const dataLengthEmployeeTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTransfer`, post)
        const dataLengthEmployeeTogether = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTogether`, post)
        const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeByPage/` + this.page, post)
        const EmployeeTransferByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/` + this.pageTransfer, post)
        const EmployeeTogetherByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTogetherByPage/` + this.pageTogether, post)
        this.sumKpi = dataLengthEmployee.data.records
        this.lengthPageEmployee = dataLengthEmployee.data.numberpage
        this.lengthPageEmployeeTransfer = dataLengthEmployeeTransfer.data.numberpage
        this.lengthPageEmployeeTogether = dataLengthEmployeeTogether.data.numberpage

        // ดึงข้อมูลหน้าประเมิน
        if (dataLengthEmployee.data !== 'Not found') {
          EmployeeByPage.data.forEach(el => {
            this.previous_evaluation = el.evaluation.find(async employee => {
              if (employee.em_id_evaluation === this.employee_id) {
                this.previous_evaluation = employee.previous_evaluation
                return employee.previous_evaluation
              } else {
                return ''
              }
            })
            if (el.term === 'mid') {
              el.newTerm = 'กลางปี'
            } else {
              el.newTerm = 'ปลายปี'
            }
            if (el.nickname !== '') {
              el.newName = el.name + ' (' + el.nickname + ')'
            } else {
              el.newName = el.name
            }
            el.newYearTerm = el.year + '/' + el.newTerm
            el.previous_evaluation = this.previous_evaluation
            this.previous_evaluation = ''
          })
          this.desserts = await EmployeeByPage.data
          this.desserts.forEach(employee => {
            this.evaluateSearch.push(employee)
          })
        } else {
          this.errorpageCount++
        }
        // console.log('this.evaluateSearch', this.evaluateSearch)
        //*****

        // ดึงข้อมูลหน้าโอนสิทธิ์
        if (dataLengthEmployeeTransfer.data !== 'Not found') {
          EmployeeTransferByPage.data.forEach(el => {
            this.previous_evaluationTransfer = el.evaluation.find(async employee => {
              if (employee.em_id_evaluation === this.employee_id) {
                this.previous_evaluation = employee.previous_evaluation
                return employee.name_evaluation
              } else {
                return ''
              }
            })
            if (el.term === 'mid') {
              el.newTerm = 'กลางปี'
            } else {
              el.newTerm = 'ปลายปี'
            }
            if (el.nickname !== '') {
              el.newName = el.name + ' (' + el.nickname + ')'
            } else {
              el.newName = el.name
            }
            el.newYearTerm = el.year + '/' + el.newTerm
            el.previous_evaluationTransfer = this.previous_evaluationTransfer
            this.previous_evaluation = ''
          })

          this.dessertsTransfer = await EmployeeTransferByPage.data
          this.dessertsTransfer.forEach(el => {
            this.confirmRights.push(el)
          })
        } else {
          this.errorpageCount++
        }
        // console.log('this.evaluateSearch', this.evaluateSearch)
        // console.log('confirmRights', this.confirmRights)
        //*****

        // ดึงข้อมูลหน้าประเมินร่วม
        if (dataLengthEmployeeTogether.data !== 'Not found') {
          EmployeeTogetherByPage.data.forEach(el => {
            if (el.term === 'mid') {
              el.newTerm = 'กลางปี'
            } else {
              el.newTerm = 'ปลายปี'
            }
            if (el.nickname !== '') {
              el.newName = el.name + ' (' + el.nickname + ')'
            } else {
              el.newName = el.name
            }
            el.newYearTerm = el.year + '/' + el.newTerm
          })

          this.dessertsTogether = await EmployeeTogetherByPage.data
          this.dessertsTogether.forEach(el => {
            el.evaluation.forEach(el => {
              if (el.em_id_evaluation === this.employee_id) {
                this.dataEmployeeTogether.push(el)
              }
            })
            this.assessmentResults.push(el)
          })
        } else {
          this.errorpageCount++
        }
        // console.log('assessmentResults', this.assessmentResults)
        //****

        this.dialog = await false

        // เช็คว่าคนที่เข้ามามีข้อมูลทั้งสามหน้าไหม
        if (this.errorpageCount > 2) {
          this.checkTab = await true
        }
        //*****

      } else {
        // console.log('getLengthEmployee = else')
        const dataLengthEmployee = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployee`, post)
        const dataLengthEmployeeTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTransfer`, post)
        const dataLengthEmployeeTogether = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getLengthEmployeeTogether`, post)
        const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeByPage/` + this.page, post)
        const EmployeeTransferByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/` + this.pageTransfer, post)
        const EmployeeTogetherByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTogetherByPage/` + this.pageTogether, post)
        this.sumKpi = dataLengthEmployee.data.records
        this.lengthPageEmployee = dataLengthEmployee.data.numberpage
        this.lengthPageEmployeeTransfer = dataLengthEmployeeTransfer.data.numberpage
        this.lengthPageEmployeeTogether = dataLengthEmployeeTogether.data.numberpage

        // ดึงข้อมูลหน้าประเมิน
        if (dataLengthEmployee.data !== 'Not found') {
          EmployeeByPage.data.forEach(el => {
            this.previous_evaluation = el.evaluation.find(async employee => {
              if (employee.em_id_evaluation === this.employee_id) {
                this.previous_evaluation = employee.previous_evaluation
                return employee.previous_evaluation
              } else {
                return ''
              }
            })
            if (el.term === 'mid') {
              el.newTerm = 'กลางปี'
            } else {
              el.newTerm = 'ปลายปี'
            }
            if (el.nickname !== '') {
              el.newName = el.name + ' (' + el.nickname + ')'
            } else {
              el.newName = el.name
            }
            el.newYearTerm = el.year + '/' + el.newTerm
            el.previous_evaluation = this.previous_evaluation
            this.previous_evaluation = ''
          })
          this.desserts = await EmployeeByPage.data
          this.desserts.forEach(employee => {
            this.evaluateSearch.push(employee)
          })
        } else {
          this.errorpageCount++
        }
        // ดึงข้อมูลหน้าโอนสิทธิ์
        if (dataLengthEmployeeTransfer.data !== 'Not found') {
          EmployeeTransferByPage.data.forEach(el => {
            this.previous_evaluationTransfer = el.evaluation.find(async employee => {
              if (employee.em_id_evaluation === this.employee_id) {
                this.previous_evaluation = employee.previous_evaluation
                return employee.name_evaluation
              } else {
                return ''
              }
            })
            if (el.term === 'mid') {
              el.newTerm = 'กลางปี'
            } else {
              el.newTerm = 'ปลายปี'
            }
            if (el.nickname !== '') {
              el.newName = el.name + ' (' + el.nickname + ')'
            } else {
              el.newName = el.name
            }
            el.newYearTerm = el.year + '/' + el.newTerm
            el.previous_evaluationTransfer = this.previous_evaluationTransfer
            this.previous_evaluation = ''
          })

          this.dessertsTransfer = await EmployeeTransferByPage.data
          this.dessertsTransfer.forEach(el => {
            this.confirmRights.push(el)
          })
        } else {
          this.errorpageCount++
        }
        // ดึงข้อมูลหน้าประเมินร่วม
        // console.log('this.dataLengthEmployeeTogether', this.dataLengthEmployeeTogether)
        if (dataLengthEmployeeTogether.data !== 'Not found') {
          EmployeeTogetherByPage.data.forEach(el => {
            if (el.term === 'mid') {
              el.newTerm = 'กลางปี'
            } else {
              el.newTerm = 'ปลายปี'
            }
            if (el.nickname !== '') {
              el.newName = el.name + ' (' + el.nickname + ')'
            } else {
              el.newName = el.name
            }
            el.newYearTerm = el.year + '/' + el.newTerm
          })

          this.dessertsTogether = await EmployeeTogetherByPage.data
          this.dessertsTogether.forEach(el => {
            el.evaluation.forEach(el => {
              if (el.em_id_evaluation === this.employee_id) {
                this.dataEmployeeTogether.push(el)
              }
            })
            this.assessmentResults.push(el)
          })
        } else {
          this.errorpageCount++
        }

        if (this.errorpageCount > 2) {
          this.checkTab = await true
        }
        var fullname = this.dataEmployee.title_th + this.dataEmployee.first_name_th + ' ' + this.dataEmployee.last_name_th
        if (this.emplyee_IDChange === true) {
          for (var i = 0; i < this.multiEmployee_Id.length; i++) {
            if (this.mutiEmplyee_IDChange === this.multiEmployee_Id[i].employee_id) {
              this.dataWork = {
                employee_id: this.dataEmployee.employee_detail[i].employee_id,
                name: fullname,
                work_year: '',
                work_month: '',
                work_date: '',
                newTerm: '',
                lasted_grade: '',
                grade_avg: '',
                adjustment_hr_grade: '',
                position: this.dataEmployee.employee_detail[i].position,
                org_name: this.dataEmployee.employee_detail[i].department
              }
            }
          }
        } else {
          for (var j = 0; j < this.multiEmployee_Id.length; j++) {
            if (this.employee_id === this.multiEmployee_Id[j].employee_id) {
              this.dataWork = {
                employee_id: this.dataEmployee.employee_detail[j].employee_id,
                name: fullname,
                work_year: '',
                work_month: '',
                work_date: '',
                newTerm: '',
                lasted_grade: '',
                grade_avg: '',
                adjustment_hr_grade: '',
                position: this.dataEmployee.employee_detail[j].position,
                org_name: this.dataEmployee.employee_detail[j].department
              }
            }
          }
        }
        this.supper = await false
      }
      this.dialog = await false
    },
    async transferEmployee (employee) {
      eventBus.$emit('resetpage')
      this.snackbar = false
      var data
      if (this.emplyee_IDChange === true) {
        data = {
          account_id: this.account_id,
          employee_id: this.mutiEmplyee_IDChange
        }
      } else {
        data = {
          account_id: this.account_id,
          employee_id: this.employee_id
        }
      }
      this.$store.commit('updateDialogTransferEmpKpi', true)
      this.$store.commit('updateEmployee', this.previous)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateIdTransfer', data)
    },
    multipleEvaluate (employee) {
      this.snackbar = false
      var data
      if (this.emplyee_IDChange === true) {
        data = {
          account_id: this.account_id,
          employee_id: this.mutiEmplyee_IDChange
        }
      } else {
        data = {
          account_id: this.account_id,
          employee_id: this.employee_id
        }
      }
      this.$store.commit('updateDialogEmpKpiMulti', true)
      this.$store.commit('updateEmployee', this.previous)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateDataPageTogether', employee.evaluation)
      this.$store.commit('updateIdTransfer', data)
    },
    async openResults (employee) {
      var post = {
         employee_id: employee.employee_id
      }
      var dataEmployee = {
        account_id: this.account_id,
        employee_id: this.employee_id

      }
      const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getFormEvaluation`, post)
      this.snackbar = false
      this.$store.commit('updateDialogEmpKpiForm', true)
      await this.$store.commit('updateEmployeeInfo', data.data)
      this.$store.commit('updateEmployeeTransfer', employee)
      this.$store.commit('updateIdTransfer', dataEmployee)
    },
    async evaluateEmployee (employee) {
      Swal.fire({
        text: 'ต้องการที่จะประเมินพนักงาน ?',
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'ยืนยัน',
        cancelButtonText: 'ยกเลิก'
      }).then(async (result) => {
        if (result.value) {
          await this.axios({
            headers: { Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoxMjM0NX0sImlhdCI6MTU5MTc4Mzc4NX0.Rvag2gZ1x2TFSQ2CJ3rnKHGJzXAtnxEUwATPL3kn6Lc'},
            method: 'post',
            url: `${process.env.VUE_APP_URL_1}/api/evaluation/getEvalForBot`,
            data: {
              employee_id: employee.employee_id,
              em_id_evaluation: this.emplyee_IDChange === true ? this.mutiEmplyee_IDChange : this.employee_id,
              year: employee.year,
              term: employee.term,
              account_id: this.account_id
            }
          })
        }
      })
    },
    async getLengthEmployee () {
      this.dialog = true
      this.year = ''
      this.term = ''
      this.countKpi = 0
      this.evaluateSearch = []
      if (this.search === '' || this.checkboxSearch === false) {
        this.search = ''
        var post
        if (this.emplyee_IDChange === true) {
          post = {
            em_id_evaluation: this.mutiEmplyee_IDChange
          }
        } else {
          post = {
            em_id_evaluation: this.employee_id
          }
        }
        const EmployeeByPage = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeByPage/` + this.page, post)
        this.desserts = EmployeeByPage.data
        EmployeeByPage.data.forEach(el => {
          this.previous_evaluation = el.evaluation.find(async employee => {
            if (employee.em_id_evaluation === this.employee_id) {
              return employee.previous_evaluation
            } else {
              return ''
            }
          })
          if (el.term === 1) {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + '(' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
          el.previous_evaluation = this.previous_evaluation
          this.previous_evaluation = ''
        })

        this.desserts.forEach(el => {
          this.evaluateSearch.push(el)
        })
      } else {
        this.searchEmployeeFunction()
      }
      // console.log('this.desserts', this.desserts)
      this.dialog = false
    },
    async getLengthEmployeeTransfer () {
      this.dialog = true
      this.year = ''
      this.term = ''
      this.countKpi = 0
      this.confirmRights = []
      if (this.searchTransfer === '' || this.checkboxSearch === false) {
        this.searchTransfer = ''
        var post
        if (this.emplyee_IDChange === true) {
          post = {
            em_id_evaluation: this.mutiEmplyee_IDChange
          }
        } else {
          post = {
            em_id_evaluation: this.employee_id
          }
        }
        const EmployeeByPageTransfer = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTransferByPage/` + this.pageTransfer, post)
        this.dessertsTransfer = EmployeeByPageTransfer.data
        EmployeeByPageTransfer.data.forEach(el => {
          this.previous_evaluationTransfer = el.evaluation.find(async employee => {
            if (employee.em_id_evaluation === this.employee_id) {
              return employee.name_evaluation
            } else {
              return ''
            }
          })
          if (el.term === 1) {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + '(' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
          el.previous_evaluationTransfer = this.previous_evaluationTransfer
          this.previous_evaluation = ''
        })

        this.dessertsTransfer.forEach(el => {
          this.confirmRights.push(el)
        })
      } else {
        this.searchTransferFunction()
      }
      this.dialog = false
    },
    async getLengthEmployeeTogether () {
      this.dialog = true
      this.year = ''
      this.term = ''
      this.countKpi = 0
      this.assessmentResults = []
      if (this.searchTogether === '' || this.checkboxSearch === false) {
        this.searchTogether = ''
        var post
        if (this.emplyee_IDChange === true) {
          post = {
            em_id_evaluation: this.mutiEmplyee_IDChange
          }
        } else {
          post = {
            em_id_evaluation: this.employee_id
          }
        }
        const EmployeeByPageTogether = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getEmployeeTogetherByPage/` + this.pageTogether, post)
        this.dessertsTogether = EmployeeByPageTogether.data
        EmployeeByPageTogether.data.forEach(el => {
          if (el.term === 1) {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          if (el.nickname !== '') {
            el.newName = el.name + '(' + el.nickname + ')'
          } else {
            el.newName = el.name
          }
          el.newYearTerm = el.year + '/' + el.newTerm
        })

        this.dessertsTogether.forEach(el => {
          this.assessmentResults.push(el)
        })
      } else {
        this.searchTogetherFunction()
      }
      this.dialog = false
    },
    async returnEmployee (employee) {
      if (this.cause === '') {
        Swal.fire({
          text: 'คุณไม่ได้ใส่สาเหตุที่ตีกลับ',
          title: 'ต้องการตีกลับ ?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก'
        }).then((result) => {
          if (result.value) {
            this.editedItem = {
              employee_id: employee.employee_id,
              year: employee.year,
              term: employee.term,
              evaluation: [],
              tranfer: employee.tranfer,
              together: employee.together,
              reject_reason:  this.cause
            }
            this.returnEmployeeComfirm()
          }
        })
      } else {
        Swal.fire({
          text: 'ต้องการตีกลับ ?',
          icon: 'question',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'ยืนยัน',
          cancelButtonText: 'ยกเลิก'
        }).then((result) => {
          if (result.value) {
            this.editedItem = {
              employee_id: employee.employee_id,
              year: employee.year,
              term: employee.term,
              evaluation: [],
              tranfer: employee.tranfer,
              together: employee.together,
              reject_reason:  this.cause
            }
            this.returnEmployeeComfirm()
          }
        })
      }
    },
    async returnEmployeeComfirm () {
      var safe = this
      await this.axios({
        method: 'put',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/updateFormEvaluationEvaluation`,
        data: this.editedItem
      }).then(async function (response) {
        if (response.data.status !== 'fail') {
          Swal.fire({
            text: 'ตีกลับเรียบร้อย',
            icon: 'success'
          })
          safe.addData()
        }

      })
    },
    filterYear () {
      if (this.year !== '') {
        const searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.year === this.year
        })
        this.searchEmployeeList = searchEmployeeLists
      }
    },
    filterTerm () {
      if (this.term !== '') {
        const searchEmployeeLists = this.employeeLists.filter(employee => {
          return employee.term === this.term
        })
        this.searchEmployeeList = searchEmployeeLists
      }
    }
  }
}
</script>

<style lang="css" scoped>
.bgcolor{
  color: white;
  background-color: #4ea612 !important;
}
.btnPrimary {
  color: white;
  background-color: #4ea612 !important;
}
.bgsnackbarColor{
  color: white;
  background-image: linear-gradient(to right, #F42413, #F76B16, #F1AE37, #FAE4B1);
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
.centerdiv {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.text-chip {
  color: white!important;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.toolbar_Content {
    padding-top: 8px!important;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-left: 16px;
}
.underlineHeaderWork {
  border: 0.5px solid #dbdbdb;
  width: 70%;
  margin: 0.2rem 0;
}
.way_icon {
  font-size: 40px;
  background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
 }
</style>
