<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogEmpKpiMulti"
      fullscreen
      transition="dialog-bottom-transition"
    >
      <v-toolbar
        dark
        color="green"
        style="background-image: linear-gradient(to right, #3CA63C, #5ABF5A, #A1E1B2); position: fixed;top: 0%; overflow-y: scroll;z-index:1"
      >
        <v-btn icon dark @click="closeEmpKpiform">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title>ผู้ร่วมการประเมิน</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card class="pt-12">
        <v-row>
          <v-col class="px-8 pt-8 pb-0">
            <v-text-field
              v-model="selectedId"
              style="font-size: 22px !important;"
              outlined
              append-icon="mdi-magnify"
              @click:append="searchEmpTogether"
              label="ค้นหา"
              @keyup.enter="searchEmpTogether">
            ></v-text-field>
          </v-col>
        </v-row>
        <div v-if="resultSearch" class="underlineHeader"></div>
        <v-list v-if="resultSearch" three-line subheader>
          <h3 class="pl-4 py-3">ผลการค้นหา</h3>
          <v-list-item>
            <v-list-item-content style="padding:0px">
              <v-list-item-subtitle>
                <v-row row wraps align="center" class="pl-3" v-for="(item,i) in searchTogetherResult" :key="i">
                  <v-col cols="4" md="4" class="pa-2">
                    <v-row>
                      <v-col
                        xs12
                        pb-4
                        text-lg-center
                        style="display: flex;align-items: center;justify-content: center;"
                      >
                        <div
                          style="display: flex; align-items: center; justify-content: center;"
                        >
                          <img
                            :src="`${http}/api/login/getProfilePicture/${item.employee_id}`"
                            class="imageProfileSizeMultiple"
                          />
                        </div>
                      </v-col>
                    </v-row>
                    <v-row class="pa-0">
                      <v-col
                        xs12
                        pb-4
                        text-lg-center
                        class="pa-0"
                        style="display: flex;align-items: center;justify-content: center;"
                      >
                        <span style="fontSize: 16px !important;">{{item.employee_id}}</span>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" md="5" class="px-0" style="display: flex;">
                    <span style="fontSize: 16px !important;">{{item.title_th}}{{item.name_th}}</span>
                  </v-col>
                  <v-col v-if="item.employee_id !== idTransfer.employee_id " cols="2" md="3" class="py-2 pl-0" style="display: flex;align-items: center;justify-content: center;">
                    <v-icon @click="addEmpTogether(item), searchTogetherResult.splice(i, 1)">mdi-account-multiple-plus</v-icon>
                  </v-col>
                </v-row>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <div class="underlineHeader"></div>
        <v-list three-line subheader>
          <h3 class="pl-4 py-3">ข้อมูลผู้ร่วมการประเมิน</h3>
          <v-list-item>
            <v-list-item-content style="padding:0px">
              <v-list-item-subtitle>
                <v-row row wrap align="center" class="pl-3" v-for="(item,i) in searchTogether" :key="i">
                  <v-col cols="4" md="4" class="pa-2">
                    <v-row>
                      <v-col
                        xs12
                        pb-4
                        text-lg-center
                        style="display: flex;align-items: center;justify-content: center;"
                      >
                        <div
                          style="display: flex; align-items: center; justify-content: center;"
                        >
                          <img
                            :src="`${http}/api/login/getProfilePicture/${item.employee_id}`"
                            class="imageProfileSizeMultiple"
                          />
                        </div>
                      </v-col>
                    </v-row>
                    <v-row class="pa-0">
                      <v-col
                        xs12
                        pb-4
                        text-lg-center
                        class="pa-0"
                        style="display: flex;align-items: center;justify-content: center;"
                      >
                        <span style="fontSize: 16px !important;">{{item.employee_id}}</span>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" md="5" class="px-0" style="display: flex;">
                    <span style="fontSize: 16px !important;">{{item.title_th}}{{item.name_th}}</span>
                  </v-col>
                  <v-col v-if="item.employee_id !== idTransfer.employee_id && (i+1) > employeeCount " cols="2" md="3" class="py-2 pl-0" style="display: flex;align-items: center;justify-content: center;">
                    <v-icon @click="searchTogether.splice(i, 1)">mdi-trash-can-outline</v-icon>
                  </v-col>
                </v-row>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-col>
          <v-btn
            block
            style="bottom:3%;"
            color="green darken-1"
            large
            dark
            @click="togetherEmpKpi"
          >
            ยืนยัน
          </v-btn>
        </v-col>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Swal from 'sweetalert2'
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    selectedId: '',
    company: '',
    dialog: false,
    notifications: false,
    sound: true,
    search: false,
    resultSearch: false,
    searchTogetherResult: [],
    searchTogether: [],
    widgets: false,
    editedItem: '',
    employeeCount: 0,
    http: ''
  }),
  created () {
    this.http = process.env.VUE_APP_URL_1
  },
  components: {
  },
  computed: {
    ...mapState(['snackbar', 'idTransfer', 'employeeTransfer', 'employee', 'dataPageTogether']),
    searchTogether () {
      return this.searchTogetherResult
    },
    dialogEmpKpiMulti: {
      get () {
        this.dataEvaluation()
        return this.$store.state.dialogEmpKpiMulti
      },
      set (value) {
        this.$store.commit('updateDialogEmpKpiMulti', value)
      }
    },
  },
  methods: {
    async dataEvaluation () {
      this.searchTogether = []
      for (var i = 0; i < this.dataPageTogether.length; i++) {
        var post = {
          employee_id: this.dataPageTogether[i].em_id_evaluation
        }

        const data = await this.axios.post(`${process.env.VUE_APP_URL_1}/api/evaluation/getDataUser`, post)
        this.searchTogether.push(data.data[0])
        this.employeeCount = this.employeeTransfer.evaluation.length
      }
    },
    resetSelectedId () {
      this.selectedId = ''
    },
    async closeEmpKpiform () {
      this.dialogEmpKpiMulti = false
      this.search = false
      this.resultSearch = await false
      this.$store.commit('updateSnackbar', true)
    },
    async searchEmpTogether () {
      this.searchTogetherResult = await []
      var safe = this
      await this.axios({
        method: 'post',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/getDataUser`,
        data: {
          employee_id: this.selectedId
        }
      }).then(async function (response) {
        if (response.status === 200) {
          safe.resultSearch = true
          safe.imageInfo = true
          safe.search = true
          safe.searchTogetherResult = await response.data
        } else {
          Swal.fire({
            icon: 'error',
            title: 'ไม่พบพนักงาน'
          })
          this.resetPage()
          safe.searchTogetherResult = ''
        }
      }).catch(error => {
        if (error) {
          Swal.fire({
            icon: 'error',
            title: 'ไม่พบพนักงาน'
          })
          this.resetPage()
        }
      })
    },
    async addEmpTogether (employee) {
      this.search_em = true
      this.search = true
      var count = 0

      // เช็คว่าเพิ่มตัวเองไหม
      if (employee.employee_id !== this.idTransfer.employee_id) {
        // เช็คว่าเพิ่มรายชื่อมากว่า 1 ไหม
        if (this.searchTogether.length > 0) {
          this.searchTogether.forEach(el => {
            if (el.employee_id === employee.employee_id) {
              count++
            }
          })

          if (count > 0) {
            alert('ซ้ำ')
          } else {
            this.searchTogether.push(employee)
          }
        } else {
          this.searchTogether.push(employee)
        }
      } else {
        Swal.fire({
          icon: 'error',
          title: 'ไม่สามารถเพิ่มรายชื่อได้'
        })
      }
      this.searchTogetherResult = await []
      this.selectedId = ''
      this.resultSearch = await false
    },
    togetherEmpKpi () {
      this.employeeCount = this.employeeTransfer.evaluation.length
      this.editedItem = {
        account_id: this.idTransfer.account_id,
        employee_id: this.employeeTransfer.employee_id,
        year: this.employeeTransfer.year,
        term: this.employeeTransfer.term,
        evaluation: this.employeeTransfer.evaluation,
        tranfer: this.employeeTransfer.tranfer,
        together: this.employeeTransfer.together
      }
      Swal.fire({
        title: 'ยืนยันการประเมินร่วม',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirm'
      }).then((result) => {
        if (result.value) {
          this.editedItem.evaluation = []
          for (let i = 0; i < this.searchTogether.length; i++) {
            this.editedItem.evaluation.push({
              account_id: this.searchTogether[i].account_id,
              em_id_evaluation: this.searchTogether[i].employee_id,
              name_evaluation: this.searchTogether[i].name_th,
              previous_evaluation: i < this.employeeCount ? this.employeeTransfer.evaluation[i].previous_evaluation : this.employee,
              adjustment_position_status: 0,
              adjustment_position: '',
              grade: '',
              grade_percent: 0,
              status_id: 1,
              together: 0,
              tranfer: 0
            })
          }
          this.editedItem.tranfer = 0
          this.editedItem.together = 1
          this.togetherComfirm()
        }
      })
    },
    async togetherComfirm () {
      var safe = this
      await this.axios({
        method: 'put',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/updateFormEvaluationEvaluation`,
        data: this.editedItem
      }).then(async function (response) {
        if (response.data.status !== 'fail') {
          Swal.fire({
            text: 'เพิ่มผู้ร่วมการประเมินเรียบร้อย',
            icon: 'success'
          })
          await eventBus.$emit('refreshEmployee')
          safe.closeEmpKpiform()
        }
      })
    }
  }
}
</script>
<style>
.imageProfileSizeMultiple {
  width: 50px;
  height: 60px;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
