<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogEmpKpiTransfer"
      fullscreen
      transition="dialog-bottom-transition"
    >
      <v-toolbar
        dark
        color="green"
        style="background-image: linear-gradient(to right, #3CA63C, #5ABF5A, #A1E1B2); position: fixed;top: 0%; overflow-y: scroll;z-index:1"
      >
        <v-btn icon dark @click="closeEmpKpiform">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-toolbar-title>ผู้รับสิทธิ์การประเมิน</v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-card class="pt-12">
        <v-row>
          <v-col class="px-8 pt-8 pb-0">
            <v-text-field
              v-model="selectedId"
              style="font-size: 22px !important;"
              outlined
              append-icon="mdi-magnify"
              @click:append="searchTransfer"
              label="ค้นหา"
              @keyup.enter="searchTransfer">
            ></v-text-field>
          </v-col>
        </v-row>
        <div class="underlineHeader"></div>
        <v-list three-line subheader>
          <h3 class="pl-4 py-3">ข้อมูลผู้รับสิทธิ์การประเมิน</h3>
          <v-list-item>
            <v-list-item-content style="padding:0px">
              <v-list-item-subtitle>
                <v-row row wrap justify="center" align="center" class="pl-1" v-for="(item,i) in searchTransferResult" :key="i">
                  <v-col cols="4" md="4" class="pa-2 pl-5">
                    <v-row>
                      <v-col
                        xs12
                        pb-4
                        text-lg-center
                        style="display: flex;align-items: center;justify-content: center;"
                      >
                        <div
                          style="display: flex; align-items: center; justify-content: center;"
                        >
                          <img
                            :src="`${http}/api/login/getProfilePicture/${item.employee_id}`"
                            class="imageProfileSizeMultiple"
                          />
                        </div>
                      </v-col>
                    </v-row>
                    <v-row class="pa-0">
                      <v-col
                        xs12
                        pb-4
                        text-lg-center
                        class="pa-0"
                        style="display: flex;align-items: center;justify-content: center;"
                      >
                        <span style="fontSize: 16px !important;">{{item.employee_id}}</span>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="6" md="5" class="px-0" style="display: flex;">
                    <span style="fontSize: 16px !important;">{{item.title_th}}{{item.name_th}}</span>
                  </v-col>
                  <v-col cols="2" md="3" class="py-2 px-0" style="display: flex;align-items: center;justify-content: center;">
                    <v-icon @click="transferEmpKpi(item)">mdi-account-arrow-right</v-icon>
                  </v-col>
                </v-row>
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Swal from 'sweetalert2'
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    dialog: false,
    imageInfo: false,
    notifications: false,
    sound: true,
    widgets: false,
    selectedId: '',
    employee_id: '',
    nameEmployee: '',
    namePrevious: '',
    search: false,
    employeeListsId: [],
    editedItem: '',
    searchTransferResult: [],
    http: ''

  }),
  created () {
    this.http = process.env.VUE_APP_URL_1
  },
  components: {
  },
  computed: {
    ...mapState(['employeeTransfer', 'idTransfer', 'snackbar', 'employee']),
    dialogEmpKpiTransfer: {
      get () {
        return this.$store.state.dialogEmpKpiTransfer
      },
      set (value) {
        this.$store.commit('updateDialogTransferEmpKpi', value)
      }
    }
  },
  methods: {
    resetPage () {
      this.selectedId = ''
      this.employee_id = ''
      this.nameEmployee = ''
      this.imageInfo = false
      this.search = false
    },
    async closeEmpKpiform () {
      this.dialogEmpKpiTransfer = false
      this.searchTransferResult = await []
      this.imageInfo = false
      this.search = false
      this.dialogEmpKpiTransfer = false
      this.$store.commit('updateSnackbar', true)
      this.resetPage()
    },
    async searchTransfer () {
      this.searchTransferResult = await []
      this.search = true
      var safe = this
      await this.axios({
        method: 'post',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/getDataUser`,
        data: {
          employee_id: this.selectedId
        }
      }).then(function (response) {
        if (response.status === 200) {
          safe.imageInfo = true
          safe.search_em = true
          safe.search = true
          safe.searchTransferResult = response.data
        } else {
          Swal.fire({
            icon: 'error',
            title: 'ไม่พบพนักงาน'
          })
          this.resetPage()
          safe.searchTransferResult = ''
          safe.search_em = false
        }
      }).catch(error => {
        if (error) {
          Swal.fire({
            icon: 'error',
            title: 'ไม่พบพนักงาน'
          })
          this.resetPage()
        }
      })
    },
    async transferEmpKpi (employee) {
      if (this.selectedId === this.idTransfer.employee_id && employee.account_id === this.employeeTransfer.account_id_evaluation_default) {
        Swal.fire({
          icon: 'error',
          title: 'ไม่สามารถโอนได้'
        })
        this.resetPage()
      } else {
        Swal.fire({
          title: 'ยืนยันการโอนสิทธิ์',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Confirm'
        }).then(async (result) => {
          if (result.value) {
            this.editedItem = {
              account_id: this.idTransfer.account_id,
              employee_id: this.employeeTransfer.employee_id,
              year: this.employeeTransfer.year,
              term: this.employeeTransfer.term,
              evaluation: this.employeeTransfer.evaluation,
              tranfer: this.employeeTransfer.tranfer,
              together: this.employeeTransfer.together,
              count_transfer: this.employeeTransfer.count_transfer
            }
            for (let i = 0; i < this.editedItem.evaluation.length; i++) {
              if (this.editedItem.evaluation[i].em_id_evaluation === this.idTransfer.employee_id) {
                this.editedItem.evaluation[i].account_id = employee.account_id
                this.editedItem.evaluation[i].em_id_evaluation = employee.employee_id
                this.editedItem.evaluation[i].name_evaluation = employee.name_th
                this.editedItem.evaluation[i].previous_evaluation = this.employee
              }
            }
            this.editedItem.tranfer = 1
            this.editedItem.together = 0
            this.editedItem.count_transfer++
            this.transferComfirm()
          }
        })
      }
    },
    async transferComfirm () {
      var safe = this
      await this.axios({
        method: 'put',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/updateFormEvaluationEvaluation`,
        data: this.editedItem
      }).then(async function (response) {
        if (response.data.status !== 'fail') {
          Swal.fire({
            text: 'โอนสิทธิ์เรียบร้อย',
            icon: 'success'
          })
          await eventBus.$emit('refreshEmployee')
          safe.closeEmpKpiform()
        }
      })
    }
  }
}
</script>
<style>
h3{
  font-size: 14px;
  color: gray;
  font-weight: 200;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
.imageProfileSizeTranfer {
  width: 140px;
  height: 180px;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
