<template>
  <v-container grid-list-xs,sm,md,lg,xl>
    <v-card outlined>
      <v-toolbar color="green" dark class="tool_Bar border-top-rad-7">
        <v-toolbar-title class="w-100 left header"
          ><b style="fontSize: 20px">Chart</b>
        </v-toolbar-title>
      </v-toolbar>
      <v-container grid-list-xs,sm,md,lg,xl>
        <v-container
          grid-list-xs,sm,md,lg,xl
          style="border: 1px solid #FFB300; border-radius: 10px;padding: 10px"
          class="mb-1"
        >
          <div>
            <VueApexCharts type="radialBar" width="340" height="390" :options="chartOptions" :series="series"></VueApexCharts>{{grade}}
          </div>
          <v-select
            v-model="selectBox"
            v-if="this.employeeInfo.evaluation.evaluation_from_result_tmp.length > 1"
            :items="items"
            dense
            label="ผู้ประเมิน"
            outlined
            @change="changeSelectBox1"
          ></v-select>
          <v-text-field
            v-else
            v-model="chartID"
            style="font-size: 18px !important;"
            outlined
            readonly
            label="ผู้ประเมิน"
          ></v-text-field>
        </v-container>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    sum: 0,
    point: [],
    selectBox: '',
    items: [],
    grade_percent: '',
    textItems: [],
    scoreItem: [],
    chartID: '',
    series: [100, 100, 100, 100],
    grade: 'Grade',
    textTitle: ['ด้านที่ 1', 'ด้านที่ 2', 'ด้านที่ 3', 'ด้านที่ 4'],
    total: 0,
    evaluation: '',
  }),
  async created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    eventBus.$on('openResultsChart', this.openResultsChart)
  },
  components: {

    VueApexCharts
  },
  computed: {
    ...mapState(['employeeInfo', 'dialogEmpKpiForm']),
    chartOptions () {
      return {
        chart: {
          width: 350,
          type: 'radialBar'
        },
        labels: this.textTitle,
        colors: ['#048ffa', '#07E253', '#fdb019', '#fd4560'],
        legend: {
          floating: true,
          fontSize: '10px',
          position: 'left',
          offsetX: -20,
          offsetY: 5,
          show: true,
          formatter: function (seriesName) {
            return seriesName
          },
          labels: {
            useSeriesColors: true
          }
        },
        plotOptions: {
          radialBar: {
            offsetY: 0,
            offsetX: 0,
            startAngle: 0,
            endAngle: 270,
            hollow: {
              margin: 5,
              size: '30%',
              background: 'transparent',
              image: undefined
            },
            dataLabels: {
              show: true,
              total: {
                show: true,
                label: this.grade,
                grade_percent: this.grade_percent,
                color: '',
                fontSize: '28px',
                fontFamily: undefined,
                fontWeight: 600,

                formatter: function (w) {
                  const sumTotal = w.config.plotOptions.radialBar.dataLabels.total.grade_percent + '%'
                  return sumTotal
                }
              }
            }
          }
        }
      }
    }
  },
  methods: {
    async openResultsChart () {
      if (this.employeeInfo.evaluation.evaluation_from_result_tmp.length > 1) {
        this.evaluation = this.employeeInfo.evaluation.evaluation_from_result_tmp
        var data = this.employeeInfo.evaluation.evaluation_from_result_tmp
        data.forEach(el => {
          this.items.push(el.name_evaluation)
        })

      } else {
        this.chartID = this.employeeInfo.evaluation.evaluation_from_result_tmp[0].name_evaluation
        this.grade_percent = await this.employeeInfo.evaluation.evaluation_from_result_tmp[0].grade_percent
        this.grade = await this.employeeInfo.evaluation.evaluation_from_result_tmp[0].grade
        this.point = await this.employeeInfo.evaluation.evaluation_from_result_tmp[0].point
        if (this.point[0].score === null || this.point[0].score === '') {
          this.point[0].score = await 0
        }
        if (this.point[1].score === null || this.point[1].score === '') {
          this.point[1].score = await 0
        }
        if (this.point[2].score === null || this.point[2].score === '') {
          this.point[2].score = await 0
        }
        if (this.point[3].score === null || this.point[3].score === '') {
          this.point[3].score = await 0
        }
        this.textTitle = [
          'ด้านที่ 1 (' + this.point[0].score + '/' + this.point[0].fullscore + ')',
          'ด้านที่ 2 (' + this.point[1].score + '/' + this.point[1].fullscore + ')',
          'ด้านที่ 3 (' + this.point[2].score + '/' + this.point[2].fullscore + ')',
          'ด้านที่ 4 (' + this.point[3].score + '/' + this.point[3].fullscore + ')'
        ]
        var point_1 = ((this.point[0].score*100)/this.point[0].fullscore).toFixed(2)
        var point_2 = ((this.point[1].score*100)/this.point[1].fullscore).toFixed(2)
        var point_3 = ((this.point[2].score*100)/this.point[2].fullscore).toFixed(2)
        var point_4 = ((this.point[3].score*100)/this.point[3].fullscore).toFixed(2)
        this.series = [
          point_1,
          point_2,
          point_3,
          point_4
        ]
      }
      if (this.dialogEmpKpiForm === false) {
        this.selectBox = ''
        this.grade = 'Grade'
        this.items = []
        this.series = [100, 100, 100, 100]
        this.textTitle = ['ด้านที่ 1', 'ด้านที่ 2', 'ด้านที่ 3', 'ด้านที่ 4']
      }
    },
    changeSelectBox () {
      if (this.selectBox === this.items[0]) {
        return 'C+'
      } else if (this.selectBox === this.items[1]) {
        return 'B'
      }
    },
    async changeSelectBox1 () {
      this.series = []
      this.textTitle = []
      this.evaluation.forEach(async el => {
        if (el.name_evaluation === this.selectBox) {
          if (el.status_id === 1) {
            this.grade = ''
            this.series = [0, 0, 0, 0,]
            this.textTitle = ['ด้านที่ 1', 'ด้านที่ 2', 'ด้านที่ 3', 'ด้านที่ 4']
            this.grade_percent = '0'

          } else {
            for (var i = 0; i < el.point.length; i++) {
              if (el.point[i].score === null) {
                el.point[i].score = await 0
              }
              this.textTitle.push('ด้านที่ ' + el.point[i].part + '(' + el.point[i].score + '/' + el.point[i].fullscore + ')')
              this.series.push(((el.point[i].score*100)/el.point[i].fullscore).toFixed(2))
            }
            this.grade = el.grade
            this.grade_percent = el.grade_percent
          }
        }
      })
    }
  }
}
</script>

<style>
.way_icon h3{
  font-size: 24px;
  background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
span.head {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 20px;
  font-weight: 900;
  background: -webkit-linear-gradient(#477AC6, #329E9A, #276922);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.way_icon i:before {
  display: inline;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
