<template>
  <v-container grid-list-xs,sm,md,lg,xl>
    <v-card outlined>
      <v-toolbar
        dark
        class="mx-auto tool_Bar"
        color="#218AC4"
      >
        <v-toolbar-title><b style="fontSize: 18px !important;">สรุปผลประเมิน คณะกรรมการ</b></v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-container>
        <template>
          <v-card class="pt-8 pb-5">
            <v-row>
              <v-col class="text-left">
                <v-container
                  grid-list-xs,sm,md,lg,xl
                  style="border: 2px solid #50D8C6; border-radius: 5px;padding: 10px"
                  class="mb-1"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-card
                        shaped
                        class="mb-3"
                      >
                        <v-card-text>
                          <v-row class="pl-0 pr-2">
                            <v-col class="text-left pb-0" cols="12">
                              <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >ชื่อกรรมการ</p>
                              <span style="fontFamily: Roboto !important; fontSize: 16px !important; color: black;" class="pl-10 mb-3" >{{ resultCommittee.committee_name }}</span>
                            </v-col>
                            <v-col class="text-left pb-0" cols="12">
                              <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >เกรดที่ประเมิน</p>
                              <span style="fontFamily: Roboto !important; fontSize: 20px !important; color: black;" class="pl-10 mb-3" >{{ resultCommittee.committee_results }}</span>
                            </v-col>
                            <v-col class="text-left pb-4" cols="12">
                              <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >การปรับตำแหน่ง</p>
                              <span v-if="resultCommittee.adjustment_position_status === 1" style="fontFamily: Roboto !important; fontSize: 16px !important; color: black;" class="pl-10 mb-3" >ปรับตำแหน่ง</span>
                              <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important; color: black;" class="pl-10 mb-3" >ไม่ปรับตำแหน่ง</span>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <v-col cols="12" class="px-5">
                      <v-textarea
                        outlined
                        readonly
                        label="ความคิดเห็น"
                        placeholder="ความคิดเห็น"
                        color="green"
                        v-model="resultCommittee.committee_comment"
                        auto-grow
                        rows="5"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-card>
        </template>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    project: '',
    evaluation_project: [],
    indecater: '',
    resultCommittee: ''


  }),
  created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    eventBus.$on('openResultsCommittee', this.addData)
    this.addData()

  },
  components: {
  },
  computed: {
    ...mapState(['employeeInfo', 'employeeTransfer', 'idTransfer'])
  },
  methods: {
    async addData () {
      this.resultCommittee = await []
      this.indecater = this.employeeInfo.indecater_evaluation.indecater
      this.project = this.employeeInfo.project_evaluation.project
      this.employeeInfo.committee.forEach(el => {
        if (el.employee_id_committee === this.idTransfer.employee_id) {
          this.resultCommittee = el
        }
      })
    }
  }
}
</script>

<style>
.way_icon h3{
  font-size: 24px;
  background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
span.head {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 20px;
  font-weight: 900;
  background: -webkit-linear-gradient(#477AC6, #329E9A, #276922);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.way_icon i:before {
  display: inline;
}
.btnText {
  color: white !important;
}
b.text {
  font-size: 18px;
  font-weight: bold;
}
b.grade {
  font-size: 24px;
  font-weight: bold;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
