<template>
  <v-container grid-list-xs,sm,md,lg,xl>
    <v-card outlined>
      <v-toolbar
        dark
        class="mx-auto tool_Bar"
        color="#218AC4"
      >
        <v-toolbar-title><b style="fontSize: 18px !important;">สรุปผลประเมิน KPI พนักงาน</b></v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-container>
        <template>
          <v-card class="pt-8 pb-5">
            <v-row>
              <v-col class="text-left">
                <v-container
                  grid-list-xs,sm,md,lg,xl
                  style="border: 2px solid #0C88D3; border-radius: 5px;padding: 10px"
                  class="mb-1"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-card
                        shaped
                        class="mb-3"
                      >
                        <v-card-text>
                          <v-row class="pl-0 pr-2">
                            <v-col class="text-left pb-0 pt-4" cols="12">
                              <p style="fontSize: 16px; color: #929090" class="pl-6 mb-2" >เกรดที่อนุมัติ</p>
                              <div>
                                <VueApexCharts type="radialBar" height="290" :options="chartOptions" :series="series"></VueApexCharts>
                              </div>
                            </v-col>
                            <v-col class="text-left pb-4" cols="12">
                              <p style="fontSize: 16px; color: #929090" class="pl-6 mb-2" >การปรับตำแหน่ง</p>
                              <span v-if="employeeInfo.adjustment_hr_status === '1'" style="fontFamily: Roboto !important; fontSize: 18px !important; color: black;" class="pl-10 mb-3" >ปรับตำแหน่ง</span>
                              <span v-else style="fontFamily: Roboto !important; fontSize: 18px !important; color: black;" class="pl-10 mb-3" >ไม่ปรับตำแหน่ง</span>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <v-col cols="12" class="px-5">
                      <v-textarea
                        outlined
                        readonly
                        label="ความคิดเห็น"
                        placeholder="ความคิดเห็น"
                        color="green"
                        v-model="employeeInfo.adjustment_hr_comment"
                        auto-grow
                        rows="5"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-card>
        </template>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import VueApexCharts from 'vue-apexcharts'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    series: []
  }),
  created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    eventBus.$on('chartConclude', this.chartConclude)

  },
  components: {
    VueApexCharts
  },
  computed: {
    ...mapState(['employeeInfo']),
    chartOptions () {
      return {
        chart: {
          height: 390,
          type: 'radialBar'
        },
        plotOptions: {
          radialBar: {
            hollow: {
              margin: 0,
              size: '70%',
              background: '#fff',
              image: undefined,
              imageOffsetX: 0,
              imageOffsetY: 0,
              position: 'front'
            },
            dataLabels: {
              show: true,
              name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '14px'
              },
              value: {
                formatter: function(val) {
                  var grade = ''
                  if (val === 100) {
                    grade = 'A'

                  } else if (val === 84) {
                    grade = 'B+'

                  } else if (val === 79) {
                    grade = 'B'

                  } else if (val === 74) {
                    grade = 'C+'

                  } else if (val === 64) {
                    grade = 'C'

                  } else if (val === 59) {
                    grade = 'D+'

                  } else if (val === 54) {
                    grade = 'D+'

                  } else {
                    grade = 'E'
                  }
                  return grade;
                },
                color: '#111',
                fontSize: '46px',
                show: true,
              }
            }
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            type: 'vertical',
            shadeIntensity: 0.5,
            gradientToColors: ['#70EC98'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
          }
        },
        stroke: {
          lineCap: 'round'
        },
        labels: ['Grade'],
        colors: ['#0575E6']
      }
    }
  },
  methods: {
    chartConclude () {
      this.series = []
      if (this.employeeInfo.adjustment_hr_grade === 'A') {
        this.series.push(100)
      } else if (this.employeeInfo.adjustment_hr_grade === 'B+') {
        this.series.push(84)
      } else if (this.employeeInfo.adjustment_hr_grade === 'B') {
        this.series.push(79)
      } else if (this.employeeInfo.adjustment_hr_grade === 'C+') {
        this.series.push(74)
      } else if (this.employeeInfo.adjustment_hr_grade === 'C') {
        this.series.push(64)
      } else if (this.employeeInfo.adjustment_hr_grade === 'D+') {
        this.series.push(59)
      } else if (this.employeeInfo.adjustment_hr_grade === 'D') {
        this.series.push(54)
      } else {
        this.series.push(49)
      }
    }
  }
}
</script>

<style>
.way_icon h3{
  font-size: 24px;
  background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
span.head {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 20px;
  font-weight: 900;
  background: -webkit-linear-gradient(#477AC6, #329E9A, #276922);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.way_icon i:before {
  display: inline;
}
.btnText {
  color: white !important;
}
b.text {
  font-size: 18px;
  font-weight: bold;
}
b.grade {
  font-size: 24px;
  font-weight: bold;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
