<template lang="html">
  <v-form>
    <v-container>
      <v-card class="pt-12" outlined>
        <v-row>
          <v-col
            xs12
            pb-4
            text-lg-center
            style="display: flex;align-items: center;justify-content: center;"
          >
            <div
              class="elevation-7"
              style="display: flex; align-items: center; justify-content: center;"
            >
              <img
                :src="`${http}/api/login/getProfilePicture/${employeeInfo.employee_id}`"
                class="imageProfileSize"
              />
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="text-left pb-0" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >รหัสพนักงาน</p>
            <span style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ employeeInfo.employee_id }}</span>
          </v-col>
          <v-col class="text-left py-1" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >ชื่อ-สกุล</p>
            <span style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ employeeInfo.name }}</span>
          </v-col>
          <v-col class="text-left py-1" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >ตำแหน่ง</p>
            <span style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ employeeInfo.position }}</span>
          </v-col>
          <v-col class="text-left pa-0 px-5" cols="12">
            <center class="pb-3 pt-2"><hr width="90%" color="#DED7D7"></center>
          </v-col>
          <v-col class="text-left py-1" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >อายุงาน</p>
            <span style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ employeeInfo.work_year }} ปี {{ employeeInfo.work_month }} เดือน {{ employeeInfo.work_date }} วัน</span>
          </v-col>
          <v-col class="text-left py-1" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >ฝ่าย</p>
            <spen style="fontSize: 16px;" class="pl-10 mb-3" >{{ employeeInfo.org_name }}</spen>
          </v-col>
          <v-col class="text-left py-1" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >รอบการประเมิน</p>
            <span style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ newYearTerm }}</span>
          </v-col>
          <v-col class="text-left pa-0 px-5" cols="12">
            <center class="pb-3 pt-2"><hr width="90%" color="#DED7D7"></center>
          </v-col>
          <v-col class="text-left py-1" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >เกรดที่ได้รับจากหัวหน้าพนักงาน</p>
            <span v-if="employeeInfo.grade_avg !== ''" style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ employeeInfo.grade_avg }}</span>
            <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >-</span>
          </v-col>
          <v-col class="text-left py-1 pb-4" cols="12">
            <p style="fontSize: 14px; color: #929090" class="pl-6 mb-2" >เกรดที่ได้รับการอนุมัติ</p>
            <span v-if="employeeInfo.adjustment_hr_grade !== ''" style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >{{ employeeInfo.adjustment_hr_grade }}</span>
            <span v-else style="fontFamily: Roboto !important; fontSize: 16px !important;" class="pl-10 mb-3" >-</span>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    grade: 'B',
    http: '',
    newYearTerm: ''
  }),
  created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    eventBus.$on('openResultsDataEmployeeCommittee', this.addData)
    this.addData()
  },
  components: {

  },
  computed: {
    ...mapState(['employeeInfo'])
  },
  methods: {
    async addData () {
      this.http = process.env.VUE_APP_URL_1
      if (this.employeeInfo.term === 'mid') {
        this.employeeInfo.newTerm =  await 'กลางปี'
      } else {
        this.employeeInfo.newTerm = await 'ปลายปี'
      }
      this.newYearTerm = await `${this.employeeInfo.newTerm} / ${this.employeeInfo.year}`
    }
  }
}
</script>

<style>
.v-card__subtitle, .v-card__text, .v-card__title {
  padding: 10px !important;
}
.imageProfileSize {
  width: 190px;
  height: 230px;
}
.f-bold {
  font-family: 'cloudbold' !important;
  font-size: 16px !important;
  font-weight: bold;
}
.GradeHeader {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 35px !important;
}
</style>
