<template>
  <v-container grid-list-xs,sm,md,lg,xl>
    <v-card outlined>
      <v-toolbar color="green" dark class="tool_Bar border-top-rad-7">
        <v-toolbar-title class="w-100 left header"
          ><b style="fontSize: 20px">แบบประเมิน KPI สำหรับหัวหน้างาน</b>
        </v-toolbar-title>
      </v-toolbar>
      <v-container grid-list-xs,sm,md,lg,xl>
        <v-container
          grid-list-xs,sm,md,lg,xl
          style="border: 2px solid #FFB300; border-radius: 10px;padding: 10px"
          class="mb-1"
        >
          <v-btn class="btnText" color="#3AA4F3" rounded dense>
            <li><b style="fontSize: 14px !important">ด้านที่ 1</b></li>
          </v-btn>
          <v-container
            grid-list-xs,sm,md,lg,xl
            style="border: 1px solid #048ffa; border-radius: 10px;margin-top: 10px;width: 95%;padding: 30px"
            class="mb-3 pa-2 py-4"
          >
            <p class="mb-0" style="text-indent: 20px;fontSize: 14px !important">สามารถวัด<b style="color: #3AA4F3;"> วิเคราะห์ ประเมิน </b>งานของตัวเองได้</p>
          </v-container>
        </v-container>
        <v-container
          grid-list-xs,sm,md,lg,xl
          style="border: 2px solid #FFB300; border-radius: 10px;padding: 10px"
          class="mb-1"
        >
          <v-btn class="btnText" color="#5DEA86" rounded>
            <li><b style="fontSize: 14px !important">ด้านที่ 2</b></li>
          </v-btn>
          <v-container
            grid-list-xs,sm,md,lg,xl
            style="border: 1px solid #52e0b0; border-radius: 10px;margin-top: 10px;width: 95%;padding: 30px"
            class="mb-1 px-2 py-3"
          >
            <p class="mb-0" style="text-indent: 30px;fontSize: 14px !important">สามารถ<b style="color: #5DEA86;"> สร้าง Tooling หรือลด Process </b>ในงานหรือกระบวนการที่เกี่ยวข้องกับงานของตนเองได้</p>
          </v-container>
        </v-container>
        <v-container
          grid-list-xs,sm,md,lg,xl
          style="border: 2px solid #FFB300; border-radius: 10px;padding: 10px"
          class="mb-1"
        >
          <v-btn class="btnText" color="#F5B83E" rounded>
            <li><b style="fontSize: 14px !important">ด้านที่ 3</b></li>
          </v-btn>
          <v-container
            grid-list-xs,sm,md,lg,xl
            style="border: 1px solid #fdb019; border-radius: 10px;margin-top: 10px;width: 95%;padding: 30px"
            class="mb-1 pa-3"
          >
            <p class="mb-0" style="text-indent: 30px;fontSize: 14px !important">สามารถ<b style="color: #F5B83E;"> สร้างรุ่นน้อง </b>ที่สามารถทำงานทดแทนตัวเองได้อย่างน้อย 1 คน</p>
          </v-container>
        </v-container>
        <v-container
          grid-list-xs,sm,md,lg,xl
          style="border: 2px solid #FFB300; border-radius: 10px;padding: 10px"
          class="mb-1"
        >
          <v-btn class="btnText" color="#FC7488" rounded>
            <li><b style="fontSize: 14px !important">ด้านที่ 4</b></li>
          </v-btn>
          <v-container
            grid-list-xs,sm,md,lg,xl
            style="border: 1px solid #fd4560; border-radius: 10px;margin-top: 10px;width: 95%;padding: 30px"
            class="mb-1 pa-3"
          >
            <p class="mb-0" style="text-indent: 30px;fontSize: 14px !important">สามารถ<b style="color: #FC7488;"> Upskill และ Reskill </b>โดยมีการวัดผลตามหลักเกณฑ์<b style="color: #fd4560;"> Rating and Scoring</b> และอื่น ๆ</p>
          </v-container>
        </v-container>
        <v-container>
          <p class="pt-6">
            <span class="head">สรุปผลการประเมิน</span>
          </p>
          <div class="underlineHeader"></div>
          <p class="pl-3 pt-3 mb-3">
             คะแนนรวม :
            <b class="text">100%</b>
          </p>
          <p class="pl-3 pt-0">
             คะแนนที่ได้ :
            <b class="text">{{count}}%</b>
          </p>
          <p class="pl-3 pt-2 mb-2">
             โครงสร้างเงินเดือน :
            <b class="text">{{employeeInfo.structure_salary}}</b>
          </p>
          <p class="pt-6">
            <span class="head">ประเมินการปรับตำแหน่งพนักงาน</span>
          </p>
          <div class="underlineHeader"></div>
          <v-row row wrap>
            <v-col class="pa-0" cols="6">
              <v-radio-group style="fontSize: 14px" class="pl-3" v-model="radios" disabled :mandatory="false">
                <v-radio label="ปรับตำแหน่งเป็น" value="1"></v-radio>
                <v-radio label="ไม่ปรับตำแหน่ง" value="0"></v-radio>
              </v-radio-group>
            </v-col>
            <v-col class="pl-2 pt-5" cols="6">
              <span style="color: gray;font-Size: 24px; font-Weight: bold;">{{positionUp}}</span>
            </v-col>
          </v-row>
        </v-container>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    positionUp: '',
    radios: '',
    count: '',
    indecater: ''

  }),
  async created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    eventBus.$on('openResultsData', this.openResultsData)
  },
  components: {
  },
  computed: {
    ...mapState(['employeeInfo', 'employeeTransfer', 'idTransfer', 'dialogEmpKpiForm']),
    positionUp (){
      return this.positionUp
    }
  },
  methods: {
    async openResultsData () {
      var dataEvaluation = await this.employeeInfo.evaluation.evaluation_from_result_tmp
      if (this.employeeInfo.grade_percent_avg === 0) {
        this.count = '0'
      } else {
        this.count = (this.employeeInfo.grade_percent_avg).toFixed(2)
      }
      dataEvaluation.forEach(el => {
        if (el.em_id_evaluation === this.idTransfer.employee_id || this.idTransfer.employee_id === this.employeeInfo.em_id_evaluation_default) {
          this.radios = el.adjustment_position_status.toString()
          this.positionUp = el.adjustment_position
        }
      })
      if (this.dialogEmpKpiForm === false) {
        this.positionUp = ''
        this.radios = ''
        this.count = ''
      }
    }
  }
}
</script>

<style>
.way_icon h3{
  font-size: 24px;
  background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
span.head {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 20px;
  font-weight: 900;
  background: -webkit-linear-gradient(#477AC6, #329E9A, #276922);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.way_icon i:before {
  display: inline;
}
.btnText {
  color: white !important;
}
b.text {
  font-size: 18px;
  font-weight: bold;
}
b.grade {
  font-size: 24px;
  font-weight: bold;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
