<template>
  <v-container grid-list-xs,sm,md,lg,xl>
    <v-card outlined>
      <v-toolbar
        dark
        class="mx-auto tool_Bar"
        color="#218AC4"
      >
        <v-toolbar-title><b style="fontSize: 18px !important;">ผลงาน</b></v-toolbar-title>
        <v-spacer></v-spacer>
      </v-toolbar>
      <v-container>
        <template>
          <v-card class="pt-8 pb-5">
            <v-row>
              <v-col class="text-left">
                <v-container
                  grid-list-xs,sm,md,lg,xl
                  style="border: 2px solid #4BE8AF; border-radius: 5px;padding: 10px"
                  class="mb-1"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-btn color="#1A8AF4" outlined>
                        <li><b style="fontSize: 14px !important">ผลงานด้านที่ 1</b></li>
                      </v-btn>
                    </v-col>
                    <v-col cols="12">
                      <v-card
                        shaped
                        class="mb-3"
                      >
                        <v-card-text>
                          <v-row class="pl-3 pr-2">
                            <v-col class="pa-0" cols="12">
                              <p style="fontSize: 20px !important; color: #000000">ด้านการวัด วิเคราะห์ ประเมิน งานของตัวเองได้</p>
                            </v-col>
                            <v-col class="d-flex pa-0" cols="12">
                              <v-col class="pa-0" cols="5">
                                <p class="py-1 mb-0 pl-2"><b><u>คะแนนเต็ม:</u></b></p>
                              </v-col>
                              <v-col style="fontSize: 18px !important; fontWeight: bold;" class="pa-0 pt-1" cols="6">
                                {{indecater.part_1_evaluation_point}}
                              </v-col>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <p class="pb-4 pt-2 mb-0 pl-2"><b><u>ความคาดหวัง:</u></b></p>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <div class="pl-2 pb-2 text--primary">
                                {{indecater.part_1_expectation}}
                              </div>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <v-col cols="12" class="px-5">
                      <v-textarea
                        outlined
                        readonly
                        label="รายละเอียดผลงาน"
                        placeholder="รายละเอียดผลงาน"
                        color="green"
                        v-model="project.part_1_project"
                        auto-grow
                        rows="5"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
                <v-container
                  grid-list-xs,sm,md,lg,xl
                  style="border: 2px solid #4BE8AF; border-radius: 5px;padding: 10px"
                  class="mb-1"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-btn color="#1A8AF4" outlined>
                        <li><b style="fontSize: 14px !important">ผลงานด้านที่ 2</b></li>
                      </v-btn>
                    </v-col>
                    <v-col cols="12">
                      <v-card
                        shaped
                        class="mb-3"
                      >
                        <v-card-text>
                          <v-row class="pl-3 pr-2">
                            <v-col class="pa-0" cols="12">
                              <p style="fontSize: 20px !important; color: #000000">ด้านการสร้าง Tooling หรือลด Process</p>
                            </v-col>
                            <v-col class="d-flex pa-0 py-2" cols="12">
                              <v-col class="pa-0" cols="5">
                                <p class="py-1 mb-0 pl-2"><b><u>คะแนนเต็ม:</u></b></p>
                              </v-col>
                              <v-col style="fontSize: 18px !important; fontWeight: bold;" class="pa-0 pt-1" cols="6">
                                {{indecater.part_2_evaluation_point}}
                              </v-col>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <p class="pb-4 pt-2 mb-0 pl-2"><b><u>ความคาดหวัง:</u></b></p>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <div class="pl-2 pb-2 text--primary">
                                {{indecater.part_2_expectation}}
                              </div>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <v-col cols="12" class="px-5">
                      <v-textarea
                        outlined
                        readonly
                        label="รายละเอียดผลงาน"
                        placeholder="รายละเอียดผลงาน"
                        color="green"
                        v-model="project.part_2_project"
                        auto-grow
                        rows="5"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
                <v-container
                  grid-list-xs,sm,md,lg,xl
                  style="border: 2px solid #4BE8AF; border-radius: 5px;padding: 10px"
                  class="mb-1"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-btn color="#1A8AF4" outlined>
                        <li><b style="fontSize: 14px !important">ผลงานด้านที่ 3</b></li>
                      </v-btn>
                    </v-col>
                    <v-col cols="12">
                      <v-card
                        shaped
                        class="mb-3"
                      >
                        <v-card-text>
                          <v-row class="pl-3 pr-2">
                            <v-col class="pa-0" cols="12">
                              <p style="fontSize: 20px !important; color: #000000">ด้านการสร้างรุ่นน้อง</p>
                            </v-col>
                            <v-col class="d-flex pa-0 py-2" cols="12">
                              <v-col class="pa-0" cols="5">
                                <p class="py-1 mb-0 pl-2"><b><u>คะแนนเต็ม:</u></b></p>
                              </v-col>
                              <v-col style="fontSize: 18px !important; fontWeight: bold;" class="pa-0 pt-1" cols="6">
                                {{indecater.part_3_evaluation_point}}
                              </v-col>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <p class="pb-4 pt-2 mb-0 pl-2"><b><u>ความคาดหวัง:</u></b></p>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <div class="pl-2 pb-2 text--primary">
                                {{indecater.part_3_expectation}}
                              </div>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <v-col cols="12" class="px-5">
                      <v-textarea
                        outlined
                        readonly
                        label="รายละเอียดผลงาน"
                        placeholder="รายละเอียดผลงาน"
                        color="green"
                        v-model="project.part_3_project"
                        auto-grow
                        rows="5"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
                <v-container
                  grid-list-xs,sm,md,lg,xl
                  style="border: 2px solid #4BE8AF; border-radius: 5px;padding: 10px"
                  class="mb-1"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-btn color="#1A8AF4" outlined>
                        <li><b style="fontSize: 14px !important">ผลงานด้านที่ 4</b></li>
                      </v-btn>
                    </v-col>
                    <v-col cols="12">
                      <v-card
                        shaped
                        class="mb-3"
                      >
                        <v-card-text>
                          <v-row class="pl-3 pr-2">
                            <v-col class="pa-0" cols="12">
                              <p style="fontSize: 20px !important; color: #000000">ด้านการ Upskill และ Reskill</p>
                            </v-col>
                            <v-col class="d-flex pa-0 py-2" cols="12">
                              <v-col class="pa-0" cols="5">
                                <p class="py-1 mb-0 pl-2"><b><u>คะแนนเต็ม:</u></b></p>
                              </v-col>
                              <v-col style="fontSize: 18px !important; fontWeight: bold;" class="pa-0 pt-1" cols="6">
                                {{indecater.part_4_evaluation_point}}
                              </v-col>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <p class="pb-4 pt-2 mb-0 pl-2"><b><u>ความคาดหวัง:</u></b></p>
                            </v-col>
                            <v-col class="pa-0" cols="12">
                              <div class="pl-2 pb-2 text--primary">
                                {{indecater.part_4_expectation}}
                              </div>
                            </v-col>
                          </v-row>
                        </v-card-text>
                      </v-card>
                    </v-col>
                    <v-col cols="12" class="px-5">
                      <v-textarea
                        outlined
                        readonly
                        label="รายละเอียดผลงาน"
                        placeholder="รายละเอียดผลงาน"
                        color="green"
                        v-model="project.part_4_project"
                        auto-grow
                        rows="5"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                </v-container>
              </v-col>
            </v-row>
          </v-card>
        </template>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import eventBus from '@/evenbus.js'
export default {
  data: () => ({
    project: '',
    evaluation_project: [],
    indecater: ''


  }),
  created () {
    window.scrollTo({
      top: 0,
      left: 0
    })
    eventBus.$on('openResultsWork', this.addData)
    this.addData()

  },
  components: {
  },
  computed: {
    ...mapState(['employeeInfo'])
  },
  methods: {
    addData () {
      this.indecater = this.employeeInfo.indecater_evaluation.indecater
      this.project = this.employeeInfo.project_evaluation.project
    }
  }
}
</script>

<style>
.way_icon h3{
  font-size: 24px;
  background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
span.head {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 20px;
  font-weight: 900;
  background: -webkit-linear-gradient(#477AC6, #329E9A, #276922);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.way_icon i:before {
  display: inline;
}
.btnText {
  color: white !important;
}
b.text {
  font-size: 18px;
  font-weight: bold;
}
b.grade {
  font-size: 24px;
  font-weight: bold;
}
.tool_Bar {
  background: #00F260!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0C88D3, #25D599)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C88D3, #25D599)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
