<template>
  <div class="">
    <v-container grid-list-xs,sm,md,lg,xl>
      <v-col class="text-center">
        <img src="../assets/img/inetlogo.png" width="25%">
      </v-col>
      <v-col class="text-center">
        <h2 text-xs-center>แบบประเมิน KPI ประจำปี 2562 รอบปลายปี</h2>
      </v-col>
    </v-container>
    <EmployeeInfo ref="EmployeeInfo"></EmployeeInfo>
    <KpiForm ref="KpiForm"></KpiForm>
  </div>
</template>

<script>
import EmployeeInfo from '@/components/KpiForm/EmployeeInfo'
import KpiForm from '@/components/KpiForm/KpiForm'
export default {
  components: {
    EmployeeInfo,
    KpiForm
  },
}
</script>

<style >

</style>
