<template>
  <div class="bg">
    <v-container fluid>
      <v-row justify="center" align="center" class="fill-height">
        <v-col cols="12" xs="12" class="d-flex justify-center">
            <v-img
              width="200"
              height="400"
              src="/img/DNALoad.gif"
            >
            </v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
.fill-height {
  height: 100vh;
}

.bg {
  background-color: whitesmoke;
}

.parent2 {
  position: relative;
  /* border: 1px solid blue; */
  width: 300px;
  height: 500px;
}

.child2 {
  text-align: center;
  position: absolute;
  /* border: 1px solid red; */
  top: 450px;
  right: 50px;
  left: 50px;
}
</style>
