<template>
  <div class="bg">
    <v-container fluid>
      <v-row justify="center" align="center" class="fill-height child2">
        <v-col cols="8" xs="12" justify="center" align="center">
            <v-img
              src="/img/repair.png"
            >
            </v-img>
        </v-col>
        <v-col cols="12" xs="12" class="d-flex justify-center">
            <h1>ข้อมูลของคุณไม่ได้อยู่ใน RA <br> กรุณาติดต่อ HR <br> หากแจ้ง HR เรียบร้อยแล้ว<br>กรุณารอซักครู่...</h1>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
.fill-height {
  height: 20vh;
}

.bg {
  background-color: whitesmoke;
}
h1 {
  font-size: 25px;
  font-family: system-ui;
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
    font-family: Arial;
  }

}
@media only screen and (max-width: 310px) {
  h1 {
    font-size: 15px;
    font-family: Arial;
  }
  .child2 {
    text-align: center;
    position: absolute;
    /* border: 1px solid red; */
    top: 200px;
    right: 50px;
    left: 50px;
  }
}

.parent2 {
  position: relative;
  /* border: 1px solid blue; */
  width: 10px;
  height: 500px;
}

.child2 {
  text-align: center;
  position: absolute;
  /* border: 1px solid red; */
  top: 120px;
  right: 50px;
  left: 50px;
}
</style>
