<template>
  <v-container>
    <v-row justify="center">
      <v-col class="d-flex justify-center" cols="12" xs="12">
        <v-btn
          @click="dialog = true"
          class="px-5"
          rounded
          block
          outlined
          color="#24D29B"
        >
          <v-icon left>mdi-pencil</v-icon><b>Export</b>
        </v-btn>
      </v-col>
    </v-row>
    <v-dialog
      v-model="dialog"
      max-width="80%"
    >
      <v-card>
        <v-card-title class="headline">การประเมินผลประจำปี</v-card-title>
        <v-card-text>
          <v-col cols="12" class="pb-1">
            <h3 class="pl-4">กรุณากรอกข้อมูล</h3>
          </v-col>
          <v-col cols="12" class="d-flex px-8">
            <v-select
              v-model="selectBoxYear"
              :items="itemsYear"
              dense
              label="ปี"
              outlined
              @change="changeSelectYear"
            ></v-select>
            <v-spacer></v-spacer>
            <v-select
              v-model="selectBoxTerm"
              :items="itemsTerm"
              dense
              label="รอบ"
              outlined
              @change="changeSelectTerm"
            ></v-select>
          </v-col>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red"
            text
            @click="dialog = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="ExportExcel"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import XLSX from 'xlsx'
export default {
  data: () => ({
    dialog: false,
    json : [],
    data: '',
    year: '',
    term: '',
    selectBoxYear: '',
    selectBoxTerm: '',
    itemsYear: ['2560', '2561', '2562', '2563', '2564', '2565', '2566', '2567', '2568', '2569', '2570'],
    itemsTerm: ['กลางปี', 'ปลายปี'],
  }),
  methods: {
    changeSelectYear () {
      this.year = this.selectBoxYear
    },
    changeSelectTerm () {
      this.term = this.selectBoxTerm
    },
    async ExportExcel () {
      this.json = []
      this.dialog = false
      if (this.term === 'กลางปี') {
        this.term = 'mid'
      } else {
        this.term = 'late'
      }
      await this.axios({
        headers: { Authorization: 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyIjp7ImlkIjoxMjM0NX0sImlhdCI6MTU5MTc4Mzc4NX0.Rvag2gZ1x2TFSQ2CJ3rnKHGJzXAtnxEUwATPL3kn6Lc'},
        method: 'get',
        url: `${process.env.VUE_APP_URL_1}/api/evaluation/getEmpolyeeForTaboDashboard/${this.year}/${this.term}`,
        // url: 'http://203.150.13.74:8080/api/evaluation/getEmpolyeeForTaboDashboard/2563/mid',
      })
      .then(response => {
        // console.log('response', response.data.data)
        var data_json
        var title
        response.data.data.forEach(el => {
          if (el.term === 'mid') {
            el.newTerm = 'กลางปี'
          } else {
            el.newTerm = 'ปลายปี'
          }
          title = [{
            key: 'การประเมินผลประจำปี',
            key1: el.year,
            key2: 'รอบการประเมิน',
            key3: el.newTerm
          }]
          for (var i = 0; i < el.evaluation.length; i++) {
            data_json = {
              employee_id: el.employee_id,
              name: el.name,
              nickname: el.nickname,
              org_name: el.org_name,
              cost_center_name: el.cost_center_name,
              position: el.position,
              company: el.company,
              start_date: el.start_date,
              work_year: el.work_year,
              work_month: el.work_month,
              work_date: el.work_date,
              em_id_evaluation: el.evaluation[i].em_id_evaluation,
              name_evaluation: 'คุณ' + el.evaluation[i].name_evaluation,
              grade: el.evaluation[i].grade,
              grade_percent: el.evaluation[i].grade_percent,
              grade_avg: el.grade_avg,
              grade_percent_avg: el.grade_percent_avg,
              lasted_grade: el.lasted_grade,
              level_position: el.level_position,
              em_id_evaluation_default: el.em_id_evaluation_default,
              name_evaluation_default: 'คุณ' + el.name_evaluation_default,
              tranfer: el.tranfer,
              together: el.together,
              structure_salary_year_62: el.structure_salary_year_62,
              structure_salary: el.structure_salary,
              adjustment_hr_comment: el.adjustment_hr_comment,
              adjustment_hr_grade: el.adjustment_hr_grade
            }
            this.json.push(data_json)
          }

        })

        // console.log('json = ', this.json)
        // console.log('title', title)
        var header = [{
          key1: "รหัสพนักงาน", key2: "ชื่อ - นามสกุล", key3: "ชื่อเล่น", key4: "ฝ่าย", key5: "สายงาน", key6: "ตำแหน่ง", key7: "บริษัท", key8: "เริ่มงาน", key9: "อายุงาน(ปี)",
          key10: "อายุงาน(เดือน)", key11: "อายุงาน(วัน)", key111: "รหัสพนักงานผู้ประเมิน", key12: "ชื่อผู้ประเมิน", key13: "เกรดที่ได้รับจากหัวหน้างาน", key14: "คะแนนที่ได้จากหัวหน้างาน", key15: "เกรดเฉลี่ย",
          key16: "คะแนนเฉลี่ย", key17: "เกรดเดิม", key18: "ระดับตำแหน่ง", key19: "รหัสพนักงานผู้ประเมินเริ่มต้น", key20: "ชื่อพนักงานผู้ประเมินเริ่มต้น", key21: "สถานะการโอนสิทธิ์",
          key22: "สถานะการประเมินร่วม", key23: "โครงสร้างเงินเดือนเดิม", key24: "โครงสร้างเงินเดือนปัจจุบัน", key25: "ความคิดเห็นของ HR", key26: "เกรดที่ได้รับการอนุมัติจาก HR"
        }]
        const dataWS = XLSX.utils.json_to_sheet(title, {skipHeader: true, origin: "G4"})
        XLSX.utils.sheet_add_json(dataWS, header, {skipHeader: true, origin: "A5"})
        XLSX.utils.sheet_add_json(dataWS, this.json, {skipHeader: true, origin: "A6"})
        const wb = XLSX.utils.book_new()
        XLSX.utils.book_append_sheet(wb, dataWS)
        XLSX.writeFile(wb,'การประเมินผลประจำปี' + this.year + '.xlsx')
      })

    }
  },
  computed: {

  }
}
</script>
