<template>
  <div class="bg">
    <v-container fluid>
      <v-row justify="center" align="center" class="fill-height">
        <v-col cols="12" xs="12" class="d-flex justify-center">
          <div class="parent2">
            <v-img
              width="300"
              height="500"
              src="/img/green7.gif"
            >
            </v-img>
            <div class="child2">
              <span class=" font-weight-bold display-1"> {{ value }} %</span>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: true,
      value: 0
    };
  },
  methods: {
    load(value) {
      this.value = value;
      // if (this.value < 100) {
      //   setTimeout(() => {
      //     this.value += 25;
      //     this.load();
      //   }, 1000);
      // } else {
      //   this.$router.push('/accessor/62107');
      // }
    },
    reset() {
      this.value = 0;
    }
  }
};
</script>

<style lang="css" scoped>
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
.fill-height {
  height: 100vh;
}

.bg {
  background-color: white;
}

.parent2 {
  position: relative;
  /* border: 1px solid blue; */
  width: 300px;
  height: 500px;
}

.child2 {
  text-align: center;
  position: absolute;
  /* border: 1px solid red; */
  top: 450px;
  right: 50px;
  left: 50px;
}
</style>
