<template>
  <v-dialog v-model="dialog" max-width="400px" transition="dialog-transition">
    <v-card>
      <v-container>
        <v-row justify="center">
          <v-col class="d-flex justify-center" cols="12" xs="12">
            <v-img
              contain
              :class="{ 'tada animated': animated }"
              @animationend="animated = false"
              :src="imgType"
              width="100"
              height="100"
              alt=""
            ></v-img>
          </v-col>
          <v-col class="d-flex justify-center" cols="12" xs="12">
            <h1>{{ title }}</h1>
          </v-col>
          <v-col class="d-flex justify-center pa-0" cols="12" xs="12">
            <caption class="grey--text">
              {{
                text
              }}
            </caption>
          </v-col>
          <template v-if="type === 'success' || type === 'error'">
            <v-col class="d-flex justify-center" cols="12" xs="12">
              <v-btn class="success" @click="closeDialogWithFunc">ปิด</v-btn>
            </v-col>
          </template>
          <template v-else-if="type === 'warning' || type === 'alert'">
            <v-col class="d-flex justify-center" cols="6" xs="6">
              <v-btn block color="success" @click="funcs">ยืนยัน</v-btn>
            </v-col>
            <v-col class="d-flex justify-center" cols="6" xs="6">
              <v-btn block color="error" @click="closeDialog">ยกเลิก</v-btn>
            </v-col>
          </template>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    animated: false,
    title: '',
    text: '',
    type: '',
    func: {}
  }),
  methods: {
    async openDialog(title, text, type, func) {
      this.dialog = true;
      this.title = title;
      this.text = text;
      this.type = type;
      this.func = func;
      this.animated = await true;
    },
    async closeDialog() {
      this.animated = await false;
      this.dialog = false;
    },
    async closeDialogWithFunc() {
      this.animated = await false;
      this.dialog = false;
      await this.func.func();
    },
    async funcs() {
      this.dialog = await false;
      await this.func.func();
    }
  },
  computed: {
    imgType() {
      let type = '';
      if (this.type === 'success') {
        type = '/img/checked.png';
      } else if (this.type === 'warning') {
        type = '/img/warning.png';
      } else if (this.type === 'alert') {
        type = '/img/alert.png';
      } else {
        type = '/img/cancel.png';
      }
      return type;
    }
  }
};
</script>
