<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="200"
    >
    <template v-slot:activator="{on}">
      <v-app id="inspire">
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="10"
            sm="8"
            md="4"
            class="pt-5"
          >
            <v-row>
              <v-col cols="12" class="bgcolor">
                <h2 class="text-left">รหัสพนักงาน : {{staffid}}</h2>
              </v-col>
              <v-col cols="12" class="pt-5 pb-5">
              <v-card class="elevation-12">
                <v-tabs
                  v-model="tabs"
                  background-color="#4ea612"
                  center-active
                  dark
                  centered
                  fixed-tabs
                  icons-and-text
                >
                  <v-tab >
                    Department
                    <v-icon>mdi-account-multiple</v-icon>
                  </v-tab>
                  <v-tab>
                    Company
                    <v-icon>mdi-home-city</v-icon>
                  </v-tab>
                </v-tabs>
                <v-tabs-items v-model="tabs">
                  <v-tab-item>
                    <v-card class="elevation-12">
                      <v-card-text >
                        <v-row row warp justify="center" class="pt-5">
                          <v-col cols="12">
                            <v-select
                              v-model="company"
                              @change="filterDepartments()"
                              :items="items"
                              label="กรุณาเลือกบริษัท"
                              :rules="rules"
                              dense
                              outlined
                            ></v-select>
                          </v-col>
                          <v-col cols="12">
                            <v-select
                              v-model="party"
                              @change="filterEmployee()"
                              :items="itemDepartments"
                              label="กรุณาเลือกฝ่าย"
                              :rules="rules"
                              dense
                              outlined
                            ></v-select>
                          </v-col>
                          <v-col cols="12">
                            <v-btn rounded :disabled="btnCheck" class="elevation-12 btnPrimary" block @click="dashboard()"> Dashboard</v-btn>
                          </v-col>
                          <v-col cols="12">
                            <v-btn rounded class="elevation-12 btnPrimary" block @click="back_to_menu()">กลับหน้าหลัก</v-btn>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <v-card class="elevation-12">
                      <v-card-text>
                        <v-row>
                          <v-col cols="12">
                            <v-select
                              v-model="companyCompany"
                              @change="filterCompany()"
                              :items="itemcompany"
                              label="กรุณาเลือกบริษัท"
                              :rules="rules"
                              dense
                              outlined
                            ></v-select>
                          </v-col>
                          <v-col cols="6">
                            <p class="text pt-1">คนที่ยังไม่ทำแบบสอบถาม</p>
                          </v-col>
                          <v-col cols="2">
                            <p class="text pt-1">{{countUncomplete}}</p>
                          </v-col>
                          <v-col cols="2">
                            <p class="text pt-1">คน</p>
                          </v-col>
                          <v-col cols="2">
                            <v-btn :disabled="btnCheckCompany" fab small color="bgcolor" @click="dataDetail('')"><v-icon dark>mdi-format-list-bulleted-square</v-icon></v-btn>
                          </v-col>
                          <v-col cols="12" >
                            <v-simple-table height="300px">
                              <template v-slot:default>
                                <thead>
                                  <tr bgcolor="#76DF2F">
                                    <th class="text-left">สถานะ</th>
                                    <th class="text-center">จำนวนคน</th>
                                    <th class="text-center">เปอร์เซ็น</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr v-for="item in desserts" :key="item.name" @click="dataDetail(item)" >
                                    <td><v-icon :color="item.color1">mdi-account</v-icon><v-icon :color="item.color2">mdi-account</v-icon></td>
                                    <td align="center" justify="center">{{ item.num_people }}</td>
                                    <td align="center" justify="center">{{ item.percent }}</td>
                                  </tr>
                                </tbody>
                              </template>
                              <template v-slot:item.actions="{ item }">
                                <v-icon
                                  small
                                  class="mr-2"
                                  @click="editItem(item)"
                                >
                                  mdi-pencil
                                </v-icon>
                              </template>
                            </v-simple-table>
                          </v-col>
                          <v-col cols="12">
                            <v-btn rounded class="elevation-12 btnPrimary" block @click="back_to_menu()">กลับหน้าหลัก</v-btn>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-app>
    </template>
    <v-card>
      <v-card-text class="centerdiv pt-5">
        <v-progress-circular
          :size="70"
          :width="7"
          color="green"
          indeterminate
          class="pt-3"
        ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    data: () => ({
      items: [],
      dialog: false,
      tabs: null,
      id:'',
      rules: [
        value => !!value || 'Required.'
      ],
      company:'',
      countemployee: true,
      companyCompany:'',
      party:'',
      forId:'',
      forCheck: true,
      allEmployee:[],
      itemFilters: [],
      itemDepartments: [],
      text:'',
      data:[],
      employee:[],
      staffid:'',
      desserts:[],
      itemcompany: [],
      countUncomplete: 0,
      loadDep: false,
      loadCompany: false
    }),
    computed: {
      ...mapState(['sourceCompany', 'sourceDepartments','HeadDepartment','sourceGM', 'sourceEmployee','sourceStaffid']),
      btnCheck () {
        if (this.company&&this.party!='' && this.loadDep) {
          return false
        } else {
          return true
        }
      },
      btnCheckCompany () {
        if (this.companyCompany!=''&& this.loadCompany && this.countUncomplete != 0) {
          return false
        } else {
          return true
        }
      }
    },
    created(){
      this.dessertsClear()
      if (this.sourceStaffid.length == 1 && this.sourceStaffid[0]!= 'NULL') {
        this.staffid = this.sourceStaffid[0]
      }else if (this.sourceStaffid.length == 1 && this.sourceStaffid[0]== 'NULL') {
        this.staffid = '-'
      }else {
        this.staffid = this.sourceStaffid[0]
      }
      this.sourceDepartments.forEach(el => {
        this.countemployee = false
        el.departments.find(el => {
          if (el.employee.length != 0) {
          this.countemployee = true
          }
        })
        if (this.countemployee == true) {
          this.items.push(el.company_name)
          this.itemcompany.push(el.company_name)
        }
      })
    },
    methods: {
      async filterDepartments () {
        this.itemDepartments = []
        this.companyCompany = await 'กรุณาเลือกบริษัท'
        const filter = await this.sourceDepartments.find(el => this.company === el.company_name)
        filter.departments.forEach(el => {
          if (el.employee.length != 0 && el.dept_name != "RA") {
            this.itemDepartments.push(el.dept_name)
          }
        })
        // this.party = ''
        this.dessertsClear()
      },
      async filterEmployee(){
        this.companyCompany = await 'กรุณาเลือกบริษัท'
        this.dialog = true
        const filter_company = await this.sourceDepartments.find(el => el.company_name === this.company)
        const filter_department = await filter_company.departments.find(el => el.dept_name === this.party)
        this.$store.commit('updateHeadDepartment', filter_department.dept_name)
        const sourceEmployee = {
          employee : filter_department.employee
        }
        await this.axios.post(`${process.env.VUE_APP_URL_2}/get_status_user`, sourceEmployee).then(async (response) => {
          if (response.data.status != 'fail') {
            await this.$store.commit('updateSourceEmployee', response.data.result)
          }
        })
        this.dialog = false
        this.loadDep = await true
        this.loadCompany = await false
        this.dessertsClear()
      },
      async filterCompany () {
        this.dialog = true
        this.allEmployee = []
        this.company = await 'กรุณาเลือกบริษัท'
        this.party = await 'กรุณาเลือกฝ่าย'
        this.itemDepartments = []
        //เช็ค select
        const filter_company = await this.sourceDepartments.find(el => el.company_name === this.companyCompany)
        filter_company.departments.forEach(el => {
          //เช็คว่ามี employee ?
          if (el.employee.length != 0 && el.dept_name != "RA") {
            if (this.allEmployee.length == 0) {
              el.employee.forEach(el => {
                this.allEmployee.push(el)
              })
            }else {
              //วนเช็ค account_id
              el.employee.forEach(el => {
                this.forId = el.account_id
                this.forCheck = true
                this.allEmployee.find(el => {
                  if (el.account_id == this.forId){
                    this.forCheck = false
                  }
                })
                if (this.forCheck != false) {
                  this.allEmployee.push(el)
                }
              })
            }
          }
        })
        this.idTeamMember = []
        //หา taxid
        this.allEmployee.forEach(el =>{
          this.idTeamMember.push({"account_id":el.account_id})
        })
        const sourceEmployee = {
          employee : this.idTeamMember
        }
        await this.axios.post(`${process.env.VUE_APP_URL_2}/get_status_user`, sourceEmployee).then(async (response) => {
          if (response.data.status != 'fail') {
            await this.$store.commit('updateSourceEmployee', response.data.result)
          }
        })
        this.countUncomplete = this.sourceEmployee.uncomplete.length
        this.desserts = [
          {
            color1: '#209E11',
            color2: '#209E11',
            num_people: this.sourceEmployee.green_green.count,
            percent: this.sourceEmployee.green_green.percent,
            employee: this.sourceEmployee.green_green.employee
          },
          {
            color1: '#209E11',
            color2: 'yellow',
            num_people: this.sourceEmployee.green_yellow.count,
            percent: this.sourceEmployee.green_yellow.percent,
            employee: this.sourceEmployee.green_yellow.employee
          },
          {
            color1: 'yellow',
            color2: 'yellow',
            num_people: this.sourceEmployee.yellow_yellow.count,
            percent: this.sourceEmployee.yellow_yellow.percent,
            employee: this.sourceEmployee.yellow_yellow.employee
          },
          {
            color1: '#F87F05',
            color2: 'yellow',
            num_people: this.sourceEmployee.yellow_orange.count,
            percent: this.sourceEmployee.yellow_orange.percent,
            employee: this.sourceEmployee.yellow_orange.employee
          },
          {
            color1: '#F87F05',
            color2: '#F87F05',
            num_people: this.sourceEmployee.orange_orange.count,
            percent: this.sourceEmployee.orange_orange.percent,
            employee: this.sourceEmployee.orange_orange.employee
          }
        ]
        this.dialog = await false
        this.loadDep = await false
        this.loadCompany = await true
      },
      dataDetail(item){
        if (this.companyCompany != '') {
          if (item != '') {
            if (item.employee.length > 0) {

              this.$store.commit('updateDetailDashboard', item.employee)
              this.$router.push('/detailheaddashboard/'+this.$route.params.oneid)
            }
          }else {
            if (this.sourceEmployee.uncomplete.length > 0) {
              this.$store.commit('updateDetailDashboard', this.sourceEmployee.uncomplete)
              this.$router.push('/detailheaddashboard/'+this.$route.params.oneid)
            }
          }
        }
      },
      dashboard(){
        if (this.company&&this.party!='') {
          this.$router.push('/dashboard/'+this.$route.params.oneid)
        }
      },
      dessertsClear(){
        this.countUncomplete = 0
        this.desserts = [
          {
            color1: '#209E11',
            color2: '#209E11',
            num_people: 0,
            percent: 0,
            employee: []
          },
          {
            color1: '#209E11',
            color2: 'yellow',
            num_people: 0,
            percent: 0,
            employee: []
          },
          {
            color1: 'yellow',
            color2: 'yellow',
            num_people: 0,
            percent: 0,
            employee: []
          },
          {
            color1: '#F87F05',
            color2: 'yellow',
            num_people: 0,
            percent: 0,
            employee: []
          },
          {
            color1: '#F87F05',
            color2: '#F87F05',
            num_people: 0,
            percent: 0,
            employee: []
          }
        ]
      },
      back_to_menu(){
        this.$router.push('/home/'+this.$route.params.oneid)
      },
    },
}
</script>

<style  scoped>
  .bgcolor{
    color: white;
    background-color: #4ea612 !important;
  }

  p.text {
    font-size: 17px;
    margin-top: 8px;
  }
  @media only screen and (max-width: 410px) {
    p.text {
      font-size: 14px;
    }
  }
  .centerdiv {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .btnPrimary {
    color: white;
    background-color: #4ea612 !important;
  }
</style>
