<template>
  <v-app class="bg">
    <router-view></router-view>
  </v-app>
</template>

<script>

export default {
}
</script>

<style scoped>
  .bg {
    background-color: grey !important;
  }
</style>
