<template lang="html">
  <v-app id="inspire">
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="10" sm="8" md="4">
        <v-row>
          <v-col cols="12" class="bgcolor">
            <h2 >รหัสพนักงาน : {{staffid}}</h2>
          </v-col>
          <v-col cols="12">
            <v-card class="elevation-12">
              <v-date-picker
                color="blue lighten-3"
                header-color="#4ea612"
                v-model="date"
                full-width
                :landscape="$vuetify.breakpoint.smAndUp"
                class="mt-4"
                :events="dateFinal"
              ></v-date-picker>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-btn rounded class="elevation-12" block color="btnPrimary" @click="back_to_menu()">กลับหน้าหลัก</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    staffid:'',
    test:[],
    data:[]
  }),
  computed: {
    ...mapState(['sourceStaffid'])
  },
  async created(){
    if (this.sourceStaffid.length == 1 && this.sourceStaffid[0]!= 'NULL') {
      this.staffid = this.sourceStaffid[0]
    }else if (this.sourceStaffid.length == 1 && this.sourceStaffid[0]== 'NULL') {
      this.staffid = '-'
    }else {
      this.staffid = this.sourceStaffid[0]
    }
     await this.getData()
  },
  methods: {
    getData () {
      let source = {
        oneid: this.$route.params.oneid,
        staffid: this.staffid
      }
      this.axios.post(`${process.env.VUE_APP_URL_2}/detail_user_data`, source).then((response) => {
        this.data = response.data
        this.test = response.data.map((el) => {
          const [,, day] = el.check_date.split('-')
          return day
        })
      })
    },
    back_to_menu(){
      this.$router.push('/home/'+this.$route.params.oneid)
    },
    color_date(date){
      return this.data.map(el => {
        if (el.check_date.includes(date)){
          return el.status2
        }
      })
    },
    functionEvents (date) {
      const [,, day] = date.split('-')
      if (this.test.includes(day)) return true
      return false
    },
    dateFinal (date) {
      let data = this.data.map(el => el.check_date)
      if (data.includes(date)) {
        let x = this.data.find(el => {
          return el.check_date === date
        })
        return [x.status, x.status2]
      }
    }
  }
}
</script>

<style scoped>
  .bgcolor{
    color: white;
    background-color: #4ea612;
  }
  .btnPrimary {
    color: white;
    background-color: #4ea612 !important;
  }
</style>
