<template lang="html">
  <v-app id="inspire">
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="10" sm="8" md="4">
        <v-row>
          <v-col cols="12" class="bgcolor">
            <h3>{{headText}}{{id}}</h3>
          </v-col>
          <v-col cols="6">
            <p class="text">คนที่ยังไม่ทำแบบสอบถาม</p>
          </v-col>
          <v-col cols="1">
            <p class="text">{{sourceEmployee.uncomplete.length}}</p>
          </v-col>
          <v-col cols="2">
            <p class="text">คน</p>
          </v-col>
          <v-col cols="2">
            <v-btn :disabled="btnCheck" fab small color="bgcolor" @click="dataDetail('')">
              <v-icon dark>mdi-format-list-bulleted-square</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="12" >
            <v-simple-table height="300px">
              <template v-slot:default>
                <thead>
                  <tr bgcolor="#76DF2F">
                    <th class="text-left">สถานะ</th>
                    <th class="text-center">จำนวนคน</th>
                    <th class="text-center">เปอร์เซ็น</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in desserts" :key="item.name" @click="dataDetail(item)" >
                    <td>
                      <v-icon :color="item.color1">
                        mdi-account
                      </v-icon>
                      <v-icon :color="item.color2">
                        mdi-account
                      </v-icon>
                    </td>
                    <td align="center" justify="center">{{ item.num_people }}</td>
                    <td align="center" justify="center">{{ item.percent }}</td>
                  </tr>
                </tbody>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
              </template>
            </v-simple-table>
          </v-col>
          <v-col cols="12">
            <v-btn rounded class="elevation-12 bgcolor" block @click="back_to_company()">ย้อนกลับ</v-btn>
          </v-col>
          <v-col cols="12">
            <v-btn rounded class="elevation-12 bgcolor" block @click="back_to_menu()">กลับหน้าหลัก</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    headText:'',
    desserts:[
      {
        color1: '#209E11',
        color2: '#209E11',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: '#209E11',
        color2: 'yellow',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: 'yellow',
        color2: 'yellow',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: '#F87F05',
        color2: 'yellow',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: '#F87F05',
        color2: '#F87F05',
        num_people: 0,
        percent: 0,
        employee: []
      }
    ],
    id:'',
    countUncomplete:0
  }),
  computed: {
    ...mapState(['sourceEmployee','HeadDepartment','detaildashboard']),
    btnCheck () {
      if (this.sourceEmployee.uncomplete.length != 0) {
        return false
      } else {
        return true
      }
    }
  },
  created(){
    this.id = this.HeadDepartment
    this.headText = 'หัวหน้าฝ่าย: '
    this.desserts = [
      {
        color1: '#209E11',
        color2: '#209E11',
        num_people: this.sourceEmployee.green_green.count,
        percent: this.sourceEmployee.green_green.percent,
        employee: this.sourceEmployee.green_green.employee
      },
      {
        color1: '#209E11',
        color2: 'yellow',
        num_people: this.sourceEmployee.green_yellow.count,
        percent: this.sourceEmployee.green_yellow.percent,
        employee: this.sourceEmployee.green_yellow.employee
      },
      {
        color1: 'yellow',
        color2: 'yellow',
        num_people: this.sourceEmployee.yellow_yellow.count,
        percent: this.sourceEmployee.yellow_yellow.percent,
        employee: this.sourceEmployee.yellow_yellow.employee
      },
      {
        color1: '#F87F05',
        color2: 'yellow',
        num_people: this.sourceEmployee.yellow_orange.count,
        percent: this.sourceEmployee.yellow_orange.percent,
        employee: this.sourceEmployee.yellow_orange.employee
      },
      {
        color1: '#F87F05',
        color2: '#F87F05',
        num_people: this.sourceEmployee.orange_orange.count,
        percent: this.sourceEmployee.orange_orange.percent,
        employee: this.sourceEmployee.orange_orange.employee
      }
    ]
  },
  methods: {
    back_to_company(){
      this.$router.push('/company/'+this.$route.params.oneid)
    },
    back_to_menu(){
      this.$router.push('/home/'+this.$route.params.oneid)
    },
    dataDetail(item){
      if (item == '') {
        if (this.sourceEmployee.uncomplete.length > 0) {
          this.$store.commit('updateDetailDashboard', this.sourceEmployee.uncomplete)
          this.$router.push('/detaildashboard/'+this.$route.params.oneid)
        }
      }else {
        if (item.employee.length > 0) {
          this.$store.commit('updateDetailDashboard', item.employee)
          this.$router.push('/detaildashboard/'+this.$route.params.oneid)
        }
      }
    }
  }
}
</script>

<style scoped>
  .bgcolor{
    color: white;
    background-color: #4ea612 !important;
  }

  p.text {
    font-size: 18px;
    margin-top: 8px;
  }

  .centerdiv {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
</style>
