<template lang="html">
  <v-app id="inspire">
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="10" sm="8" md="4">
        <v-row>
          <v-col cols="12" >
            <v-simple-table height="500px" :fixed-header="true">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center"><p class="headtext pt-2">รหัสพนักงาน</p></th>
                    <th class="text-center"><p class="headtext pt-2">ชื่อ/ชื่อเล่น</p></th>
                    <th class="text-center"><p class="headtext pt-2">เบอร์โทร</p></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in desserts" :key="index">
                    <td class="detailText" align="center" justify="center">{{(item.staffid != 'NULL') ? item.staffid : '-'}}</td>
                    <td class="detailText" align="center" justify="center">{{ item.name }} ({{item.nickname}})</td>
                    <td class="detailText" align="center" justify="center">{{ (item.tel != 'NULL') ? item.tel : '-' }}</td>
                  </tr>
                </tbody>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
              </template>
            </v-simple-table>
          </v-col>
          <v-col cols="12">
            <v-btn rounded class="elevation-12 bgcolor" block @click="back_to_dashboard()">ย้อนกลับ</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    headText:'',
    desserts:[],
  }),
  computed: {
    ...mapState(['sourceEmployee','HeadDepartment','detailDashboard'])
  },
  created(){
    this.desserts = this.detailDashboard
  },
  methods: {
    back_to_dashboard(){
      this.$router.push('/dashboard/'+this.$route.params.oneid)
    }
  }
}
</script>

<style scoped>
  .bgcolor{
    color: white;
    background-color: #4ea612 !important;
  }

  p.headtext {
    font-size: 16px;

  }

  .table.v-simple-table>thead>tr {
    background-color: #4ea612;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
  }

  .detailText {
    font-size: 14px;
  }

  .centerdiv {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
</style>
