<template lang="html">
  <v-app id="inspire">
    <transition
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutLeft"
    >
      <CovidLoading v-show="loading"></CovidLoading>
    </transition>
    <transition
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutLeft"
    >
      <ErrorPage v-show="errorPage"></ErrorPage>
    </transition>
    <v-row
      align="center"
      justify="center"
      v-show="showPage"
    >
      <v-col
        cols="10"
        sm="8"
        md="4"
        class="pt-5"
      >
        <v-row>
          <v-col cols="12" class="bgcolor">
            <h2>รหัสพนักงาน : {{staffid}}</h2>
          </v-col>
          <v-col cols="12" class="pt-5 pb-5">
            <v-card class="elevation-12">
              <v-card-text>
                <v-form>
                  <v-row row warp justify="center" class="pt-5">
                    <v-col cols="12">
                      <v-btn rounded class="elevation-12 btnPrimary" block @click="history()">ดูประวัติย้อนหลัง</v-btn>
                    </v-col>
                    <v-col cols="12">
                      <v-btn rounded v-if="isHidden" class="elevation-12 btnPrimary" block @click="headDashboard()">Dashboard Team</v-btn>
                    </v-col>
                    <!-- <v-col cols="12">
                      <v-btn rounded class="elevation-12 btnPrimary" block @click="dashboardGM()">Dashboard Company</v-btn>
                    </v-col> -->
                    <v-col cols="12">
                      <v-btn rounded v-if="chackDashboard" class="elevation-12 btnPrimary" block @click="dashboard()">Dashboard</v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import CovidLoading from '../../views/CovidLoading'
import ErrorPage from '../../views/ErrorPage'
export default {
  components: {
    CovidLoading,
    ErrorPage
  },
    data: () => ({
      countemployee: 0,
      loading: true,
      errorPage: false,
      id: '',
      staffid: '',
      showPage: false,
      taxid_list: [],
      chackDashboard: true
    }),
    computed: {
      ...mapState(['sourceCompany', 'sourceDepartments','sourceGM','sourceStaffid']),
      isHidden () {
        if (this.countemployee == 0 ) {
          return false
        }else {
          return true
        }
      }
    },
    created(){
      this.id = this.$route.params.oneid
      this.getUserDetail()
    },
    methods: {
      async getUserDetail () {
        this.loading = true
        const payload = await this.axios.get(`${process.env.VUE_APP_URL_2}/get_user_detail/${this.id}`)
        await this.$store.commit('updateSourceCompany', payload.data.msg_company)
        await this.$store.commit('updateSourceDepartments', payload.data.msg_departments)
        await this.$store.commit('updateSourceStaffid', payload.data.staffid)
        if (payload.data.status == 'succeed' && payload.data.msg_company.length != 0 && payload.data.msg_departments.length != 0) {
          //push taxid list
          await this.sourceCompany.forEach(el =>{
            this.taxid_list.push(el.tax_id)
          })
          await this.sourceDepartments.forEach(el => {
            el.departments.forEach(el => {
              this.countemployee = this.countemployee + el.employee.length
              if (el.dept_name === 'External Auditor') {
                this.chackDashboard = false
              }
            })
          })
          if (this.sourceStaffid.length == 1 && this.sourceStaffid[0]!= 'NULL') {
            this.staffid = this.sourceStaffid[0]
          }else if (this.sourceStaffid.length == 1 && this.sourceStaffid[0]== 'NULL') {
            this.staffid = '-'
          }else {
            this.staffid = this.sourceStaffid[0]
          }

          this.loading = await false
          this.showPage =  await true
        }else {
          this.loading = await false
          this.errorPage = await true
        }
      },
      history(){
        this.$router.push('/back_history/'+this.$route.params.oneid)
      },
      async dashboardGM(){
        this.loading = true
        const sourceTaxidList = {
          oneid : this.id,
          taxid_list : this.taxid_list
        }
        //ส่ง API ไปดึงข้อมูลของ GM
        await this.axios.post(`${process.env.VUE_APP_URL_2}/team_staff`, sourceTaxidList).then(async(response) => {
          await this.$store.commit('updateSourceGM', response.data)
        })
        this.loading = await false
        this.$router.push('/headdashboard/'+this.$route.params.oneid)
      },
      headDashboard(){
        this.$router.push('/company/'+this.$route.params.oneid)
      },
      async dashboard(){
        this.showPage = false
        this.loading = true
        const payload = await this.axios.get(`${process.env.VUE_APP_URL_2}/dashboard_detail`)
        if (payload.status == 200) {
          this.$store.commit('updateSourceEmployee', payload.data)
        }
        this.loading = await false
        this.$router.push('/totaldashboard/'+this.$route.params.oneid)
        this.showPage = true
      },
    },
}
</script>

<style  scoped>
  .bgcolor{
    color: white;
    background-color: #4ea612;
  }

  .btnPrimary {
    color: white;
    background-color: #4ea612 !important;
  }
</style>
