<template lang="html">
  <v-app id="inspire">
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="11" sm="8" md="4">
        <v-row>
          <v-col cols="12" class="bgcolor">
            <h3>ผู้ตอบแบบสอบถาม/ทั้งหมด (คน)</h3>
          </v-col>
          <v-col cols="12">
            <center><h2>{{countPeople}}/{{countPeopleAll}}</h2></center>
          </v-col>
          <v-col cols="12" class="bgcolor">
            <h3>ผู้ตอบแบบสอบถาม (คน)</h3>
          </v-col>
          <v-col cols="12" >
            <v-simple-table height="300px">
              <template v-slot:default>
                <thead>
                  <tr bgcolor="#76DF2F">
                    <th class="text-left">สถานะ</th>
                    <th class="text-center">จำนวนคน</th>
                    <th class="text-center">เปอร์เซ็น</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item in desserts" :key="item.name">
                    <td>
                      <v-icon :color="item.color1">
                        mdi-account
                      </v-icon>
                      <v-icon :color="item.color2">
                        mdi-account
                      </v-icon>
                    </td>
                    <td align="center" justify="center">{{ item.num_people }}</td>
                    <td align="center" justify="center">{{ item.percent }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-col>
          <v-col cols="12" >
            <h4>
              สถานะ
            </h4>
          </v-col>
          <v-col cols="3">
            <v-icon color="#209E11">mdi-account</v-icon><v-icon color="#209E11">mdi-account</v-icon>
          </v-col>
          <v-col cols="9">
            <p class="text">
              ไม่มีความเสี่ยง
            </p>
          </v-col>
          <v-col cols="3">
            <v-icon color="#209E11">mdi-account</v-icon><v-icon color="yellow">mdi-account</v-icon>
          </v-col>
          <v-col cols="9">
            <p class="text">
              มีความใกล้ชิดกับบุคคลที่เดินทางไปยังประเทศกลุ่มเสี่ยง
            </p>
          </v-col>
          <v-col cols="3">
            <v-icon color="yellow">mdi-account</v-icon><v-icon color="yellow">mdi-account</v-icon>
          </v-col>
          <v-col cols="9">
            <p class="text">
              เดินทางไปยังประเทศกลุ่มเสี่ยง
            </p>
          </v-col>
          <v-col cols="3">
            <v-icon color="yellow">mdi-account</v-icon><v-icon color="#F87F05">mdi-account</v-icon>
          </v-col>
          <v-col cols="9">
            <p class="text">
              มีความใกล้ชิดหรือเกี่ยวข้องโดยตรงกับผู้ติดเชื้อ
            </p>
          </v-col>
          <v-col cols="3">
            <v-icon color="#F87F05">mdi-account</v-icon><v-icon color="#F87F05">mdi-account</v-icon>
          </v-col>
          <v-col cols="9">
            <p class="text">
              กลุ่มที่พบว่าเป็นผู้ติดเชื้อ
            </p>
          </v-col>
          <v-col cols="12">
            <v-btn rounded class="elevation-12 bgcolor" block @click="back_to_menu()">กลับหน้าหลัก</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    desserts:[
      {
        color1: '#209E11',
        color2: '#209E11',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: '#209E11',
        color2: 'yellow',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: 'yellow',
        color2: 'yellow',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: '#F87F05',
        color2: 'yellow',
        num_people: 0,
        percent: 0,
        employee: []
      },
      {
        color1: '#F87F05',
        color2: '#F87F05',
        num_people: 0,
        percent: 0,
        employee: []
      },
    ],
    countPeople: 0,
    countPeopleAll: 0
  }),
  computed: {
    ...mapState(['sourceEmployee','HeadDepartment'])
  },
  created(){
    this.countPeople = this.sourceEmployee.result.total.complete_form
    this.countPeopleAll = this.sourceEmployee.result.total.total_form
    this.desserts = [
      {
        color1: '#209E11',
        color2: '#209E11',
        num_people: this.sourceEmployee.result.data.green_green.count,
        percent: this.sourceEmployee.result.data.green_green.percent,
        employee: this.sourceEmployee.result.data.green_green.employee
      },
      {
        color1: '#209E11',
        color2: 'yellow',
        num_people: this.sourceEmployee.result.data.green_yellow.count,
        percent: this.sourceEmployee.result.data.green_yellow.percent,
        employee: this.sourceEmployee.result.data.green_yellow.employee
      },
      {
        color1: 'yellow',
        color2: 'yellow',
        num_people: this.sourceEmployee.result.data.yellow_yellow.count,
        percent: this.sourceEmployee.result.data.yellow_yellow.percent,
        employee: this.sourceEmployee.result.data.yellow_yellow.employee
      },
      {
        color1: '#F87F05',
        color2: 'yellow',
        num_people: this.sourceEmployee.result.data.yellow_orange.count,
        percent: this.sourceEmployee.result.data.yellow_orange.percent,
        employee: this.sourceEmployee.result.data.yellow_orange.employee
      },
      {
        color1: '#F87F05',
        color2: '#F87F05',
        num_people: this.sourceEmployee.result.data.orange_orange.count,
        percent: this.sourceEmployee.result.data.orange_orange.percent,
        employee: this.sourceEmployee.result.data.orange_orange.employee
      },
    ]
  },
  methods: {
    back_to_menu(){
      this.$router.push('/home/'+this.$route.params.oneid)
    },
    totaldashboardDetail () {
      this.$router.push('/totaldashboarddetail/'+this.$route.params.oneid)
      // if (item == '') {
      //   if (this.sourceEmployee.uncomplete.length > 0) {
      //     this.$store.commit('updateDetailDashboard', this.sourceEmployee.uncomplete)
      //     this.$router.push('/totaldashboarddetail/'+this.$route.params.oneid)
      //   }
      // }else {
      //   if (item.employee.length > 0) {
      //     this.$store.commit('updateDetailDashboard', item.employee)
      //     this.$router.push('/totaldashboarddetail/'+this.$route.params.oneid)
      //   }
      // }
    }
  }
}
</script>

<style scoped>
  .bgcolor{
    color: white;
    background-color: #4ea612 !important;
  }

  .centerdiv {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  p.text {
    font-size: 14px;
    text-align: left;
  }

  h4 {
    color: #397511;
    border: 5px solid #76DF2F;
    background-color: #76DF2F;
    font-size: 18px;
  }

  h2{
    border: 5px solid #8FF54B;
    background-color: #8FF54B;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
  }

  p.head {
    color: #397511;
    border: 5px solid #76DF2F;
    background-color: #76DF2F;
    font-size: 18px;
    font-weight: 1000;
  }

</style>
