<template lang="html">
  <v-app id="inspire">
    <v-row
      align="center"
      justify="center"
    >
      <v-col cols="10" sm="8" md="4">
        <v-row>
          <v-col cols="12" >
            <v-simple-table height="500px" :fixed-header="true">
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-center">รูปพนักงาน</th>
                    <th class="text-center">ชื่อ-สกุล</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in desserts" :key="index">
                    <td align="center" justify="center">
                      <v-icon color="green">
                        mdi-account
                      </v-icon>
                      <br>
                      {{ item.staffid }}
                      <br>
                      {{item.nickname}}
                    </td>
                    <td align="left" justify="center">
                      {{ item.name }} {{item.surname}}<br>
                      {{ item.tel }}
                    </td>
                  </tr>
                </tbody>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  @click="editItem(item)"
                >
                  mdi-pencil
                </v-icon>
              </template>
            </v-simple-table>
          </v-col>
          <v-col cols="12">
            <v-btn rounded class="elevation-12 bgcolor" block @click="back_to_dashboard()">ย้อนกลับ</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    headText:'',
    desserts:[],
  }),
  computed: {
    ...mapState(['sourceEmployee','HeadDepartment','detailDashboard'])
  },
  created(){
    this.desserts = this.detailDashboard
  },
  methods: {
    back_to_dashboard(){
      this.$router.push('/totaldashboard/'+this.$route.params.oneid)
    }
  }
}
</script>

<style scoped>
  .bgcolor{
    color: white;
    background-color: #4ea612 !important;
  }

  .table.v-simple-table>thead>tr {
    background-color: #4ea612;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
  }

  .centerdiv {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
</style>
