@font-face {
    font-family: 'cloud_lightlight';
    src: url('font/cloud-light-webfont.eot');
    src: url('font/cloud-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cloud-light-webfont.woff2') format('woff2'),
         url('font/cloud-light-webfont.woff') format('woff'),
         url('font/cloud-light-webfont.ttf') format('truetype'),
         url('font/cloud-light-webfont.svg#cloud_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cloudbold';
    src: url('font/cloud-bold-webfont.eot');
    src: url('font/cloud-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cloud-bold-webfont.woff2') format('woff2'),
         url('font/cloud-bold-webfont.woff') format('woff'),
         url('font/cloud-bold-webfont.ttf') format('truetype'),
         url('font/cloud-bold-webfont.svg#cloudbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: 'THSarabunNew';
    src: url('/static/font/THSarabunNew.ttf') format('truetype');
}
@font-face {
    font-family: 'THSarabunNew Bold';
    src: url('/static/font/THSarabunNew Bold.ttf') format('truetype');
} */

h1, h2, h3, h4, b, .display-1 {
  font-family: 'Roboto' !important;
  font-size: 16px !important;
}
html, body, span, a, .input-group label, .input-group input, .input-group--select, .title, .headline {
  font-family: 'Roboto' !important;
  font-size: 18px !important;
}
th {
  font-family: 'Roboto' !important;
  font-size: 18px !important;
}
td { font-size: 16px !important; }
.input-group--select .input-group__selections__comma { padding:0; }
.input-group.input-group--error .input-group__messages, .input-group__details, .v-messages__message{
  min-height: 16px !important;
  font-size: 14px !important;
}

.hand { cursor: pointer; }
.default { cursor: default; }

.right { float: right; }
.end-y {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.center-y {
  display: flex;
  align-items: center;
  height: 100%;
}
.center-x {
  display: flex;
  justify-content: center;
  width: 100%;
}
.v-input--switch .v-input--selection-controls__input {
    width: 38px;
    margin: auto;
}
.h-center {
  display: flex;
  align-items: center;
}
.end-x {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.w-center {
  display: flex;
  justify-content: center;
}
.h-100 { height: 100% !important; }
.w-100 { width: 100% !important; }
.noshadow { box-shadow: none !important; }

.btn-w-100 {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}
.btn-submit {
  margin-right: 0 !important;
}
.application .theme--light.v-input--is-disabled .v-label, .application .theme--light.v-input--is-disabled input, .application .theme--light.v-input--is-disabled textarea, .theme--light .v-input--is-disabled .v-label, .theme--light .v-input--is-disabled input, .theme--light .v-input--is-disabled textarea {
    color: #000 !important;
}
.v-input .v-input--selection-controls .v-input--radio-group .v-input--radio-group--column .v-input--hide-details .v-input--is-label-active .v-input--is-dirty {
  color: #000 !important;
}
.application .theme--light.v-select .v-chip--disabled, .application .theme--light.v-select.v-input--is-disabled .v-select__selections, .application .theme--light.v-select .v-select__selection--disabled, .theme--light .v-select .v-chip--disabled, .theme--light .v-select.v-input--is-disabled .v-select__selections, .theme--light .v-select .v-select__selection--disabled {
    color: #000 !important;
}

.application .theme--light.v-radio--is-disabled label, .theme--light .v-radio--is-disabled label {
    color: rgba(0,0,0,0.9)!important;;
}
.application .theme--light.v-radio--is-disabled .v-icon, .theme--light .v-radio--is-disabled .v-icon {
    color: rgba(0,0,0,0.5)!important;
}
.application .theme--light.v-input--selection-controls.v-input--is-disabled .v-icon, .theme--light .v-input--selection-controls.v-input--is-disabled .v-icon {
    color: rgba(0,0,0,0.5)!important;
}

/* .dialog { box-shadow: none !important; } */
/* .theme--light .v-input--is-disabled input{
  color :black !important
} */
/* .application .theme--light.v-text-field.v-input--is-disabled .v-input__slot:before, .theme--light .v-text-field.v-input--is-disabled .v-input__slot:before {
    background-image: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 33%,transparent 0);
} */
.theme--light .v-tabs__bar {
  /* background-color: #4390bc !important; */
  background-color: #56B4D3 !important;
}
.theme--light .v-tabs__bar .v-tabs__div {
  color:white !important;
}
.v-tabs__bar {
    /* background-color: #4390bc !important; */
    background-color: #56B4D3 !important;
}
.login-header-color {
  /* background-color: #4390bc !important; */
  background-color: #56B4D3 !important;
  color: white !important;
}

.btn-login {
  /* background-color:#4390bc !important; */
  background-color: #56B4D3 !important;
  color: white !important;
}
p {
    margin-bottom: 5px !important;
}


/* table.toothTEMP { margin: 5px } */
table.toothTEMP td:hover { cursor: default; }
table.tooth td:hover {
  background-color: #EEE;
  cursor: pointer;
}
table td.active { background-color: #b1c2e7; }
@media only screen and (max-width: 599px) {
  table.tooth td, table.toothTEMP td {
    font-size: 12px !important;
  }
}
