<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialogEmpKpiTransfer"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-toolbar
        dark
        color="green"
        style="position: fixed;top:0%;overflow-y: scroll;z-index:1;height:60px"
      >
        <v-btn icon dark @click="closeEmpKpiDialogTransfer">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        <v-card-title>ผู้รับสิทธิ์การประเมิน</v-card-title>
      </v-toolbar>
      <v-card style="position: relative;top:60px;overflow-y: scroll">
        <v-form ref="formDialogTransfer" lazy-validation>
          <v-list three-line subheader>
            <v-list-item>
              <v-autocomplete
                v-model="selectedId"
                :items="employeeListsId"
                :rules="employeeIdRules"
                class="mt-6"
                style="font-size: 22px !important;"
                outlined
                label="รหัสพนักงาน"
                @change="checkEmployee"
              ></v-autocomplete>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-list three-line subheader>
            <v-subheader>ข้อมูลผู้รับสิทธิ์การประเมิน</v-subheader>
            <v-list-item>
              <v-list-item-content style="padding:0px">
                <v-list-item-title>บริษัท</v-list-item-title>
                <v-list-item-subtitle
                  ><v-text-field
                    v-model="company"
                    solo
                    placeholder="บริษัท"
                    readonly
                    outlined
                  ></v-text-field
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content style="padding:0px">
                <v-list-item-title>ชื่อ-นามสกุล</v-list-item-title>
                <v-list-item-subtitle
                  ><v-text-field
                    v-model="name"
                    solo
                    placeholder="ชื่อ-นามสกุล"
                    readonly
                    outlined
                  ></v-text-field
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content style="padding:0px">
                <v-list-item-title>อีเมลล์</v-list-item-title>
                <v-list-item-subtitle
                  ><v-text-field
                    v-model="email"
                    solo
                    placeholder="อีเมลล์"
                    readonly
                    outlined
                  ></v-text-field
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content style="padding:0px">
                <v-list-item-title>ฝ่ายงาน</v-list-item-title>
                <v-list-item-subtitle
                  ><v-text-field
                    v-model="orgName"
                    solo
                    placeholder="ฝ่ายงาน"
                    readonly
                    outlined
                  ></v-text-field
                ></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-form>
        <v-card-actions>
          <v-btn
            block
            style="bottom:3%;"
            color="green darken-1"
            large
            dark
            @click="transferEmpKpi"
            :loading="loading"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <loadingPage ref="loadingPage"></loadingPage>
  </v-row>
</template>

<script>
import loadingPage from '../../views/LoadingPage';
import api from '../../service/index.js';
import { mapState } from 'vuex';
import { eventBus } from '../../main.js';

export default {
  data() {
    return {
      comment_cancel: '',
      employeeIdRules: [v => !!v || 'กรุณาใส่รหัสพนักงานผู้รับสิทธิ์'],
      name: '',
      company: '',
      email: '',
      orgName: '',
      selectedId: '',
      selectedEmployee: {},
      employeeListsId: [],
      employeeLists: [],
      loading: false
    };
  },
  components: {
    loadingPage
  },
  created() {
    this.QueryEmployeeLists();
  },
  computed: {
    ...mapState(['sourceCancelEmpKpi', 'employeeInfo', 'employeeId']),
    dialogEmpKpiTransfer: {
      get() {
        return this.$store.state.dialogEmpKpiTransfer;
      },
      set(value) {
        this.$refs.formDialogTransfer.reset();
        this.$store.commit('updateDialogTransferEmpKpi', value);
      }
    }
  },
  methods: {
    cancelEmpTransfer() {
      this.$refs.formDialogTransfer.reset();
      this.$store.commit('updateDialogTransferEmpKpi', false);
    },
    async QueryEmployeeLists() {
      let apiResult = await api.getAllEmployee();
      apiResult.data.forEach(employee => {
        this.employeeLists.push(employee);
        this.employeeListsId.push(employee.employeeid);
      });
    },
    checkEmployee() {
      this.employeeLists.filter(employee => {
        if (employee.employeeid === this.selectedId) {
          this.selectedEmployee = employee;
          this.company = employee.companyname;
          this.name = `${employee.name_th} ${employee.surname_th}`;
          this.email = employee.email;
          this.orgName = employee.org_name_detail;
        }
      });
    },
    async transferEmpKpi() {
      if (this.$refs.formDialogTransfer.validate()) {
        let func = { func: this.transferKpi };
        this.$refs.loadingPage.openDialog(
          'โอนสิทธิ์ประเมิน',
          `คุณต้องการโอนสิทธิ์ประเมินไปให้ ${this.selectedEmployee.name_th} ${this.selectedEmployee.surname_th} ใช่หรือไม่`,
          'alert',
          func
        );
      } else {
        let func = { func: this.empty };
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณากรอกข้อมูลให้ครบถ้วน',
          'error',
          func
        );
      }
    },
    async transferKpi() {
      this.loading = true;
      let source = {
        year: this.employeeInfo.year,
        term: this.employeeInfo.term,
        employeeid: this.employeeInfo.employeeid,
        employeeid_new: this.selectedId,
        companyid: this.selectedEmployee.companyid,
        name_asp: this.selectedEmployee.name_th,
        surname_asp: this.selectedEmployee.surname_th,
        email_asp: this.selectedEmployee.email,
        org_name_id: this.selectedEmployee.org_name_id,
        position_id: this.selectedEmployee.position_id,
        position_detail: this.selectedEmployee.position_detail,
        createby: this.employeeId
      };
      let statusData = await api.transferKpi({ source: source });
      this.loading = false;
      this.$refs.formDialogTransfer.reset();
      let func = { func: this.test };
      if (statusData.data === 'Success') {
        this.$refs.loadingPage.openDialog(
          'สำเร็จ',
          'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
          'success',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณาลองใหม่อีกครั้งภายหลัง หรือติดต่อ HR',
          'error'
        );
      }
    },
    test() {
      eventBus.$emit('getAllEmployeeListsKpi');
      this.$store.commit('updateDialogTransferEmpKpi', false);
    },
    empty() {},
    closeEmpKpiDialogTransfer() {
      this.dialogEmpKpiTransfer = false;
      this.$store.commit('updateSnackbar', true);
    }
  }
};
</script>
