<template lang="html">
  <v-form>
    <v-container grid-list-xs,sm,md,lg,xl>
      <v-card outlined>
        <v-container grid-list-xs,sm,md,lg,xl>
          <v-row row wrap xs12>
            <v-spacer></v-spacer>
            <v-col xs3 elevation-6 class="bd-8">
              <v-card class="bd-8">
                <v-card-text>
                  <p
                    class="text-xs-center fb-18"
                    style="margin-bottom: 0px !important;"
                  >
                    เกรดที่ได้รับ
                  </p>
                  <v-divider></v-divider>
                  <div class="text-xs-center">
                    <span class="mt-2 GradeHeader">{{
                      employeeInfo.grade
                    }}</span>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
          <v-row row wrap xs12>
            <v-col
              xs12
              pb-4
              text-lg-center
              style="display: flex;align-items: center;justify-content: center;"
            >
              <div
                class="elevation-7"
                style="display: flex; align-items: center; justify-content: center;"
              >
                <img
                  v-if="employeeInfo.employeeid"
                  :src="`http://203.150.37.130:7000/getImage/${employeeInfo.employeeid}`"
                  class="imageProfileSize"
                />
              </div>
            </v-col>

            <v-container row wrap mt-3>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">ชื่อ-สกุล :</span>
                  {{ employeeInfo.newName }}
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10"  v-if="this.employeeInfo.old_grade_GM != null">
                  <span class="f-bold">เกรดปัจจุบัน :</span>
                  {{ employeeInfo.old_grade_GM }}
                </p>
                <p class="textfield-pad-lr-10" v-else>
                  <span class="f-bold">เกรดปัจจุบัน :</span>
                  {{ employeeInfo.old_grade }}
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">รหัสพนักงาน :</span>
                  {{ employeeInfo.employeeid }}
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">อายุงาน :</span>
                  {{ employeeInfo.work_year }} ปี
                  {{ employeeInfo.work_month }} เดือน
                  {{ employeeInfo.work_date }} วัน
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">ตำแหน่ง :</span>
                  {{ employeeInfo.position_detail }}
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">ฝ่าย :</span>
                  {{ employeeInfo.org_name_detail }}
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p
                  v-if="employeeInfo.status !== 'noAction'"
                  class="textfield-pad-lr-10"
                >
                  <span class="f-bold">สถานะการประเมิน :</span>
                  {{ employeeInfo.status }}
                </p>
                <p v-else class="textfield-pad-lr-10">
                  <span class="f-bold">สถานะการประเมิน :</span> -
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">รอบการประเมิน :</span>
                  {{ employeeInfo.newYearTerm }}
                </p>
              </v-flex>
            </v-container>
          </v-row>
        </v-container>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
import { mapState } from 'vuex';
export default {
  data() {
    return {};
  },
  computed: {
    ...mapState(['employeeInfo'])
  }
};
</script>

<style scoped lang="css">
.imageProfileSize {
  width: 177px;
  height: 236px;
}
.bd-8 {
  border-radius: 8px;
}
.hideText {
  display: none;
}
.fontColorRed {
  color: red;
}
.fontColorGreen {
  color: green;
}
.dialogTextDecroRed {
  color: red;
  text-decoration: underline;
}
.gradeDecoration {
  font-size: 26px !important;
  font-family: 'cloudbold' !important;
  color: #5ebb2b !important;
}
.hide {
  display: none;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
.f-bold {
  font-family: 'cloudbold' !important;
  font-size: 18px !important;
}
.f-head {
  font-family: 'cloudbold' !important;
  font-size: 24px !important;
}
.fb-18 {
  font-size: 18px !important;
}
.imgKpi {
  width: 100%;
  height: 100%;
}
.textfield-pad-lr-10 {
  padding: 0px 10px 0px 10px !important;
}
.GradeHeader {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 35px !important;
}
.bd-8 {
  border-radius: 8px;
}
.fb-24 {
  font-weight: bold;
  font-size: 24px;
}
.border-top-rad-7 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.imageProfileSize {
  width: 177px;
  height: 236px;
}
.primary {
  background-color: #5ebb2b !important;
}
.header {
  font-size: 20px !important;
}
.bg-white {
  background-color: white;
}
.v-subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.btncenter {
  justify-content: center;
}
@media only screen and (max-width: 960px) {
  .v-subheader.top {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .v-subheader.center {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
@media only screen and (min-width: 961px) {
  .v-subheader.center {
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .v-subheader.top {
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
.spacing {
  margin-top: -10px;
}
.mt-15 {
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details {
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25 {
  margin-top: -25px;
}

.m-t-5 {
  margin-top: -5px;
}

.input-group label {
  margin-top: 2rem;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}
.center {
  justify-content: center;
}

/* Modal Zoom */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height: 90%;
  max-width: 1200px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 0px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px !important;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
</style>
