<template lang="html">
  <v-form ref="form" v-if="dialogEmpKpiForm">
    <v-snackbar
      v-model="snackbar"
      style="margin-top:12%"
      top
      right
      :timeout="timeout"
      :color="colorSnackbar"
    >
      <v-icon color="white" style="margin-right: 8px;">mdi-alert-circle</v-icon>
      {{ text }}
      <v-btn dark text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
    <v-container grid-list-xs,sm,md,lg,xl>
      <v-card outlined>
        <v-toolbar color="green" dark class="border-top-rad-7">
          <v-toolbar-title class="w-100 left header"
            >แบบประเมิน KPI สำหรับหัวหน้างาน</v-toolbar-title
          >
        </v-toolbar>
        <v-container grid-list-xs,sm,md,lg,xl>
          <v-container
            grid-list-xs,sm,md,lg,xl
            style="border: 1px solid #FFB300; border-radius: 15px;padding: 10px"
            v-for="(item, index) in portfolioLists"
            :key="index"
          >
            <v-col>
              <v-btn color="primary" outlined>
                <li>ผลงานที่ {{ index + 1 }}</li>
              </v-btn>
            </v-col>
            <v-col
              xs6
              text-xs-right
              v-if="portfolioLists.length > 1 && !viewMode"
            >
              <v-btn
                style="color: #E53935;"
                outlined
                @click="removePortfolio(index)"
              >
                <v-icon class="pr-1">mdi-minus</v-icon>ลบผลงาน
              </v-btn>
            </v-col>
            <v-col xs12 px-2 pt-3>
              <v-textarea
                :disabled="viewMode || employeeInfo.validstatus === 5"
                outlined
                label="ผลงานที่คาดหวัง"
                v-model="item.expectedPortfolio"
                required
                :rules="ExpectedPortfolioRules"
                hide-actions
              ></v-textarea>
            </v-col>
            <v-col xs4 px-2>
              <v-select
                :disabled="viewMode || employeeInfo.validstatus === 5"
                v-model="item.ExpectedLevel"
                :items="itemsExpectedLevel"
                item-text="text"
                item-value="text"
                label="ระดับความคาดหวัง"
                @change="compareGrade(item)"
                required
                :rules="ExpectedLevelRules"
              ></v-select>
            </v-col>
            <v-col xs4 px-2>
              <v-select
                :disabled="viewMode || employeeInfo.validstatus === 5"
                v-model="item.CanDoLevel"
                :items="itemsCanDoLevel"
                item-text="text"
                item-value="text"
                label="ระดับผลงานที่ทำได้จริง"
                @change="compareGrade(item)"
                required
                :rules="CanDoLevelRules"
              ></v-select>
            </v-col>
            <v-col xs4 px-2>
              <v-select
                v-model="item.summaryLevel"
                :items="itemsGradePoint"
                item-text="text"
                item-value="pointLevel"
                label="สรุปผลการประเมิน"
                @change="checkPointWithComment(item)"
                disabled
                append-icon
              ></v-select>
              <p>{{ item.itemsGradePoint }}</p>
            </v-col>
            <v-col xs6 px-2>
              <v-text-field
                :disabled="viewMode || employeeInfo.validstatus === 5"
                v-model="item.weightPortfolio"
                label="น้ำหนัก(คะแนน)"
                @input="sumPointWithWeight(item)"
                required
                :rules="gradeWeightRules"
                :maxlength="max"
                append-icon="mdi-alert-circle"
              ></v-text-field>
            </v-col>
            <v-col
              v-if="
                item.summaryLevel == 4 ||
                  item.summaryLevel == 4.5 ||
                  item.summaryLevel == 5
              "
              xs6
              px-2
            >
              <v-textarea
                :disabled="viewMode || employeeInfo.validstatus === 5"
                outlined
                v-model="item.commentLevel_B_Up"
                label="ผลงานที่ทำได้จริง (เฉพาะ A และ B)"
              ></v-textarea>
            </v-col>
          </v-container>
          <v-col>
            <v-btn
              @click="addPortfolio"
              color="primary"
              v-if="!viewMode && employeeInfo.validstatus !== 5"
              >เพิ่มผลงานใหม่</v-btn
            >
          </v-col>
          <v-container>
            <v-layout row wrap>
              <v-flex xs12 pb-3 pt-3>
                <p class>
                  <span class="f-head">รวมคะแนน</span>
                </p>
                <div class="underlineHeader"></div>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">รวมคะแนนที่ได้ : {{ totalGrade }} </span>
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold"
                    >รวมคะแนนที่ได้ (%) :{{ totalGradePercent }}</span
                  >
                </p>
              </v-flex>
              <br />
              <br />

              <v-flex xs12 pb-3>
                <p class>
                  <span class="f-head">สรุปผลการประเมิน</span>
                </p>
                <div class="underlineHeader"></div>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold"
                    >โครงสร้างเงินเดือน : {{ structureSalary }}
                  </span>
                </p>
              </v-flex>
              <v-flex xs12 md6>
                <p class="textfield-pad-lr-10">
                  <span class="f-bold">
                    สรุปผลการประเมินประจำปี :
                    <span class="gradeDecoration" v-if="this.employeeInfo.old_grade_GM !== null">
                      {{ employeeInfo.old_grade_GM }}
                    </span>
                    <span class="gradeDecoration" v-else>
                      {{ gradeCanDoAndStructureSalary }}
                    </span>
                  </span>
                </p>
              </v-flex>
            </v-layout>

            <v-layout row wrap>
              <v-flex xs12 pt-3>
                <p class>
                  <span class="f-head">ประเมินการปรับตำแหน่งพนักงาน</span>
                </p>
                <div class="underlineHeader"></div>
              </v-flex>
              <v-flex xs12 class="textfield-pad-lr-10">
                <v-radio-group
                  :disabled="viewMode || employeeInfo.validstatus === 5"
                  v-model="changePositionOrBet"
                  :mandatory="false"
                  :rules="changePositionOrBetRules"
                  required
                >
                  <v-radio
                    color="primary"
                    label="ไม่ปรับตำแหน่ง"
                    value="noAction"
                  ></v-radio>
                  <v-radio
                    color="primary"
                    label="ปรับตำแหน่ง"
                    value="changePosition"
                  ></v-radio>
                  <v-radio color="primary" label="Bet" value="Bet"></v-radio>
                </v-radio-group>
              </v-flex>
              <v-layout
                row
                wrap
                v-if="
                  this.changePositionOrBet === 'Bet' ||
                    this.changePositionOrBet === 'changePosition'
                "
              >
                <v-flex xs12 px-3>
                  <v-autocomplete
                    :disabled="viewMode || employeeInfo.validstatus === 5"
                    outlined
                    :items="betPeriod"
                    v-model="betPeriodValue"
                    label="ระยะเวลาในการ Bet"
                    item-text="text"
                    item-value="value"
                    v-if="this.changePositionOrBet === 'Bet'"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 px-3>
                  <v-autocomplete
                    :disabled="viewMode || employeeInfo.validstatus === 5"
                    outlined
                    :items="positionLists"
                    v-model="positionChange"
                    label="ตำแหน่งที่ต้องการปรับ"
                    item-text="position_detail"
                    item-value="position_id"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 px-3>
                  <v-textarea
                    :disabled="viewMode || employeeInfo.validstatus === 5"
                    outlined
                    label="KPI ใหม่สำหรับการปรับตำแหน่ง"
                    textarea
                    v-model="newKpiDescriptions"
                  ></v-textarea>
                </v-flex>
              </v-layout>
              <v-row>
                <v-col cols="12" justify="center" align="center">
                  <v-btn
                    v-if="!viewMode && employeeInfo.validstatus !== 5"
                    color="green"
                    dark
                    @click="savePortfolio"
                    >บันทึกข้อมูล</v-btn
                  >
                </v-col>
              </v-row>
            </v-layout>
          </v-container>
        </v-container>
      </v-card>
    </v-container>
    <loadingPage ref="loadingPage"></loadingPage>
  </v-form>
</template>

<script>
import { mapState } from 'vuex';
import loadingPage from '../../../views/LoadingPage';
import api from '../../../service/index.js';
import { eventBus } from '../../../main.js';
export default {
  data: () => ({
    ExpectedPortfolioRules: [v => !!v || 'กรุณากรอกผลงานที่คาดหวัง'],
    itemsExpectedLevel: [
      { text: 'A', pointLevel: 80 },
      { text: 'B', pointLevel: 70 },
      { text: 'C', pointLevel: 60 }
    ],
    itemsCanDoLevel: [
      { text: 'A', pointLevel: 80 },
      { text: 'B+', pointLevel: 75 },
      { text: 'B', pointLevel: 70 },
      { text: 'C+', pointLevel: 65 },
      { text: 'C', pointLevel: 60 },
      { text: 'D+', pointLevel: 55 },
      { text: 'D', pointLevel: 50 },
      { text: 'E', pointLevel: 40 }
    ],
    itemsGradePoint: [
      { text: 'A', pointLevel: 5 },
      { text: 'B+', pointLevel: 4.5 },
      { text: 'B', pointLevel: 4 },
      { text: 'C+', pointLevel: 3.5 },
      { text: 'C', pointLevel: 3 },
      { text: 'D+', pointLevel: 2.5 },
      { text: 'D', pointLevel: 2 },
      { text: 'E', pointLevel: 1.5 }
    ],
    ExpectedLevelRules: [v => !!v || 'กรุณาเลือกระดับความคาดหวัง'],
    CanDoLevelRules: [v => !!v || 'กรุณาเลือกระดับผลงานที่ทำได้'],
    gradeWeightRules: [
      v => !!v || 'กรุณากรอกน้ำหนัก(คะแนน)',
      v => /^([0-9])+$/.test(v) || 'กรุณากรอกเป็นตัวเลข และไม่มีทศนิยม'
    ],
    max: 3,
    snackbar: false,
    text: '',
    colorSnackbar: '',
    timeout: 6000,
    totalGrade: 0,
    CheckTotalPoint_raw: 0,
    CheckTotalPoint: 0,
    totalGradeNotPercent: 0,
    totalGradePercent: 0,
    gradeCanDoAndStructureSalary: '',
    gradeCanDoAndStructureSalaryPercent: 0,
    changePositionOrBetRules: [
      v => !!v || 'กรุณาเลือกการประเมินปรับตำแหน่งพนักงาน'
    ],
    specialMoney: null,
    specialMoneyRules: [
      v => /^([0-9])+$/.test(v) || 'กรุณากรอกเป็นตัวเลขเท่านั้น'
    ],
    betPeriod: [
      { text: '6 เดือน', value: '6 เดือน' },
      { text: '12 เดือน', value: '12 เดือน' }
    ]
  }),
  components: {
    loadingPage
  },
  computed: {
    ...mapState([
      'positionLists',
      'employeeInfo',
      'isEditPortfolioLists',
      'viewMode',
      'isLeader',
      'updateDialogEmpKpiForm'
    ]),
    structureSalary: {
      get() {
        return this.$store.state.employeeInfo.structure_salary;
      }
    },
    changePositionOrBet: {
      get() {
        return this.$store.state.employeeInfo.status;
      },
      set(value) {
        this.clearData();
        let employeeInfo = { ...this.$store.state.employeeInfo, status: value };
        this.$store.commit('updateEmployeeInfo', employeeInfo);
      }
    },
    betPeriodValue: {
      get() {
        return this.$store.state.employeeInfo.date_bet;
      },
      set(value) {
        let employeeInfo = {
          ...this.$store.state.employeeInfo,
          date_bet: value
        };
        this.$store.commit('updateEmployeeInfo', employeeInfo);
      }
    },
    positionChange: {
      get() {
        return parseInt(this.$store.state.employeeInfo.positionChange);
      },
      set(value) {
        let employeeInfo = {
          ...this.$store.state.employeeInfo,
          positionChange: value
        };
        this.$store.commit('updateEmployeeInfo', employeeInfo);
      }
    },
    newKpiDescriptions: {
      get() {
        return this.$store.state.employeeInfo.newKpiDescriptions;
      },
      set(value) {
        let employeeInfo = {
          ...this.$store.state.employeeInfo,
          newKpiDescriptions: value
        };
        this.$store.commit('updateEmployeeInfo', employeeInfo);
      }
    },
    portfolioLists: {
      get() {
        return this.$store.state.portfolioLists;
      },
      set(value) {
        this.$store.commit('updatePortfolioLists', value);
      }
    },
    dialogEmpKpiForm: {
      get() {
        if (
          this.$store.state.dialogEmpKpiForm == false &&
          this.portfolioLists.length < 1
        ) {
          if (typeof this.$refs.form !== 'undefined') {
            this.$refs.form.reset();
          }
        }
        return this.$store.state.dialogEmpKpiForm;
      }
    }
  },
  created() {
    eventBus.$on('sumGradePercent', this.sumGradePercent);
    eventBus.$emit('sumGradePercent');
  },
  methods: {
    addPortfolio() {
      this.portfolioLists.push({
        expectedPortfolio: '',
        ExpectedLevel: '',
        CanDoLevel: '',
        summaryLevel: '',
        weightPortfolio: '',
        totalPoint: '',
        commentLevel_B_Up: ''
      });
    },
    removePortfolio(index) {
      this.portfolioLists.splice(index, 1);
      this.sumGradePercent();
    },
    clearData() {
      this.positionChange = null;
      this.betPeriodValue = null;
      this.newKpiDescriptions = null;
    },
    compareGrade(subItem) {
      this.subItem = subItem;
      var ExpectedLevel = this.subItem.ExpectedLevel;
      var CanDoLevel = this.subItem.CanDoLevel;

      if (CanDoLevel === 'A' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 5;
      } else if (CanDoLevel === 'A' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 4.5;
      } else if (CanDoLevel === 'A' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 4;
      } else if (CanDoLevel === 'B+' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 4.5;
      } else if (CanDoLevel === 'B+' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 4.5;
      } else if (CanDoLevel === 'B+' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 4;
      } else if (CanDoLevel === 'B' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 4;
      } else if (CanDoLevel === 'B' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 4;
      } else if (CanDoLevel === 'B' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 3.5;
      } else if (CanDoLevel === 'C+' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 3.5;
      } else if (CanDoLevel === 'C+' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 3.5;
      } else if (CanDoLevel === 'C+' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 3.5;
      } else if (CanDoLevel === 'C' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 3;
      } else if (CanDoLevel === 'C' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 3;
      } else if (CanDoLevel === 'C' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 3;
      } else if (CanDoLevel === 'D+' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 2.5;
      } else if (CanDoLevel === 'D+' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 2.5;
      } else if (CanDoLevel === 'D+' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 2.5;
      } else if (CanDoLevel === 'D' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 2;
      } else if (CanDoLevel === 'D' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 2;
      } else if (CanDoLevel === 'D' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 2;
      } else if (CanDoLevel === 'E' && ExpectedLevel === 'A') {
        this.subItem.summaryLevel = 1.5;
      } else if (CanDoLevel === 'E' && ExpectedLevel === 'B') {
        this.subItem.summaryLevel = 1.5;
      } else if (CanDoLevel === 'E' && ExpectedLevel === 'C') {
        this.subItem.summaryLevel = 1.5;
      }

      for (var i = 0; i < this.portfolioLists.length; i++) {
        if (this.portfolioLists[i].weightPortfolio) {
          this.portfolioLists[i].totalPoint =
            parseFloat(this.portfolioLists[i].summaryLevel) *
            parseInt(this.portfolioLists[i].weightPortfolio);
          this.sumGradePercent();
        } else {
          this.portfolioLists[i].totalPoint = '';
        }
      }
    },
    sumPointWithWeight(item) {
      this.subItem = item;
      this.summaryLevel = parseFloat(this.subItem.summaryLevel);
      this.weightPortfolio = parseInt(this.subItem.weightPortfolio);
      if (this.weightPortfolio) {
        this.subItem.totalPoint = this.summaryLevel * this.weightPortfolio;
      } else {
        this.subItem.totalPoint = '';
      }

      this.sumGradePercent();
    },
    sumGradePercent() {
      this.totalGrade = 0;
      this.CheckTotalPoint_raw = 0;
      this.CheckTotalPoint = 0;
      this.totalGradeNotPercent = 0;
      this.totalGradePercent = 0;
      var maxGradePoint = 5;
      for (var i = 0; i < this.portfolioLists.length; i++) {
        if (this.portfolioLists[i].weightPortfolio !== '') {
          this.totalGrade += parseInt(this.portfolioLists[i].weightPortfolio);
          this.CheckTotalPoint_raw += parseInt(
            this.portfolioLists[i].weightPortfolio
          );
        }
        if (this.portfolioLists[i].totalPoint !== '') {
          this.totalGradeNotPercent += parseInt(
            this.portfolioLists[i].totalPoint
          );
          this.totalGradePercent = (
            (parseInt(this.totalGradeNotPercent) * 100) /
            maxGradePoint /
            100
          ).toFixed(0);
        }
      }
      this.CheckTotalPoint = 100 - parseInt(this.CheckTotalPoint_raw);

      if (this.totalGrade < 0) {
        this.text = 'กรุณากรอกคะแนนให้ครบ 100 คะแนน';
        this.colorSnackbar = 'warning';
        this.snackbar = true;
      } else if (this.totalGrade < 100) {
        this.text = 'กรุณากรอกคะแนนให้ครบ 100 คะแนน';
        this.colorSnackbar = 'warning';
        this.snackbar = true;
      } else if (this.totalGrade > 100) {
        this.text = 'กรุณากรอกคะแนนไม่เกิน 100 คะแนน';
        this.colorSnackbar = 'warning';
        this.snackbar = true;
      } else if (this.totalGrade === 100) {
        this.text = 'คะแนนครบ 100 คะแนนแล้ว';
        this.colorSnackbar = 'success';
        this.snackbar = true;
      }

      if (this.totalGradePercent) {
        if (this.totalGradePercent >= 80 && this.totalGradePercent <= 100) {
          this.gradeWithExpectedAndCanDo = 'A';
        } else if (
          this.totalGradePercent >= 75 &&
          this.totalGradePercent < 80
        ) {
          this.gradeWithExpectedAndCanDo = 'B+';
        } else if (
          this.totalGradePercent >= 70 &&
          this.totalGradePercent < 75
        ) {
          this.gradeWithExpectedAndCanDo = 'B';
        } else if (
          this.totalGradePercent >= 65 &&
          this.totalGradePercent < 70
        ) {
          this.gradeWithExpectedAndCanDo = 'C+';
        } else if (
          this.totalGradePercent >= 60 &&
          this.totalGradePercent < 65
        ) {
          this.gradeWithExpectedAndCanDo = 'C';
        } else if (
          this.totalGradePercent >= 55 &&
          this.totalGradePercent < 60
        ) {
          this.gradeWithExpectedAndCanDo = 'D+';
        } else if (
          this.totalGradePercent >= 50 &&
          this.totalGradePercent < 55
        ) {
          this.gradeWithExpectedAndCanDo = 'D';
        } else if (this.totalGradePercent >= 0 && this.totalGradePercent < 50) {
          this.gradeWithExpectedAndCanDo = 'E';
        }
      } else {
        this.gradeWithExpectedAndCanDo = '';
      }

      if (this.gradeWithExpectedAndCanDo) {
        if (
          this.gradeWithExpectedAndCanDo === 'A' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'A';
        } else if (
          this.gradeWithExpectedAndCanDo === 'A' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'A';
        } else if (
          this.gradeWithExpectedAndCanDo === 'A' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'A';
        } else if (
          this.gradeWithExpectedAndCanDo === 'A' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'A';
        } else if (
          this.gradeWithExpectedAndCanDo === 'A' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'A';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B+' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'B';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B+' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'B';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B+' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'B';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B+' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'B+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B+' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'B+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'C+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'C+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'C+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'B';
        } else if (
          this.gradeWithExpectedAndCanDo === 'B' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'B';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C+' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'C';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C+' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'C';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C+' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'C';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C+' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'C+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C+' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'C+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'D+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'D+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'D+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'C';
        } else if (
          this.gradeWithExpectedAndCanDo === 'C' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'C';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D+' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'D';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D+' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'D';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D+' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'D';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D+' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'D+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D+' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'D+';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'D';
        } else if (
          this.gradeWithExpectedAndCanDo === 'D' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'D';
        } else if (
          this.gradeWithExpectedAndCanDo === 'E' &&
          this.structureSalary === 'L5'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        } else if (
          this.gradeWithExpectedAndCanDo === 'E' &&
          this.structureSalary === 'L4'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        } else if (
          this.gradeWithExpectedAndCanDo === 'E' &&
          this.structureSalary === 'L3'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        } else if (
          this.gradeWithExpectedAndCanDo === 'E' &&
          this.structureSalary === 'L2'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        } else if (
          this.gradeWithExpectedAndCanDo === 'E' &&
          this.structureSalary === 'L1'
        ) {
          this.gradeCanDoAndStructureSalary = 'E';
        }
      } else if (this.gradeWithExpectedAndCanDo === '') {
        this.gradeCanDoAndStructureSalary = '';
      }
    },
    savePortfolio() {
      let func = { func: this.sendPortfolio };

      if (this.$refs.form.validate()) {
        this.$refs.loadingPage.openDialog(
          'คุณต้องการส่งแบบประเมินหรือไม่',
          `ชื่อ-สกุลพนักงาน : ${this.employeeInfo.newName}`,
          'alert',
          func
        );
      } else {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณากรอกข้อมูลให้ครบถ้วน',
          'error'
        );
      }
    },
    async sendPortfolio() {
      if (this.totalGrade < 100) {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณากรอกคะแนนให้ครบ 100 คะแนน',
          'error'
        );
      } else if (this.totalGrade > 100) {
        this.$refs.loadingPage.openDialog(
          'ไม่สำเร็จ',
          'กรุณากรอกคะแนนไม่เกิน 100 คะแนน',
          'error'
        );
      } else if (this.totalGrade === 100) {
        var source = {
          employeeid: this.employeeInfo.employeeid,
          year: this.employeeInfo.year,
          term: this.employeeInfo.term,
          portfolioLists: this.portfolioLists,
          totalGrade: this.totalGrade,
          totalGradePercent: this.totalGradePercent,
          gradeCompareWithPoint: this.gradeWithExpectedAndCanDo,
          oldgrade: this.gradeCanDoAndStructureSalary,
          date_bet: this.betPeriodValue,
          status: this.changePositionOrBet,
          positionChange: this.positionChange,
          specialMoney: this.specialMoney,
          newKpiDescriptions: this.newKpiDescriptions,
          createby: this.employeeInfo.em_id_leader
        };
        var apiResult = null;
        if (this.isEditPortfolioLists) {
          apiResult = await api.editProjectKpi({ source: source });
        } else {
          apiResult = await api.addProjectKpi({ source: source });
        }
        let func = { func: this.test };

        if (apiResult.data === 'Success') {
          this.$refs.loadingPage.openDialog(
            'สำเร็จ',
            'บันทีกข้อมูลสำเร็จเรียบร้อยแล้ว',
            'success',
            func
          );
          // eventBus.$emit('getAllEmployeeListsKpi');
          // this.$store.commit('updateDialogEmpKpiForm', false);
        } else {
          this.$refs.loadingPage.openDialog(
            'ไม่สำเร็จ',
            'กรุณาลองใหม่อีกครั้งภายหลัง',
            'error',
            func
          );
        }
      }
    },
    test() {
      this.$store.commit('updateDialogEmpKpiForm', false);
      eventBus.$emit('getAllEmployeeListsKpi');
    }
  }
};
</script>

<style scoped lang="css">
.hideText {
  display: none;
}
.fontColorRed {
  color: red;
}
.fontColorGreen {
  color: green;
}
.dialogTextDecroRed {
  color: red;
  text-decoration: underline;
}
.gradeDecoration {
  font-size: 26px !important;
  font-family: 'cloudbold' !important;
  color: #5ebb2b !important;
}
.hide {
  display: none;
}
.underlineHeader {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin: 0.2rem 0;
}
.f-bold {
  font-family: 'cloudbold' !important;
  font-size: 18px !important;
}
.f-head {
  font-family: 'cloudbold' !important;
  font-size: 24px !important;
}
.fb-18 {
  font-size: 18px !important;
}
.imgKpi {
  width: 100%;
  height: 100%;
}
.textfield-pad-lr-10 {
  padding: 0px 10px 0px 10px !important;
}
.GradeHeader {
  font-family: 'THSarabunNew Bold' !important;
  font-size: 35px !important;
}
.bd-8 {
  border-radius: 8px;
}
.fb-24 {
  font-weight: bold;
  font-size: 24px;
}
.border-top-rad-7 {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.imageProfileSize {
  width: 177px;
  height: 236px;
}
.primary {
  background-color: #5ebb2b !important;
}
.header {
  font-size: 20px !important;
}
.bg-white {
  background-color: white;
}
.v-subheader {
  align-items: flex-end !important;
  padding: 0 0px 0 0px !important;
  font-size: 16px !important;
  color: rgba(0, 0, 0, 0.87) !important;
}
.btncenter {
  justify-content: center;
}
@media only screen and (max-width: 960px) {
  .v-subheader.top {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .v-subheader.center {
    align-items: flex-end !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
@media only screen and (min-width: 961px) {
  .v-subheader.center {
    align-items: center !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .v-subheader.top {
    align-items: flex-start !important;
    padding: 0 0px 0 0px !important;
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }
}
.spacing {
  margin-top: -10px;
}
.mt-15 {
  margin-top: -15px;
}

.input-group__input {
  padding-left: 0.5em;
  font-size: 10px !important;
}

.input-group--hide-details .input-group__details {
  min-height: 2px !important;
  padding: 0;
}

.blockHeader {
  background: #f3f4f5;
  padding: 0.78571429rem 1rem;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  font-weight: 500;
  margin: 1em 0em 1em 0em;
}

.m-t-25 {
  margin-top: -25px;
}

.m-t-5 {
  margin-top: -5px;
}

.input-group label {
  margin-top: 2rem;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.twoline label {
  overflow: unset !important;
  line-height: 20px !important;
  white-space: unset !important;
}
.m-t-0-5 {
  margin-top: 0.5rem !important;
}
.center {
  justify-content: center;
}

/* Modal Zoom */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height: 90%;
  max-width: 1200px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 0px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px !important;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
</style>
