<template>
  <div>
    <AccessorComponent></AccessorComponent>
    <DialogCancelEmpKpiComponent></DialogCancelEmpKpiComponent>
  </div>
</template>

<script>
import AccessorComponent from '@/components/accessor/AccessorApproved';
import DialogCancelEmpKpiComponent from '../../components/accessor/DialogCancelEmpKpi';

export default {
  components: {
    AccessorComponent,
    DialogCancelEmpKpiComponent
  }
};
</script>
