<template>
  <v-app>
    <router-view></router-view>
  </v-app>
</template>

<script>
import Loading from './views/Loading';
export default {
  component: {
    Loading
  }
};
</script>
<style>
@import './assets/style.css';
</style>
