<template>
  <v-app id="bg">
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <v-layout
          align-content-center
          justify-center
          fill-height
          wrap
        >
          <v-flex xs12>
            <v-card
              flat
              class="transparent pa-0 ma-0"
            >
              <v-img
                  width="200"
                  style="margin: 0px auto; margin-top: -40px;"
                  src="../../assets/404.png"
                ></v-img>
            </v-card>
          </v-flex>
          <v-row >
          <v-col cols="12" justify="center" align="center">              
             <h5 class="headline my-3">ไม่พบข้อมูลที่ต้องการ</h5>
          </v-col>
          </v-row>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>



<style lang="css" scoped>
#bg {
  background: white;
}
</style>
